
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.landing-page--VsK {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #003580;

  .auto-group-kk2v-t8m {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.8rem 6.5rem 8.367rem 4.3rem;

    .auto-group-l37b-PNM {
      flex-shrink: 0;
      margin-bottom: 14.1689rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .edupro-r13 {
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 51rem;
        font-size: 4.5rem;
        font-weight: 400;
        line-height: 1.2525;
      }
      .home-Sjw {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 6.4rem 0rem 0rem;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #ffffff;
      }
      .about-us-fMo {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 7rem 0rem 0rem;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #ffffff;
      }
      .contact-hpH {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.4rem 8.8rem 0rem 0rem;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #ffffff;
      }
      .auto-group-yenh-z2h {
        height: 5.5rem;
        font-weight: 600;
        color: #ffffff;
        display: flex;
        justify-content: center;
        border-radius: 2.5rem;
        flex-shrink: 0;
        font-size: 3rem;
        white-space: nowrap;
        align-items: center;
        line-height: 1.3075;
        background-color: #ff9800;
        width: 18.9rem;
        font-family: Assistant, 'Source Sans Pro';
      }
    }
    .auto-group-tjux-juP {
      margin: 0rem 7.766rem 0rem 2.9rem;
      width: calc(100% - 10.6656rem);
      height: 53.5639rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-cs3f-zqK {
        margin: 13.331rem 14.968rem 13.933rem 0rem;
        height: calc(100% - 27.2639rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .pendidikan-terbaik-untuk-masa-depan-Tiu {
          font-size: 7rem;
          font-weight: 700;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 59.1rem;
        }
        .pendidikan-adalah-proses-pembelajaran-memahami-pengetahuan-keterampilan-dan-kebiasaan-LXo {
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 65.4rem;
          font-size: 3rem;
          font-weight: 400;
        }
      }
      .auto-group-ba9t-aBF {
        position: relative;
        flex-shrink: 0;
        width: 49.366rem;
        height: 100%;

        .ellipse-3-fCh {
          position: absolute;
          left: 0.9316rem;
          top: 8.3311rem;
          object-fit: contain;
          vertical-align: top;
          width: 46.7rem;
          height: 45.2rem;
        }
        .rectangle-44-Xkh {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 24.3rem;
          width: 49.366rem;
          height: 53.5639rem;
        }
      }
    }
  }
  .auto-group-kzn5-DNd {
    width: 165.7rem;
    height: 149rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-2561-6SR {
      width: 151.2rem;
      height: 137.9rem;
      position: absolute;
      left: 0;
      top: 8.6rem;
      background-color: #ebf8f6;
    }
    .selamat-datang-di-edupro-kami-adalah-sebuah-platform-pendidikan-daring-yang-berkomitmen-untuk-membantu-anda-mencapai-prestasi-akademik-terbaik-anda-dengan-lebih-dari-5-tahun-pengalaman-dalam-dunia-pendidikan-kami-telah-membantu-ribuan-siswa-meraih-sukses-CkM {
      color: rgba(28, 29, 31, 0.8000000119);
      font-family: Assistant, 'Source Sans Pro';
      width: 131.8rem;
      height: 21rem;
      position: absolute;
      font-size: 4rem;
      font-weight: 400;
      left: 6rem;
      top: 44.4rem;
      line-height: 1.3075;
    }
    .edupro-7F3 {
      font-family: Orbitron, 'Source Sans Pro';
      width: 28.8rem;
      height: 8.8rem;
      top: 33.5rem;
      font-size: 7rem;
      color: #ff9800;
      white-space: nowrap;
      position: absolute;
      left: 4.1rem;
      font-weight: 700;
      line-height: 1.2525;
    }
    .rectangle-52-ZMw {
      left: 16.4rem;
      top: 0;
      background-color: #007dff;
      border-radius: 1rem;
      width: 33.1rem;
      height: 25.1rem;
      position: absolute;
    }
    .icon-box-rrq {
      width: 7.2rem;
      height: 7.2rem;
      position: absolute;
      left: 29.3rem;
      top: 4.7rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 5rem;
    }
    .rectangle-2559-YDs {
      width: 33.1rem;
      height: 25.1rem;
      position: absolute;
      left: 55.4rem;
      top: 0;
      background-color: #007dff;
      border-radius: 1rem;
    }
    .rectangle-2560-fZP {
      top: 0;
      background-color: #007dff;
      border-radius: 1rem;
      width: 33.1rem;
      height: 25.1rem;
      position: absolute;
      left: 94.4rem;
    }
    .icon-box-zrZ {
      border-radius: 5rem;
      width: 7.2rem;
      height: 7.2rem;
      position: absolute;
      left: 68.3rem;
      top: 4.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .icon-box-j3T {
      vertical-align: top;
      border-radius: 5rem;
      width: 7.2rem;
      height: 7.2rem;
      position: absolute;
      left: 107.3rem;
      top: 4.7rem;
      object-fit: contain;
    }
    .belajar-fleksibel-dimana-saja-4Ld {
      text-align: center;
      font-weight: 700;
      line-height: 1.3075;
      color: #ffffff;
      width: 18.1rem;
      height: 6.6rem;
      position: absolute;
      left: 102.75rem;
      top: 14rem;
      font-size: 2.5rem;
      font-family: Assistant, 'Source Sans Pro';
    }
    .akses-materi-sepuasnya-85b {
      font-family: Assistant, 'Source Sans Pro';
      height: 6.6rem;
      position: absolute;
      font-weight: 700;
      text-align: center;
      font-size: 2.5rem;
      line-height: 1.3075;
      color: #ffffff;
      width: 14.3rem;
      left: 65.45rem;
      top: 13.3rem;
    }
    .meningkatkan-minat-belajar-RqP {
      position: absolute;
      top: 13.3rem;
      font-family: Assistant, 'Source Sans Pro';
      color: #ffffff;
      width: 22.4rem;
      height: 6.6rem;
      left: 22.4rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.3075;
    }
    .rectangle-2566-Y9K {
      border-radius: 7rem;
      width: 98.2rem;
      height: 12.7rem;
      position: absolute;
      left: 22.8rem;
      top: 71.8rem;
      background-color: #157afe;
    }
    .rectangle-2567-Tn5 {
      width: 98.2rem;
      height: 12.7rem;
      position: absolute;
      left: 22.8rem;
      top: 86.6rem;
      background-color: #157afe;
      border-radius: 7rem;
    }
    .rectangle-2568-zX7 {
      width: 98.2rem;
      height: 12.7rem;
      position: absolute;
      left: 22.8rem;
      top: 101.4rem;
      background-color: #157afe;
      border-radius: 7rem;
    }
    .kami-selalu-meningkatkan-kurikulum-setiap-tahunnya-demi-meningkatkan-kualitas-pendidikan-dan-pelajaran-v9s {
      width: 61.9rem;
      position: absolute;
      top: 77.3rem;
      line-height: 1.2575;
      color: #ffffff;
      height: 6.3rem;
      left: 44.5rem;
      font-size: 2.5rem;
      font-weight: 400;
      font-family: Arial, 'Source Sans Pro';
    }
    .kami-mendorong-tentor-dan-siswa-untuk-menciptakan-sebuah-kolabarasi-aktif-akD {
      line-height: 1.2575;
      color: #ffffff;
      position: absolute;
      left: 44.5rem;
      top: 92.5rem;
      font-weight: 400;
      font-family: Arial, 'Source Sans Pro';
      width: 64.9rem;
      height: 6.3rem;
      font-size: 2.5rem;
    }
    .tanpa-batas-akses-materi-selama-aktif-mengikuti-pembelajaran-GN9 {
      left: 44.5rem;
      font-family: Arial, 'Source Sans Pro';
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 1.2575;
      color: #ffffff;
      width: 66.5rem;
      height: 3.2rem;
      position: absolute;
      top: 107.1rem;
      white-space: nowrap;
    }
    .inovasi-tentor-siswa-ko7 {
      font-size: 3rem;
      line-height: 1.2575;
      white-space: nowrap;
      height: 3.8rem;
      position: absolute;
      left: 44.5rem;
      top: 88.5rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Arial, 'Source Sans Pro';
      width: 30.9rem;
    }
    .kurikulum-terbaru-f9P {
      height: 3.8rem;
      position: absolute;
      left: 44.5rem;
      top: 73.5rem;
      font-size: 3rem;
      line-height: 1.2575;
      width: 25rem;
      font-weight: 700;
      color: #ffffff;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
    }
    .akses-selamanya-my7 {
      position: absolute;
      top: 103.2rem;
      font-size: 3rem;
      color: #ffffff;
      white-space: nowrap;
      width: 24.6rem;
      height: 3.8rem;
      left: 44.5rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: Arial, 'Source Sans Pro';
    }
    .cil-book-gaH {
      width: 8.0328rem;
      height: 9.0001rem;
      position: absolute;
      left: 30.3578rem;
      top: 73.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .game-icons-teacher-1cZ {
      object-fit: contain;
      vertical-align: top;
      width: 11.6649rem;
      height: 8.4239rem;
      position: absolute;
      left: 28.5675rem;
      top: 88.9607rem;
    }
    .ic-sharp-access-alarms-kKF {
      vertical-align: top;
      width: 7.4167rem;
      height: 7.6592rem;
      position: absolute;
      left: 32.0417rem;
      top: 103.8825rem;
      object-fit: contain;
    }
    .rectangle-2570-fx1 {
      height: 7.3rem;
      position: absolute;
      left: 0;
      top: 141.7rem;
      background-color: #003580;
      width: 165.7rem;
    }
    .group-148-1ky {
      width: 26.2rem;
      height: 15.5034rem;
      position: absolute;
      left: 123.7rem;
      top: 123.3483rem;

      .vector-9cH {
        position: absolute;
        left: 0.3rem;
        top: 13.2517rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7rem;
        height: 2.2rem;
      }
      .group-31-5kq {
        vertical-align: top;
        width: 2.1rem;
        height: 1.5514rem;
        position: absolute;
        left: 0;
        top: 9.7517rem;
        object-fit: contain;
      }
      .vector-R41 {
        width: 1.7rem;
        height: 2rem;
        position: absolute;
        left: 0;
        top: 5.4517rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-30-A1b {
        left: 0.4rem;
        top: 0;
        width: 25.8rem;
        height: 15.5034rem;
        position: absolute;

        .contact-us-5uF {
          margin-bottom: 2.8017rem;
          display: flex;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 0.96;
          color: #2c7dc7;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
        }
        .wwweduprocom-Qgd {
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.5rem 2.7rem;
          display: flex;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 0.96;
          color: #1c1d1f;
        }
        .bimbeleduprocom-Kob {
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.602rem 2.7rem;
          display: flex;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 0.96;
          color: #1c1d1f;
        }
        .item-022-7806125-e5B {
          line-height: 0.96;
          color: #1c1d1f;
          font-family: Lato, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 2.7553rem;
          display: flex;
          font-size: 2.5rem;
          font-weight: 500;
        }
      }
    }
  }
}
