
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.mapel-ybT {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;

  .auto-group-4gaz-VZo {
    height: 8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;

    .auto-group-ryqz-EnH {
      box-sizing: border-box;
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;

      .edupro-ZpZ {
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2525;
      }
      .ic-round-list-hA5 {
        width: 3.225rem;
        height: 1.7916rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0002rem;
      }
    }
    .rectangle-2575-c29 {
      width: 121.3rem;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
  }
  .auto-group-dfn5-vYd {
    margin-right: 2.9rem;
    width: calc(100% - 2.9rem);
    height: 90.2rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-vmdw-S1B {
      width: 29.9rem;
      align-items: center;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 2.9rem;
      box-sizing: border-box;
      padding: 5.8rem 1.7rem 25.9rem 1.7rem;
      height: 100%;
      flex-direction: column;
      border: solid 0.02rem #000000;

      .ellipse-4-WWq {
        margin: 0rem 8.7rem 1.2rem 8.8rem;
        width: calc(100% - 17.5rem);
        height: 9rem;
        background-color: #d9d9d9;
        border-radius: 4.5rem;
        flex-shrink: 0;
      }
      .username-ESq {
        font-weight: 400;
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
      }
      .admin-edupro-MGZ {
        margin: 0rem 0rem 7.2rem 0.5rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-6mhw-GeR {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 12.8rem 2.9rem 2.179rem;
        width: calc(100% - 14.9791rem);

        .icon-park-twotone-dashboard-car-a9K {
          margin: 0.2rem 1.579rem 0rem 0rem;
          width: 1.7416rem;
          height: 1.65rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashboard-1VX {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .master-data-jwK {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 13.5rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
      }
      .auto-group-v5p3-fa5 {
        width: calc(100% - 19.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 17.5rem 2.38rem 1.7rem;

        .mdi-users-zcM {
          margin: 0rem 1.9rem 0.1rem 0rem;
          width: 2rem;
          height: 1.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .user-7ws {
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-b1gh-Dk1 {
        margin: 0rem 16.8rem 1.8rem 1.726rem;
        width: calc(100% - 18.5262rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .ant-design-home-twotone-8MB {
          width: 1.9479rem;
          height: 1.8396rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.926rem;
        }
        .kelas-rHB {
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          margin-top: 0.0201rem;
          font-size: 1.8rem;
          line-height: 1.3075;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 400;
          white-space: nowrap;
        }
      }
      .auto-group-dl45-ysb {
        display: flex;
        border-radius: 0.5rem;
        background-color: #003580;
        flex-shrink: 0;
        margin: 0rem 2rem 1.5rem 0rem;
        box-sizing: border-box;
        padding: 0.6rem 14.3rem 0.9rem 1.825rem;
        width: calc(100% - 2rem);
        align-items: center;

        .ph-book-open-duotone-HtH {
          margin: 0.388rem 2.025rem 0rem 0rem;
          width: 1.75rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .mapel-1pH {
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .user-menu-WW9 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 15.3rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
      }
      .auto-group-vfrw-dam {
        width: calc(100% - 18.1334rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 16rem 2.4rem 2.133rem;

        .iconamoon-profile-MWm {
          margin: 0rem 2.133rem 0.3rem 0rem;
          width: 1.3334rem;
          height: 1.2666rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .profile-g3F {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
        }
      }
      .auto-group-hz8d-1rD {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 15.6rem 0rem 2.113rem;
        width: calc(100% - 17.7125rem);

        .material-symbols-logout-rounded-XpZ {
          width: 1.2467rem;
          height: 1.35rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.241rem 0.4rem 0rem;
        }
        .logout-BeD {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .group-698-toX {
      background-color: #ffffff;
      height: 58.3rem;
      border: solid 0.02rem #000000;
      position: relative;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-top: 3.3rem;
      width: 115.5rem;

      .auto-group-uxcr-2Pw {
        align-items: center;
        width: 65rem;
        height: 3.6rem;
        position: absolute;
        left: 4.7rem;
        top: 11.9rem;
        display: flex;

        .hasil--MBK {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #555555;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1.5rem 0.1rem 0rem;
        }
        .auto-group-3npf-GZB {
          position: relative;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 0.4rem;
          flex-shrink: 0;
          margin-right: 43.4rem;
          width: 5rem;
          height: 100%;

          .all-cd3 {
            height: 2.1rem;
            top: 0.7rem;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            width: 2.4rem;
            left: 0.7rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #555555;
            position: absolute;
          }
          .mingcute-right-line-h8h {
            left: 3rem;
            top: 1.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.5072rem;
            height: 1.6rem;
            position: absolute;
          }
        }
        .auto-group-gxbj-yc1 {
          border-radius: 0.4rem;
          flex-shrink: 0;
          padding: 0.7rem 1rem 0.8rem 0.8rem;
          height: 100%;
          align-items: center;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;
          display: flex;
          background-color: #ffffff;

          .cari-data-ukZ {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 0.8rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #7c838a;
          }
          .iconamoon-search-T1P {
            margin-top: 0.1rem;
            width: 1.2rem;
            height: 1.35rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .mata-pelajaran-X1F {
        font-weight: 700;
        line-height: 1.3075;
        color: #555555;
        white-space: nowrap;
        height: 3.2rem;
        position: absolute;
        top: 0.8rem;
        font-family: Assistant, 'Source Sans Pro';
        width: 15.6rem;
        left: 3.4rem;
        font-size: 2.4rem;
      }
      .auto-group-rddf-kub {
        width: 52.4rem;
        height: 3.2rem;
        position: absolute;
        left: 9rem;
        top: 19.8rem;
        display: flex;
        align-items: flex-start;

        .no-h49 {
          flex-shrink: 0;
          margin-right: 21.6rem;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #003580;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mapel-EZs {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.8rem;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #003580;
        }
        .opsi-n5b {
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #003580;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.3rem;
        }
      }
      .auto-group-sdmw-vSh {
        position: absolute;
        display: flex;
        background-color: #007dff;
        box-sizing: border-box;
        width: 13.1rem;
        height: 4rem;
        align-items: center;
        border-radius: 0.4rem;
        padding: 0.8rem 2.5rem 0.8rem 0.7rem;
        left: 3.4rem;
        top: 5.5rem;

        .mingcute-user-add-fill-RPT {
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 2.4rem;
        }
        .tambah-XSV {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-694-rDs {
        top: 44.5rem;
        display: flex;
        align-items: center;
        width: 10.4rem;
        height: 3.5rem;
        position: absolute;
        left: 46.4rem;

        .auto-group-eitf-a9s {
          margin-right: 0.6117rem;
          width: 3.0588rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-vusr-i1B {
          background-repeat: no-repeat;
          background-position: center;
          flex-shrink: 0;
          width: 3.0588rem;
          background-size: cover;
          justify-content: center;
          height: 100%;
          color: #ffffff;
          white-space: nowrap;
          margin-right: 0.6119rem;
          line-height: 1.3075;
          font-family: Assistant, 'Source Sans Pro';
          display: flex;
          align-items: center;
          background-image: url('REPLACE_IMAGE:9:230');
          font-size: 1.6rem;
          font-weight: 600;
        }
        .auto-group-pqxs-B9f {
          width: 3.0588rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-s7zw-4UM {
        height: 3.5rem;
        position: absolute;
        left: 10rem;
        top: 25.8rem;
        display: flex;
        align-items: flex-start;
        width: 53.2rem;

        .item-1-PFj {
          flex-shrink: 0;
          margin-right: 22.5rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #4c4e52;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
        .biologi-vFf {
          margin: 0.1rem 15.8rem 0rem 0rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #4c4e52;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .group-691-F33 {
          flex-shrink: 0;
          width: 7.9rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-j2s1-yzd {
        top: 32.8rem;
        display: flex;
        align-items: center;
        width: 53.6rem;
        height: 3.5rem;
        position: absolute;
        left: 9.6rem;

        .item-2-tLu {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 22.8rem 0.4rem 0rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #4c4e52;
          font-family: Assistant, 'Source Sans Pro';
        }
        .fisika-R5w {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 16.8rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #4c4e52;
          font-family: Assistant, 'Source Sans Pro';
        }
        .group-690-xrZ {
          width: 7.9rem;
          height: 3.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .saly-26-umo {
        position: absolute;
        left: 81.6rem;
        top: 8.9rem;
        width: 28.3rem;
        height: 35.8rem;

        .saly-26-rS9 {
          object-fit: cover;
          vertical-align: top;
          width: 28.3rem;
          height: 35.8rem;
        }
      }
      .line-14-149 {
        width: 66.7rem;
        height: 0.02rem;
        position: absolute;
        left: 2.4rem;
        top: 38.9rem;
        background-color: #000000;
      }
      .line-13-KqX {
        width: 66.7rem;
        height: 0.02rem;
        position: absolute;
        left: 2.4rem;
        top: 31.2rem;
        background-color: #000000;
      }
      .line-12-drD {
        background-color: #000000;
        width: 66.3rem;
        height: 0.06rem;
        position: absolute;
        left: 3.4rem;
        top: 23.6rem;
      }
      .line-11-nDK {
        height: 0.06rem;
        position: absolute;
        left: 3.4rem;
        top: 18.9rem;
        background-color: #000000;
        width: 66.3rem;
      }
    }
  }
}
