
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.tugas-Zcy {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
  width: 100%;
  overflow: hidden;

  .auto-group-rzqb-Wo7 {
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 8rem;
    display: flex;

    .auto-group-ttef-FEu {
      box-sizing: border-box;
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;

      .edupro-B8Z {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2525;
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
      }
      .ic-round-list-t2y {
        height: 1.7917rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0001rem;
        width: 3.225rem;
      }
    }
    .rectangle-2575-bi5 {
      width: 121.3rem;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
  }
  .auto-group-7mtw-YdK {
    margin-right: 60.6rem;
    width: calc(100% - 60.6rem);
    height: 90.2rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-h6v9-YFw {
      margin-right: 6.3rem;
      box-sizing: border-box;
      height: 100%;
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 5.8rem 2.7rem 25.9rem 2.7rem;
      width: 29.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .ellipse-4-dYH {
        width: calc(100% - 15.5rem);
        height: 9rem;
        background-color: #d9d9d9;
        border-radius: 4.5rem;
        flex-shrink: 0;
        margin: 0rem 7.7rem 1.2rem 7.8rem;
      }
      .username-YQM {
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
      }
      .siswa-edupro-G5T {
        flex-shrink: 0;
        margin-bottom: 6.8rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-mjbd-nJh {
        margin: 0rem 11.7rem 3.3rem 0.479rem;
        width: calc(100% - 12.1792rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-park-twotone-dashboard-car-WVb {
          margin: 0rem 2.379rem 0.167rem 0rem;
          width: 1.7417rem;
          height: 1.4667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashboard-R6m {
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
        }
      }
      .siswa-menu-kPw {
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .auto-group-ddy5-g2h {
        flex-shrink: 0;
        margin: 0rem 15.2rem 1.3rem 1.044rem;
        width: calc(100% - 16.2438rem);
        display: flex;
        align-items: flex-end;

        .ph-book-open-duotone-od7 {
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.544rem 0.144rem 0rem;
          width: 2.0125rem;
        }
        .materi-vhj {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-cmzv-UDT {
        margin-bottom: 2rem;
        box-sizing: border-box;
        padding: 0.5rem 15.5rem 1rem 1.259rem;
        width: 100%;
        align-items: center;
        border-radius: 0.5rem;
        display: flex;
        background-color: #003580;
        flex-shrink: 0;

        .ph-book-duotone-PrD {
          margin: 0.3rem 1.759rem 0rem 0rem;
          width: 1.5813rem;
          height: 1.7063rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tugas-itV {
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .auto-group-ghcf-Ebw {
        width: calc(100% - 15.575rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.4rem 2.4rem 1.175rem;

        .healthicons-i-exam-multiple-choice-aA1 {
          flex-shrink: 0;
          margin: 0.1rem 1.775rem 0rem 0rem;
          width: 1.65rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
        }
        .try-out-HaD {
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .user-menu-pq3 {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 15.4rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
      }
      .auto-group-h1e3-M4H {
        margin: 0rem 15rem 2.4rem 0.9rem;
        width: calc(100% - 15.9rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .iconamoon-profile-5FB {
          height: 2.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 2.3rem;
        }
        .profile-cW1 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .auto-group-sz9m-xJy {
        flex-shrink: 0;
        margin: 0rem 14.6rem 0rem 1.138rem;
        width: calc(100% - 15.7375rem);
        display: flex;
        align-items: center;

        .material-symbols-logout-rounded-HMF {
          margin: 0rem 2.069rem 0.4rem 0rem;
          width: 1.3934rem;
          height: 1.35rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .logout-1HF {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
        }
      }
    }
    .auto-group-6ljw-XmP {
      margin-top: 6.6rem;
      row-gap: 4.3rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .group-670-rof {
        display: flex;
        border-radius: 0.8rem;
        align-items: center;
        width: 54.2rem;
        cursor: pointer;
        flex-direction: column;
        border: solid 0.001rem #000000;
        box-sizing: border-box;
        background-color: rgba(176, 186, 195, 0.400000006);
        flex-shrink: 0;
        margin-right: 0.2rem;

        .auto-group-f2sf-nhK {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          font-size: 2rem;
          line-height: 1.3075;
          white-space: nowrap;
          padding: 0.6rem 2.2rem 0rem 2.2rem;
          font-weight: 700;
          color: #1c1d1f;
          font-family: Assistant, 'Source Sans Pro';
          background-color: #acb6c0;
        }
        .auto-group-mgm1-GsP {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 1.84rem 0.9rem 1.84rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-jp2k-osK {
            margin: 0rem 22.16rem 0.6rem 0rem;
            width: calc(100% - 22.16rem);
            height: 5rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .pepicons-print-file-XoK {
              flex-shrink: 0;
              margin: 0.19rem 2.08rem 0rem 0rem;
              width: 2.88rem;
              height: 3.6101rem;
              object-fit: contain;
              vertical-align: top;
            }
            .auto-group-a8vh-pnR {
              width: 23.4rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .kimia-unsur-dan-senyawa-mxZ {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.3075;
                font-family: Assistant, 'Source Sans Pro';
                width: 23.4rem;
                height: 2.7rem;
                color: #1c1d1f;
                white-space: nowrap;
              }
              .kelas-xii-c-GPX {
                width: 7.6rem;
                position: absolute;
                font-weight: 400;
                line-height: 1.3075;
                color: #7c838a;
                height: 2.4rem;
                left: 0;
                top: 2.6rem;
                font-size: 1.8rem;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .add-submission-n6y {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 4.96rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #7c838a;
          }
        }
      }
      .group-671-Tiu {
        width: 54.2rem;
        cursor: pointer;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 0.8rem;
        border: solid 0.001rem #000000;
        background-color: rgba(176, 186, 195, 0.400000006);
        flex-shrink: 0;

        .auto-group-mslo-cLu {
          width: 100%;
          line-height: 1.3075;
          white-space: nowrap;
          flex-shrink: 0;
          background-color: #acb6c0;
          border-radius: 0.8rem;
          box-sizing: border-box;
          padding: 0.6rem 2.2rem 0rem 2.2rem;
          font-size: 2rem;
          font-weight: 700;
          color: #1c1d1f;
          font-family: Assistant, 'Source Sans Pro';
        }
        .auto-group-xisd-TcR {
          box-sizing: border-box;
          padding: 2rem 1.84rem 0.9rem 1.84rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-4ebm-zsF {
            height: 5rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 22.16rem 0.6rem 0rem;
            width: calc(100% - 22.16rem);

            .pepicons-print-file-ioF {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.19rem 2.08rem 0rem 0rem;
              width: 2.88rem;
              height: 3.6101rem;
              object-fit: contain;
            }
            .auto-group-zbcp-r8m {
              position: relative;
              flex-shrink: 0;
              width: 23.4rem;
              height: 100%;

              .kimia-unsur-dan-senyawa-1GZ {
                font-weight: 600;
                height: 2.7rem;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 2rem;
                line-height: 1.3075;
                color: #1c1d1f;
                font-family: Assistant, 'Source Sans Pro';
                width: 23.4rem;
                white-space: nowrap;
              }
              .kelas-xii-c-6Yu {
                width: 7.6rem;
                height: 2.4rem;
                position: absolute;
                font-weight: 400;
                line-height: 1.3075;
                color: #7c838a;
                white-space: nowrap;
                left: 0;
                top: 2.6rem;
                font-size: 1.8rem;
                font-family: Assistant, 'Source Sans Pro';
              }
            }
          }
          .add-submission-1Qy {
            font-weight: 600;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 4.96rem;
            font-size: 1.8rem;
          }
        }
      }
      .group-672-5Qq {
        flex-shrink: 0;
        width: 54.2rem;
        display: flex;
        border: solid 0.001rem #000000;
        box-sizing: border-box;
        background-color: rgba(176, 186, 195, 0.400000006);
        border-radius: 0.8rem;
        cursor: pointer;
        align-items: center;
        flex-direction: column;

        .auto-group-bvyh-2ay {
          background-color: #acb6c0;
          flex-shrink: 0;
          padding: 0.6rem 2.2rem 0rem 2.2rem;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.3075;
          color: #1c1d1f;
          font-family: Assistant, 'Source Sans Pro';
          border-radius: 0.8rem;
          box-sizing: border-box;
          width: 100%;
        }
        .auto-group-mnvh-WFF {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 1.84rem 0.9rem 1.84rem;
          width: 100%;

          .auto-group-1675-SPo {
            width: calc(100% - 22.16rem);
            height: 5rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 22.16rem 0.6rem 0rem;

            .pepicons-print-file-AKo {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.19rem 2.08rem 0rem 0rem;
              width: 2.88rem;
              height: 3.6101rem;
            }
            .auto-group-pfes-4AH {
              width: 23.4rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .kimia-unsur-dan-senyawa-p9T {
                color: #1c1d1f;
                white-space: nowrap;
                position: absolute;
                top: 0;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.3075;
                font-family: Assistant, 'Source Sans Pro';
                width: 23.4rem;
                height: 2.7rem;
                left: 0;
              }
              .kelas-xii-c-jXK {
                color: #7c838a;
                white-space: nowrap;
                width: 7.6rem;
                position: absolute;
                left: 0;
                top: 2.6rem;
                font-weight: 400;
                line-height: 1.3075;
                height: 2.4rem;
                font-size: 1.8rem;
                font-family: Assistant, 'Source Sans Pro';
              }
            }
          }
          .add-submission-FEm {
            margin-left: 4.96rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
