
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.akses-materi-1--r2q {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #ebf8f6;
}
.akses-materi-1--r2q .auto-group-aphz-nhB {
  width: 29.9rem;
  height: 98.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-l7r5-8FF {
  box-sizing: border-box;
  padding: 2rem 1.838rem 1.9rem 1.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #003580;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-l7r5-8FF .edupro-EJH {
  margin-right: 9.7375rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2525;
  color: #ff9800;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-l7r5-8FF .ic-round-list-jkq {
  margin-top: 0.0001rem;
  width: 3.225rem;
  height: 1.7917rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy {
  box-sizing: border-box;
  padding: 5.8rem 2.6rem 25.9rem 2.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.02rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .ellipse-4-yfB {
  margin: 0rem 7.8rem 1.2rem 7.7rem;
  width: calc(100% - 15.5rem);
  height: 9rem;
  background-color: #d9d9d9;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .username-VNd {
  margin-right: 0.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .siswa-edupro-cy3 {
  margin: 0rem 0.2rem 7.7rem 0rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-jzdh-uhF {
  margin: 0rem 11.8rem 2.4rem 0.092rem;
  width: calc(100% - 11.8917rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-jzdh-uhF .icon-park-twotone-dashboard-car-EUd {
  margin: 0.1rem 2.392rem 0rem 0rem;
  width: 2.0167rem;
  height: 2.1083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-jzdh-uhF .dashboard-9bb {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .siswa-menu-6Fw {
  margin: 0rem 14.8rem 2.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-uizh-ow3 {
  margin-bottom: 1.8rem;
  box-sizing: border-box;
  padding: 0.9rem 15.3rem 0.6rem 0.938rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #003580;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-uizh-ow3 .ph-book-open-duotone-uz5 {
  margin: 0.388rem 1.638rem 0rem 0rem;
  width: 1.925rem;
  height: 1.725rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-uizh-ow3 .materi-cdb {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-3fjk-eqB {
  margin: 0rem 15.6rem 2.4rem 1.144rem;
  width: calc(100% - 16.7438rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-3fjk-eqB .ph-book-duotone-ngV {
  margin: 0.1rem 1.844rem 0rem 0rem;
  width: 1.5125rem;
  height: 1.8688rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-3fjk-eqB .tugas-iKF {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-anz9-rRT {
  margin: 0rem 14.5rem 2.4rem 1.075rem;
  width: calc(100% - 15.575rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-anz9-rRT .healthicons-i-exam-multiple-choice-Zam {
  margin: 0.1rem 1.775rem 0rem 0rem;
  width: 1.65rem;
  height: 1.725rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-anz9-rRT .try-out-5Z7 {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .user-menu-cow {
  margin: 0rem 15.5rem 3rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-f8d1-kQM {
  margin: 0rem 15.1rem 2.4rem 1.167rem;
  width: calc(100% - 16.2667rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-f8d1-kQM .iconamoon-profile-goo {
  margin: 0.1rem 1.867rem 0rem 0rem;
  width: 1.4667rem;
  height: 1.5333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-f8d1-kQM .profile-o7j {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-cgpd-WXw {
  margin: 0rem 14.7rem 0rem 1.075rem;
  width: calc(100% - 15.775rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-cgpd-WXw .material-symbols-logout-rounded-Dx9 {
  margin: 0rem 1.812rem 0.4rem 0rem;
  width: 1.6134rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-aphz-nhB .auto-group-6pnb-GEy .auto-group-cgpd-WXw .logout-wdF {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .image-17-FP3 {
  margin: 0rem 37.3rem 11.4rem 0rem;
  width: 5.2rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm {
  margin-bottom: 1.4rem;
  width: 121.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .rectangle-2575-VYH {
  width: 100%;
  height: 8rem;
  background-color: #2b7cc6;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w {
  box-sizing: border-box;
  padding: 6.7rem 2.3rem 0rem 2.3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-bccj-mkh {
  margin: 0rem 7.9rem 4.6rem 4rem;
  box-sizing: border-box;
  padding: 1.3rem 49.1rem 1.4rem 1.3rem;
  width: calc(100% - 11.9rem);
  display: flex;
  align-items: flex-start;
  border: solid 0.04rem #000000;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-bccj-mkh .image-19-rXF {
  margin-right: 5.6rem;
  width: 25.9rem;
  height: 12.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-bccj-mkh .hakikat-ilmu-kimia-CLD {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-vymh-fUh {
  margin: 0rem 7.9rem 5.5rem 4rem;
  box-sizing: border-box;
  padding: 1.3rem 47.3rem 1.4rem 1.3rem;
  width: calc(100% - 11.9rem);
  display: flex;
  align-items: flex-start;
  border: solid 0.04rem #000000;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-vymh-fUh .maxresdefault-1-M6d {
  margin-right: 5.6rem;
  width: 25.9rem;
  height: 12.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-vymh-fUh .larutan-elektrolit-HW5 {
  margin-top: 0.8rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-jspz-4fF {
  margin: 0rem 7.9rem 5.5rem 4rem;
  box-sizing: border-box;
  padding: 1.2rem 54.6rem 1.4rem 1.3rem;
  width: calc(100% - 11.9rem);
  display: flex;
  align-items: flex-start;
  border: solid 0.04rem #000000;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-jspz-4fF .hq720-1-a7o {
  margin-right: 5.6rem;
  width: 25.9rem;
  height: 12.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-jspz-4fF .senyawa-kimia-W1T {
  margin-top: 0.4rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-pdtr-BdP {
  margin: 0rem 7.9rem 2.3rem 4rem;
  box-sizing: border-box;
  padding: 1.3rem 41.9rem 1.4rem 1.3rem;
  width: calc(100% - 11.9rem);
  display: flex;
  align-items: flex-start;
  border: solid 0.04rem #000000;
  background-color: #ffffff;
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-pdtr-BdP .hqdefault-1-gKF {
  margin-right: 5.2rem;
  width: 25.9rem;
  height: 12.5rem;
  position: relative;
  background-size: 100% 138.462%;
  background-position: 0rem -2.3558rem;
  background-image: url('../assets/hqdefault-1.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .auto-group-pdtr-BdP .titik-didih-dan-titik-beku-xnZ {
  margin-top: 0.3rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .group-675-fgy {
  margin-right: 103.7rem;
  box-sizing: border-box;
  padding: 0.6rem 2.3rem 0.5rem 0.8rem;
  width: calc(100% - 103.7rem);
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #d14747;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .group-675-fgy .vector-ySm {
  margin-right: 1.8rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.akses-materi-1--r2q .auto-group-yyyz-NCm .auto-group-yly3-r7w .group-675-fgy .kembali-84m {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
