
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.detail-upload-tugas-2--TTB {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
}
.detail-upload-tugas-2--TTB .auto-group-eeqk-mim {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-eeqk-mim .auto-group-2wbd-vbf {
  box-sizing: border-box;
  padding: 2rem 1.838rem 1.9rem 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #003580;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-eeqk-mim .auto-group-2wbd-vbf .edupro-TLh {
  margin-right: 9.7375rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2525;
  color: #ff9800;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-eeqk-mim .auto-group-2wbd-vbf .ic-round-list-ypq {
  margin-top: 0.0001rem;
  width: 3.225rem;
  height: 1.7917rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-eeqk-mim .rectangle-2575-Gow {
  width: 121.3rem;
  height: 8rem;
  background-color: #2b7cc6;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ {
  margin-right: 4.8rem;
  width: calc(100% - 4.8rem);
  height: 90.2rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 {
  margin-right: 6.3rem;
  box-sizing: border-box;
  padding: 5.8rem 2.7rem 25.9rem 2.7rem;
  width: 29.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .ellipse-4-rGM {
  margin: 0rem 7.7rem 1.2rem 7.8rem;
  width: calc(100% - 15.5rem);
  height: 9rem;
  background-color: #d9d9d9;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .username-yLy {
  margin-right: 0.1rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .siswa-edupro-uEd {
  margin-bottom: 7.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-nslw-EGu {
  margin: 0rem 11.7rem 2.4rem 0.783rem;
  width: calc(100% - 12.4833rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-nslw-EGu .icon-park-twotone-dashboard-car-Lqj {
  margin: 0rem 1.983rem 0.1rem 0rem;
  width: 1.8333rem;
  height: 1.5583rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-nslw-EGu .dashboard-ebX {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .siswa-menu-nSq {
  margin: 0rem 14.6rem 3rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-6p4p-WNq {
  margin: 0rem 15.2rem 1.3rem 1.038rem;
  width: calc(100% - 16.2375rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-6p4p-WNq .ph-book-open-duotone-qg1 {
  margin: 0rem 1.638rem 0.144rem 0rem;
  width: 1.925rem;
  height: 1.725rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-6p4p-WNq .materi-ATP {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-h6zp-K5P {
  margin-bottom: 2rem;
  box-sizing: border-box;
  padding: 0.7rem 15.4rem 0.8rem 1.244rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #003580;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-h6zp-K5P .ph-book-duotone-e7f {
  margin: 0.1rem 1.944rem 0rem 0rem;
  width: 1.5125rem;
  height: 1.7063rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-h6zp-K5P .tugas-a1K {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-edp7-ems {
  margin: 0rem 14.4rem 2.4rem 1.175rem;
  width: calc(100% - 15.575rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-edp7-ems .healthicons-i-exam-multiple-choice-vzH {
  margin: 0.1rem 1.775rem 0rem 0rem;
  width: 1.65rem;
  height: 1.725rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-edp7-ems .try-out-rN9 {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .user-menu-jwj {
  margin: 0rem 15.4rem 3rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-jznb-sHF {
  margin: 0rem 15rem 2.4rem 0.9rem;
  width: calc(100% - 15.9rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-jznb-sHF .iconamoon-profile-oAu {
  margin-right: 1.5rem;
  width: 2.2rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-jznb-sHF .profile-vFX {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-jjkm-TWM {
  margin: 0rem 14.6rem 0rem 1.138rem;
  width: calc(100% - 15.7375rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-jjkm-TWM .material-symbols-logout-rounded-CTw {
  margin: 0rem 2.069rem 0.225rem 0rem;
  width: 1.3934rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-hvlp-kz1 .auto-group-jjkm-TWM .logout-KYZ {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB {
  margin-bottom: 1.2rem;
  width: 110.2rem;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh {
  margin-bottom: 0.8rem;
  width: 100%;
  height: 81.2rem;
  position: relative;
  box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .line-5-7DX {
  width: 109.7001rem;
  height: 0.06rem;
  position: absolute;
  left: 0;
  top: 16.8rem;
  background-color: #7c838a;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .tentor-aryasaty-kelas-xii-d-mapel-kimia-due-date-2023-10-21-23-59-Smb {
  width: 19.1rem;
  height: 8.4rem;
  position: absolute;
  left: 6rem;
  top: 6.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .kimia-unsur-dan-senyawa-u9P {
  width: 25.7rem;
  height: 2.9rem;
  position: absolute;
  left: 4.5rem;
  top: 3.3rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-snap-QM3 {
  box-sizing: border-box;
  padding-bottom: 9.7rem;
  width: 96.6rem;
  height: 38.7rem;
  position: absolute;
  left: 7.2rem;
  top: 22.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.05rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-snap-QM3 .auto-group-bhsq-v4V {
  margin-bottom: 8.4rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-snap-QM3 .auto-group-bhsq-v4V .auto-group-23md-4gV {
  box-sizing: border-box;
  padding: 1.2rem 2.3rem 0.9rem 2.3rem;
  width: 82.9rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-snap-QM3 .auto-group-bhsq-v4V .auto-group-uobh-wEV {
  box-sizing: border-box;
  padding: 1.1rem 1.9rem 1rem 1.9rem;
  width: 13.7rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #2b7cc6;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-snap-QM3 .et-pictures-p3P {
  margin-right: 1.2rem;
  width: 18.8rem;
  height: 16.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-weps-6Wh {
  box-sizing: border-box;
  padding: 0.5rem 1.5rem 0.4rem 1.2rem;
  width: 14.3rem;
  height: 3.3rem;
  position: absolute;
  left: 7.2rem;
  top: 18.9rem;
  display: flex;
  align-items: center;
  border: solid 0.05rem #000000;
  background-color: #ffffff;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-weps-6Wh .upload-file-yqP {
  margin-right: 0.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #000000;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-weps-6Wh .vector-iny {
  width: 2.3rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-whrm-RxH {
  width: 26.4rem;
  height: 3.6rem;
  position: absolute;
  left: 3rem;
  top: 75.8rem;
  display: flex;
  align-items: flex-end;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-whrm-RxH .group-673-xBX {
  margin: 0.2rem 1.7rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.6rem 2.3rem 0.5rem 0.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: #d14747;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-whrm-RxH .group-673-xBX .vector-sJV {
  margin-right: 1.8rem;
  width: 2.1rem;
  height: 2.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-whrm-RxH .group-673-xBX .kembali-bEV {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-whrm-RxH .auto-group-cdqd-WcM {
  box-sizing: border-box;
  padding: 0.8rem 1.4rem 0.5rem 1.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #2b7cc6;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-whrm-RxH .auto-group-cdqd-WcM .vector-rAR {
  margin: 0rem 1.2rem 0.5rem 0rem;
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .auto-group-e1x1-zeh .auto-group-whrm-RxH .auto-group-cdqd-WcM .simpan-PRF {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.detail-upload-tugas-2--TTB .auto-group-f7x7-paZ .auto-group-ldfz-SdB .fluent-save-24-regular-t77 {
  margin-left: 18.8rem;
  width: 2.4rem;
  height: 2.4rem;
  overflow: hidden;
  position: relative;
}
