
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.materi-tentor-QBP {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ebf8f6;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj {
  width: 29.9rem;
  height: 100.5rem;
  position: relative;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .rectangle-2572-4mj {
  width: 29.9rem;
  height: 94.3rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  border: solid 0.02rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .rectangle-2637-PZ7 {
  width: 24.5rem;
  height: 3.9rem;
  position: absolute;
  left: 2.7rem;
  top: 44.9rem;
  background-color: #003580;
  border-radius: 0.5rem;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .rectangle-2574-7k1 {
  width: 29.9rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #003580;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .ellipse-4-rxV {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 10.5rem;
  top: 13.8rem;
  background-color: #d9d9d9;
  border-radius: 4.5rem;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .edupro-PxR {
  width: 13.2rem;
  height: 4.1rem;
  position: absolute;
  left: 1.9rem;
  top: 2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2525;
  color: #ff9800;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .ic-round-list-VkZ {
  width: 3.225rem;
  height: 1.7917rem;
  position: absolute;
  left: 24.8375rem;
  top: 3.1542rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .username-pXw {
  width: 6.8rem;
  height: 2.1rem;
  position: absolute;
  left: 11.5rem;
  top: 24rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .dashboard-vay {
  width: 8.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.2rem;
  top: 35.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .tentor-menu-2tu {
  width: 9.9rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .user-menu-YcM {
  width: 7.4rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 60rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .icon-park-twotone-dashboard-car-rd3 {
  width: 1.7417rem;
  height: 1.65rem;
  position: absolute;
  left: 3.8792rem;
  top: 35.675rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .iconamoon-profile-aZ3 {
  width: 1.3333rem;
  height: 1.2667rem;
  position: absolute;
  left: 3.8333rem;
  top: 65.5167rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .material-symbols-logout-rounded-KFj {
  width: 1.2467rem;
  height: 1.35rem;
  position: absolute;
  left: 3.8125rem;
  top: 70.225rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .ph-book-open-duotone-Sr9 {
  width: 1.75rem;
  height: 1.725rem;
  position: absolute;
  left: 3.725rem;
  top: 46.0313rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .ph-book-duotone-nQD {
  width: 1.65rem;
  height: 1.7875rem;
  position: absolute;
  left: 3.675rem;
  top: 50.7063rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .healthicons-i-exam-multiple-choice-X6u {
  width: 1.875rem;
  height: 1.65rem;
  position: absolute;
  left: 3.4125rem;
  top: 55.475rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .tentor-edupro-SUm {
  width: 8.4rem;
  height: 1.9rem;
  position: absolute;
  left: 10.5rem;
  top: 26.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .materi-Ynh {
  width: 4.7rem;
  height: 2.4rem;
  position: absolute;
  left: 7.3rem;
  top: 45.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .tugas-fcR {
  width: 4.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.3rem;
  top: 50.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .try-out-aUV {
  width: 5.5rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.3rem;
  top: 55.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .profile-h3K {
  width: 4.9rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.3rem;
  top: 65.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-fhpr-Lqj .logout-os3 {
  width: 5.3rem;
  height: 2.4rem;
  position: absolute;
  left: 7.3rem;
  top: 69.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-6dlh-jEu {
  width: 121.3rem;
  height: 98.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .rectangle-2575-Twb {
  margin-bottom: 2.7rem;
  width: 100%;
  height: 8rem;
  background-color: #2b7cc6;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw {
  margin: 0rem 3.5rem 32.9rem 2.3rem;
  box-sizing: border-box;
  padding: 2.2rem 3rem;
  width: calc(100% - 5.8rem);
  height: 50.9rem;
  border: solid 0.02rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B {
  width: 84.4rem;
  height: 36.2rem;
  position: relative;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-r3yq-Eqs {
  width: 10.7rem;
  height: 3.6rem;
  position: absolute;
  left: 2.3rem;
  top: 11.1rem;
  display: flex;
  align-items: center;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-r3yq-Eqs .hasil--AUd {
  margin: 0rem 1.5rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-r3yq-Eqs .auto-group-nanz-UVK {
  width: 5rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-r3yq-Eqs .auto-group-nanz-UVK .all-RfT {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 0.7rem;
  top: 0.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-r3yq-Eqs .auto-group-nanz-UVK .mingcute-right-line-8pm {
  width: 1.5072rem;
  height: 1.6rem;
  position: absolute;
  left: 3rem;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .materi-R3B {
  width: 7.3rem;
  height: 3.4rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-g6x7-KuF {
  width: 74.5rem;
  height: 3.2rem;
  position: absolute;
  left: 2.3rem;
  top: 19rem;
  display: flex;
  align-items: flex-end;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-g6x7-KuF .nama-materi-TEm {
  margin: 0rem 15rem 0.3rem 0rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-g6x7-KuF .mapel-NsX {
  margin-right: 14.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-g6x7-KuF .kelas-iRb {
  margin: 0rem 14.8rem 0.1rem 0rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-g6x7-KuF .opsi-3Ts {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-ky6h-ngM {
  box-sizing: border-box;
  padding: 0.8rem 2.8rem 0.8rem 1.525rem;
  width: 18.4rem;
  height: 4rem;
  position: absolute;
  left: 1rem;
  top: 4.7rem;
  display: flex;
  align-items: center;
  background-color: #007dff;
  border-radius: 0.4rem;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-ky6h-ngM .ph-book-open-duotone-H7K {
  margin: 0.388rem 1.225rem 0rem 0rem;
  width: 1.75rem;
  height: 1.725rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-ky6h-ngM .tambah-materi-bdo {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .line-12-vg5 {
  width: 83.4rem;
  height: 0.06rem;
  position: absolute;
  left: 1rem;
  top: 22.8rem;
  background-color: #000000;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .line-15-FCZ {
  width: 83.4rem;
  height: 0.06rem;
  position: absolute;
  left: 1rem;
  top: 18.4rem;
  background-color: #000000;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .line-13-zR3 {
  width: 83.6rem;
  height: 0.02rem;
  position: absolute;
  left: 0;
  top: 30.4rem;
  background-color: #000000;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .group-694-LUu {
  width: 10.4rem;
  height: 3.5rem;
  position: absolute;
  left: 37.5rem;
  top: 32.7rem;
  display: flex;
  column-gap: 0.6118rem;
  align-items: center;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .group-694-LUu .auto-group-g1g1-G7f {
  width: 3.0588rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .group-694-LUu .auto-group-knff-1b3 {
  width: 3.0588rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-10-8Kw.png');
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .group-694-LUu .auto-group-ejm7-hyf {
  width: 3.0588rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-egkd-TC9 {
  width: 76.9rem;
  height: 3.6rem;
  position: absolute;
  left: 2.8rem;
  top: 25rem;
  display: flex;
  align-items: flex-start;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-egkd-TC9 .senyawa-kimia-BP3 {
  margin: 0.1rem 14.7rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-egkd-TC9 .kimia-6W1 {
  margin-right: 15.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-egkd-TC9 .xii-ipa-1-R2V {
  margin: 0.1rem 14.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-fkrk-Qbw .group-698-W9B .auto-group-egkd-TC9 .group-691-Y77 {
  margin-top: 0.1rem;
  width: 7.9rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.materi-tentor-QBP .auto-group-6dlh-jEu .auto-group-6ckv-p4d {
  width: 121.3rem;
  height: 3.7rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
