
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.detail-tugas-tentor-2-9gh {
  display: flex;
  align-items: center;
  background-color: #ebf8f6;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-bgn1-hCR {
    flex-shrink: 0;
    width: 29.9rem;
    height: 98.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-yii1-q3j {
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;
      box-sizing: border-box;

      .edupro-ZVX {
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2525;
      }
      .ic-round-list-5yf {
        height: 1.7916rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.0002rem;
        width: 3.225rem;
      }
    }
    .auto-group-enc5-CHb {
      padding: 5.8rem 2.7rem 25.9rem 2.7rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      box-sizing: border-box;

      .ellipse-4-JrR {
        width: calc(100% - 15.5rem);
        height: 9rem;
        background-color: #d9d9d9;
        border-radius: 4.5rem;
        flex-shrink: 0;
        margin: 0rem 7.7rem 1.2rem 7.8rem;
      }
      .username-pJy {
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
      }
      .tentor-edupro-jgq {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.5rem 7.2rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
      }
      .auto-group-dnrh-Fv5 {
        flex-shrink: 0;
        margin: 0rem 11.7rem 2.9rem 0.479rem;
        width: calc(100% - 12.1792rem);
        display: flex;
        align-items: center;

        .icon-park-twotone-dashboard-car-PWV {
          margin: 0rem 2.379rem 0.2rem 0rem;
          width: 1.7417rem;
          height: 1.4666rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .dashboard-7Bb {
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .siswa-menu-Sjf {
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 3rem 0rem;
        font-size: 1.6rem;
      }
      .auto-group-vie9-kkM {
        width: calc(100% - 16.1438rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 15.1rem 1.3rem 1.044rem;

        .ph-book-open-duotone-HEV {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.644rem 0.144rem 0rem;
          width: 2.0125rem;
          height: 1.725rem;
        }
        .materi-CsF {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
        }
      }
      .auto-group-reih-LyT {
        flex-shrink: 0;
        margin-bottom: 2rem;
        padding: 0.997rem 15.5rem 0.4rem 1.259rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        box-sizing: border-box;
        background-color: #003580;

        .ph-book-duotone-sCh {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.759rem 0.797rem 0rem;
          width: 1.5813rem;
          height: 1.7063rem;
        }
        .tugas-Pwj {
          margin-top: 0.1031rem;
          cursor: pointer;
          font-weight: 400;
          font-family: Assistant, 'Source Sans Pro';
          font-size: 1.8rem;
          line-height: 1.3075;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-ha69-gvq {
        flex-shrink: 0;
        margin: 0rem 14.4rem 2.4rem 1.175rem;
        width: calc(100% - 15.575rem);
        display: flex;
        align-items: center;

        .healthicons-i-exam-multiple-choice-2E1 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.775rem 0rem 0rem;
          width: 1.65rem;
          height: 1.725rem;
        }
        .try-out-LVb {
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .user-menu-t1K {
        flex-shrink: 0;
        margin: 0rem 15.4rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-9vpk-oe5 {
        margin: 0rem 15rem 2.4rem 0.9rem;
        width: calc(100% - 15.9rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .iconamoon-profile-jnd {
          height: 2.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 2.3rem;
        }
        .profile-GnZ {
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .auto-group-3rxs-CRK {
        width: calc(100% - 15.7375rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.6rem 0rem 1.138rem;

        .material-symbols-logout-rounded-jAM {
          height: 1.35rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.069rem 0.4rem 0rem;
          width: 1.3934rem;
        }
        .logout-T6M {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
        }
      }
    }
  }
  .auto-group-bbsb-agm {
    width: 121.3004rem;
    height: 98.2rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-2575-VHw {
      background-color: #2b7cc6;
      width: 121.3rem;
      height: 8rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .rectangle-2612-qMo {
      height: 82rem;
      border: solid 0.01rem #000000;
      box-sizing: border-box;
      width: 115rem;
      position: absolute;
      left: 0;
      top: 11.5rem;
      background-color: #ffffff;
      border-radius: 0.8rem;
    }
    .rectangle-2613-97b {
      height: 64.1rem;
      position: absolute;
      left: 6rem;
      top: 22rem;
      box-shadow: 0 0.194rem 1.7459rem rgba(0, 0, 0, 0.25);
      background-color: #f7f4f4;
      border-radius: 0.485rem;
      width: 105.1rem;
    }
    .no-r21 {
      line-height: 1.3075;
      color: #003580;
      white-space: nowrap;
      width: 3.4rem;
      height: 2.7rem;
      position: absolute;
      top: 25.3rem;
      font-weight: 700;
      left: 9.5rem;
      font-size: 2rem;
      font-family: Assistant, 'Source Sans Pro';
    }
    .nama-MzM {
      color: #003580;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.7rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 700;
      width: 5.2rem;
      left: 43.1rem;
      top: 24.9rem;
      line-height: 1.3075;
    }
    .lihat-jawaban-Up5 {
      width: 12.8rem;
      height: 2.7rem;
      color: #003580;
      font-family: Assistant, 'Source Sans Pro';
      line-height: 1.3075;
      white-space: nowrap;
      position: absolute;
      left: 93.6rem;
      top: 24.6rem;
      font-size: 2rem;
      font-weight: 700;
    }
    .andi-hermawati-PRF {
      font-family: Assistant, 'Source Sans Pro';
      position: absolute;
      font-size: 1.8rem;
      font-weight: 400;
      top: 31.7rem;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      width: 12rem;
      height: 2.4rem;
      left: 43.1rem;
    }
    .load-more--76M {
      left: 96.9rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #555555;
      font-family: Assistant, 'Source Sans Pro';
      width: 11.1rem;
      height: 2.7rem;
      position: absolute;
      top: 80.8rem;
      font-size: 2rem;
      white-space: nowrap;
    }
    .detail-jawaban-Rsj {
      width: 12rem;
      height: 2.4rem;
      left: 93.6rem;
      line-height: 1.3075;
      white-space: nowrap;
      position: absolute;
      top: 31.7rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
    }
    .detail-jawaban-Lzh {
      font-size: 1.8rem;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      width: 12rem;
      height: 2.4rem;
      position: absolute;
      left: 93.7rem;
      top: 39rem;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
    }
    .detail-jawaban-Fbs {
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      left: 93.8rem;
      top: 45.7rem;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
      width: 12rem;
      height: 2.4rem;
      position: absolute;
    }
    .detail-jawaban-Ayj {
      height: 2.4rem;
      font-size: 1.8rem;
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 12rem;
      position: absolute;
      left: 93.7rem;
      top: 53.2rem;
      font-weight: 400;
    }
    .detail-jawaban-VFK {
      width: 12rem;
      left: 93.8rem;
      top: 59.8rem;
      height: 2.4rem;
      position: absolute;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
    }
    .detail-jawaban-cKw {
      height: 2.4rem;
      position: absolute;
      left: 93.7rem;
      font-size: 1.8rem;
      font-weight: 400;
      width: 12rem;
      top: 66.6rem;
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
    }
    .detail-jawaban-L13 {
      color: #7c838a;
      white-space: nowrap;
      width: 12rem;
      position: absolute;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      height: 2.4rem;
      left: 93.7rem;
      top: 73.4rem;
    }
    .affan-yuananda-a-eGd {
      height: 2.4rem;
      position: absolute;
      left: 43.1rem;
      top: 39.1rem;
      font-weight: 400;
      line-height: 1.3075;
      white-space: nowrap;
      width: 13rem;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      font-size: 1.8rem;
    }
    .bagas-adi-AEy {
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      height: 2.4rem;
      position: absolute;
      left: 43.1rem;
      top: 45.5rem;
      font-size: 1.8rem;
      width: 7.3rem;
      font-weight: 400;
      white-space: nowrap;
    }
    .bima-dirgantara-gUD {
      left: 43.1rem;
      line-height: 1.3075;
      color: #7c838a;
      width: 12.1rem;
      height: 2.4rem;
      position: absolute;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      top: 53.1rem;
      font-size: 1.8rem;
      font-weight: 400;
    }
    .enzy-storia-zzh {
      position: absolute;
      top: 59.8rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      width: 8.3rem;
      height: 2.4rem;
      left: 43.1rem;
      font-size: 1.8rem;
      font-family: Assistant, 'Source Sans Pro';
    }
    .jaqueline-firda-Wy3 {
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      left: 43.1rem;
      font-weight: 400;
      width: 11.6rem;
      top: 66.8rem;
      font-size: 1.8rem;
    }
    .kalila-susilo-2gV {
      position: absolute;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      width: 9.1rem;
      height: 2.4rem;
      left: 43.1rem;
      top: 73.5rem;
      font-family: Assistant, 'Source Sans Pro';
    }
    .item-1-kcV {
      left: 9.8rem;
      top: 31.7rem;
      font-size: 1.8rem;
      line-height: 1.3075;
      color: #7c838a;
      height: 2.4rem;
      position: absolute;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.3rem;
    }
    .item-3-4NH {
      white-space: nowrap;
      width: 1.4rem;
      height: 2.4rem;
      top: 45.7rem;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      position: absolute;
      left: 9.8rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #7c838a;
    }
    .item-4-AgD {
      font-size: 1.8rem;
      font-weight: 400;
      color: #7c838a;
      height: 2.4rem;
      position: absolute;
      left: 9.8rem;
      top: 53.1rem;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 1.4rem;
    }
    .item-5-5YH {
      width: 1.4rem;
      position: absolute;
      left: 9.8rem;
      top: 59.8rem;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
      height: 2.4rem;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
    }
    .item-6-zfF {
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      width: 1.4rem;
      height: 2.4rem;
      left: 9.8rem;
      top: 66.7rem;
      font-size: 1.8rem;
      font-weight: 400;
      white-space: nowrap;
      position: absolute;
      color: #7c838a;
    }
    .item-7-WtV {
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
      width: 1.4rem;
      height: 2.4rem;
      position: absolute;
      left: 9.8rem;
      top: 73.5rem;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
    }
    .item-2-EpV {
      font-weight: 400;
      width: 1.4rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
      left: 9.8rem;
      top: 39.1rem;
    }
    .line-11-Z65 {
      left: 7.9rem;
      top: 29.7rem;
      background-color: #888888;
      width: 100.2005rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-12-gwP {
      background-color: #888888;
      width: 100.2005rem;
      height: 0.1rem;
      position: absolute;
      left: 7.9rem;
      top: 36.7rem;
    }
    .line-13-xP7 {
      position: absolute;
      left: 7.9rem;
      top: 43.5rem;
      background-color: #888888;
      width: 100.2005rem;
      height: 0.1rem;
    }
    .line-14-u3T {
      width: 100.2005rem;
      height: 0;
      position: absolute;
      left: 7.9rem;
      top: 50.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .line-15-ErR {
      left: 7.9rem;
      top: 57.8rem;
      background-color: #888888;
      width: 100.2005rem;
      height: 0.1rem;
      position: absolute;
    }
    .line-16-NSq {
      position: absolute;
      left: 7.9rem;
      top: 78rem;
      background-color: #888888;
      width: 100.2005rem;
      height: 0.1rem;
    }
    .line-18-7fK {
      background-color: #888888;
      width: 100.2005rem;
      height: 0.1rem;
      position: absolute;
      left: 7.9rem;
      top: 71.4rem;
    }
    .line-17-SxV {
      left: 7.9rem;
      top: 64.6rem;
      background-color: #888888;
      width: 100.2005rem;
      height: 0.1rem;
      position: absolute;
    }
    .group-674-6GM {
      display: flex;
      align-items: center;
      background-color: #d14747;
      border-radius: 0.2rem;
      width: 13rem;
      height: 3.4rem;
      left: 6rem;
      top: 88.8rem;
      box-sizing: border-box;
      padding: 0.6rem 2.3rem 0.5rem 0.8rem;
      cursor: pointer;
      position: absolute;

      .vector-PFT {
        width: 2.1rem;
        height: 2.1rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.8rem;
      }
      .kembali-vFP {
        font-size: 1.7rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #ffffff;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .vector-SjX {
      height: 1.8rem;
      position: absolute;
      left: 99.1rem;
      top: 16.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 2rem;
    }
    .kimia-unsur-dan-senyawa-Bh7 {
      font-size: 2rem;
      line-height: 1.3075;
      color: #1c1d1f;
      left: 6rem;
      top: 13.7rem;
      position: absolute;
      font-weight: 600;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 23.4rem;
      height: 2.7rem;
    }
    .kelas-xii-c-Hk9 {
      left: 6rem;
      top: 16.3rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #7c838a;
      width: 7.6rem;
      height: 2.4rem;
      position: absolute;
      font-family: Assistant, 'Source Sans Pro';
      line-height: 1.3075;
      white-space: nowrap;
    }
    .filter-D81 {
      width: 4.3rem;
      position: absolute;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #555555;
      white-space: nowrap;
      height: 2.7rem;
      left: 102.2rem;
      top: 15.7rem;
      font-family: Assistant, 'Source Sans Pro';
    }
    .group-709-vo7 {
      object-fit: contain;
      vertical-align: top;
      width: 3.4004rem;
      height: 90.3rem;
      position: absolute;
      left: 117.9rem;
      top: 7.9rem;
    }
  }
}
