
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.tambah-soal-pilgan-egd {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ebf8f6;

  .auto-group-wgi1-BRf {
    position: relative;
    flex-shrink: 0;
    width: 29.9rem;
    height: 100.5rem;

    .rectangle-2572-6oX {
      border: solid 0.02rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 29.9rem;
      height: 94.3rem;
      position: absolute;
      left: 0;
      top: 6.2rem;
    }
    .rectangle-2637-R57 {
      border-radius: 0.5rem;
      width: 24.5rem;
      height: 3.9rem;
      position: absolute;
      left: 2rem;
      top: 54.4rem;
      background-color: #003580;
    }
    .rectangle-2574-YQd {
      width: 29.9rem;
      height: 8rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #003580;
    }
    .ellipse-4-h2d {
      top: 13.8rem;
      background-color: #d9d9d9;
      border-radius: 4.5rem;
      width: 9rem;
      height: 9rem;
      position: absolute;
      left: 10.5rem;
    }
    .edupro-cvH {
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2525;
      height: 4.1rem;
      left: 1.9rem;
      top: 2rem;
      color: #ff9800;
      font-family: Orbitron, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.2rem;
      position: absolute;
    }
    .ic-round-list-iyK {
      height: 1.7916rem;
      position: absolute;
      left: 24.8375rem;
      top: 3.1541rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.225rem;
    }
    .username-ery {
      top: 24rem;
      font-size: 1.6rem;
      line-height: 1.3075;
      height: 2.1rem;
      position: absolute;
      left: 11.5rem;
      font-weight: 400;
      color: #1c1d1f;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.8rem;
    }
    .tentor-menu-ZDF {
      white-space: nowrap;
      width: 9.9rem;
      left: 3.6rem;
      top: 40.5rem;
      font-size: 1.6rem;
      font-weight: 400;
      height: 2.1rem;
      position: absolute;
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
    }
    .user-menu-5Bb {
      width: 7.4rem;
      position: absolute;
      left: 3.6rem;
      font-weight: 600;
      color: #7c838a;
      white-space: nowrap;
      height: 2.1rem;
      top: 60rem;
      font-size: 1.6rem;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
    }
    .icon-park-twotone-dashboard-car-z3f {
      left: 3.8792rem;
      top: 35.675rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7417rem;
      height: 1.65rem;
      position: absolute;
    }
    .iconamoon-profile-WXo {
      left: 3.8333rem;
      top: 65.5166rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.3333rem;
      height: 1.2666rem;
      position: absolute;
    }
    .material-symbols-logout-rounded-2FF {
      position: absolute;
      left: 3.8125rem;
      top: 70.225rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.2467rem;
      height: 1.35rem;
    }
    .ph-book-open-duotone-YjP {
      width: 1.75rem;
      height: 1.725rem;
      position: absolute;
      left: 3.725rem;
      top: 46.0313rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ph-book-duotone-HBB {
      top: 50.7063rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.65rem;
      height: 1.7875rem;
      position: absolute;
      left: 3.675rem;
    }
    .healthicons-i-exam-multiple-choice-pB7 {
      width: 1.875rem;
      height: 1.65rem;
      position: absolute;
      left: 3.4125rem;
      top: 55.475rem;
      object-fit: contain;
      vertical-align: top;
    }
    .tentor-edupro-jYy {
      height: 1.9rem;
      left: 10.5rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3075;
      width: 8.4rem;
      top: 26.3rem;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .dashboard-q6D {
      left: 7.3rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      width: 8.2rem;
      cursor: pointer;
      position: absolute;
      font-family: Assistant, 'Source Sans Pro';
      height: 2.4rem;
      top: 35.2rem;
      font-size: 1.8rem;
    }
    .materi-wQ9 {
      width: 4.7rem;
      cursor: pointer;
      left: 7.4rem;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      top: 45.6rem;
      font-size: 1.8rem;
      font-weight: 400;
      color: #7c838a;
    }
    .tugas-6gM {
      height: 2.4rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      width: 4.4rem;
      cursor: pointer;
      left: 7.3rem;
      top: 50.4rem;
      font-size: 1.8rem;
      color: #7c838a;
      white-space: nowrap;
    }
    .try-out-Lqb {
      position: absolute;
      left: 7.3rem;
      top: 55.2rem;
      line-height: 1.3075;
      color: #ffffff;
      height: 2.4rem;
      cursor: pointer;
      font-size: 1.8rem;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.5rem;
    }
    .profile-bWd {
      font-weight: 400;
      line-height: 1.3075;
      width: 4.9rem;
      height: 2.4rem;
      cursor: pointer;
      position: absolute;
      top: 65.1rem;
      font-size: 1.8rem;
      font-family: Assistant, 'Source Sans Pro';
      left: 7.3rem;
      color: #7c838a;
      white-space: nowrap;
    }
    .logout-SXF {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      height: 2.4rem;
      position: absolute;
      left: 7.3rem;
      top: 69.9rem;
      font-family: Assistant, 'Source Sans Pro';
      width: 5.3rem;
      white-space: nowrap;
    }
  }
  .auto-group-inah-Hnm {
    height: 98.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 121.3rem;

    .rectangle-2575-nUd {
      width: 100%;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
    .auto-group-etjb-5Cq {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.8rem 2.9rem 0rem 2.9rem;
      width: 100%;

      .auto-group-sg1k-Zdo {
        align-items: center;
        box-shadow: 0 0.2rem 0.4rem #8ab336;
        background-color: #8ab336;
        flex-shrink: 0;
        width: calc(100% - 104.9rem);
        box-sizing: border-box;
        padding: 0.6rem 1.3rem 0.6rem 1.1rem;
        display: flex;
        margin: 0rem 104.9rem 0.8rem 0rem;

        .vector-1Eu {
          height: 1.35rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.15rem 0.05rem 0rem;
          width: 1.15rem;
        }
        .import-soal-61T {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-1ph3-8D3 {
        display: flex;
        border: solid 0.02rem #000000;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        padding: 1.4rem 2.2rem 2.5rem 2rem;
        height: 31.1rem;
        align-items: center;
        background-color: #fafafa;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;

        .auto-group-if5p-xxm {
          flex-shrink: 0;
          margin-right: 3.1rem;
          width: 74.9rem;
          height: 100%;

          .auto-group-zh6m-GTf {
            flex-direction: column;
            border: solid 0.02rem #000000;
            background-color: #ffffff;
            margin-bottom: 3.2rem;
            padding: 2.3rem 2.5rem 1.3rem 2.6rem;
            width: 100%;
            display: flex;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;

            .gerakan-suatu-benda-dimana-setiap-titik-pada-benda-mempunyai-jarak-yang-tetap-terhadah-suatu-sumbu-tertentu-merupakan-pengertian-dari--KRw {
              max-width: 69.4rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3075;
              color: #1c1d1f;
              font-family: Assistant, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 1.1rem;
            }
            .line-20-1i5 {
              background-color: #7c838a;
              flex-shrink: 0;
              margin-bottom: 1.35rem;
              width: 100%;
              height: 0.05rem;
            }
            .a-gerak-translasi-b-gerak-rotasi-c-perpindahan-d-kelajuan-e-nomaden-vKF {
              font-family: Assistant, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 11.7rem;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3075;
              color: #1c1d1f;
            }
          }
          .auto-group-jzwy-YbX {
            height: 3.2rem;
            display: flex;
            align-items: center;

            .auto-group-zkzf-t9b {
              width: 6rem;
              line-height: 1.3075;
              align-items: center;
              background-color: rgba(138, 179, 54, 0.5);
              margin: 0.4rem 5.4rem 0.4rem 0rem;
              font-weight: 400;
              white-space: nowrap;
              justify-content: center;
              flex-shrink: 0;
              display: flex;
              height: calc(100% - 0.8rem);
              font-size: 1.4rem;
              color: #ffffff;
              font-family: Assistant, 'Source Sans Pro';
            }
            .dari-1o-nomor-soal-uaV {
              font-family: Assistant, 'Source Sans Pro';
              text-align: center;
              font-weight: 400;
              line-height: 1.3075;
              color: #d2d5d4;
              margin-right: 5.5rem;
              max-width: 5.9rem;
              font-size: 1.2rem;
              flex-shrink: 0;

              .dari-1o-nomor-soal-uaV-sub-0 {
              }
              .dari-1o-nomor-soal-uaV-sub-1 {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 1.3075;
                color: #888888;
                font-family: Assistant, 'Source Sans Pro';
              }
              .dari-1o-nomor-soal-uaV-sub-2 {
              }
            }
            .auto-group-f5yr-4kD {
              margin: 0.4rem 0;
              text-align: center;
              font-size: 1.4rem;
              align-items: center;
              flex-shrink: 0;
              height: calc(100% - 0.8rem);
              font-weight: 400;
              color: #ffffff;
              font-family: Assistant, 'Source Sans Pro';
              width: 6rem;
              line-height: 1.3075;
              background-color: #8ab336;
              white-space: nowrap;
              display: flex;
              justify-content: center;
            }
          }
        }
        .auto-group-qf5x-XNu {
          margin-bottom: 2.2rem;
          box-sizing: border-box;
          row-gap: 2.2rem;
          align-items: center;
          display: flex;
          border: solid 0.02rem #000000;
          padding: 2.3rem 6.3rem 1.8rem 7.3rem;
          width: 33.3rem;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;

          .auto-group-7tub-zXP {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;

            .no-jUy {
              font-weight: 600;
              margin-right: 11.1rem;
              text-align: center;
              color: #003580;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              line-height: 1.3075;
            }
            .jawaban-Fy7 {
              line-height: 1.3075;
              color: #003580;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 600;
            }
          }
          .auto-group-h2vb-b1P {
            width: calc(100% - 3.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 2.7rem 0rem 0.8rem;

            .item-1-7Ed {
              margin-right: 14.4rem;
              color: #000000;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3075;
            }
            .b-S21 {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3075;
              color: #000000;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-ezkr-ZsK {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 2.7rem 0rem 0.8rem;
            width: calc(100% - 3.5rem);

            .item-2-teh {
              margin-right: 14.4rem;
              text-align: center;
              font-weight: 600;
              line-height: 1.3075;
              font-size: 1.6rem;
              color: #000000;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .a-Qsw {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3075;
              color: #000000;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
            }
          }
          .auto-group-z7g9-M2V {
            flex-shrink: 0;
            margin: 0rem 2.7rem 0rem 0.8rem;
            width: calc(100% - 3.5rem);
            display: flex;
            align-items: center;

            .item-3-g4m {
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3075;
              color: #000000;
              white-space: nowrap;
              margin-right: 14.3rem;
              text-align: center;
              font-family: Assistant, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .d-n7o {
              font-weight: 600;
              line-height: 1.3075;
              color: #000000;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              font-size: 1.6rem;
            }
          }
          .auto-group-zqhw-Jrq {
            margin: 0rem 1.7rem 0rem 0.7rem;
            width: calc(100% - 2.4rem);
            height: 3.7rem;
            display: flex;
            column-gap: 0.8rem;
            align-items: center;
            flex-shrink: 0;

            .auto-group-wxxf-Qus {
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .auto-group-suxh-YWH {
              width: 11.1rem;
              line-height: 1.3075;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 600;
              font-family: Assistant, 'Source Sans Pro';
              display: flex;
              justify-content: center;
              background-color: #cee9f2;
              height: 100%;
              text-align: center;
              font-size: 1.6rem;
              color: #000000;
              align-items: center;

              .auto-group-suxh-YWH-sub-0 {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.3075;
                color: rgba(0, 0, 0, 0.5);
                font-family: Assistant, 'Source Sans Pro';
              }
              .auto-group-suxh-YWH-sub-1 {
              }
            }
            .auto-group-75ch-HsB {
              flex-shrink: 0;
              margin-top: 0.1rem;
              width: 2.3rem;
              height: 2.4rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
      }
      .auto-group-tzeh-v9T {
        border: solid 0.02rem #000000;
        box-sizing: border-box;
        background-color: #fafafa;
        border-radius: 0.5rem;
        width: 100%;
        height: 53.8rem;
        flex-shrink: 0;
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .auto-group-mrfx-GDK {
          padding-top: 2.75rem;
          width: 115.5rem;
          height: 49.25rem;
          position: absolute;
          left: 0;
          top: 4.55rem;
          box-sizing: border-box;

          .auto-group-wxwt-ytR {
            flex-direction: column;
            border: solid 0.02rem #000000;
            margin: 0rem 2.2rem 2.2rem 2rem;
            display: flex;
            width: calc(100% - 4.2rem);
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            box-sizing: border-box;
            padding: 1.4rem 1.8rem 1.7rem 1.5rem;

            .nilai-siswa-4ey {
              margin-bottom: 3.2rem;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.3075;
              color: #7c838a;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .auto-group-viez-zoX {
              flex-shrink: 0;
              margin: 0rem 89.8rem 2.2rem 0rem;
              width: calc(100% - 89.8rem);
              height: 2.8rem;
              display: flex;
              align-items: center;

              .auto-group-4yqp-7t9 {
                box-sizing: border-box;
                height: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.4rem #188ff5;
                background-color: #188ff5;
                flex-shrink: 0;
                margin-right: 0.5rem;
                padding: 0.6rem 0.8rem 0.6rem 0.833rem;

                .material-symbols-print-eNH {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.2334rem;
                  width: 1.3333rem;
                  height: 1.2rem;
                }
                .cetak-BND {
                  font-family: Assistant, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3075;
                  color: #ffffff;
                }
              }
              .auto-group-wkem-HRF {
                height: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.4rem #8ab336;
                background-color: #8ab336;
                flex-shrink: 0;
                box-sizing: border-box;
                padding: 0.6rem 1rem 0.6rem 0.833rem;

                .icon-park-outline-excel-pAH {
                  width: 1.2rem;
                  height: 1.3334rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.367rem 0rem 0rem;
                }
                .ekspor-excel-jHF {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 400;
                  line-height: 1.3075;
                  color: #ffffff;
                  font-family: Assistant, 'Source Sans Pro';
                }
              }
            }
            .auto-group-xmb3-SxM {
              margin-left: 0.4rem;
              height: 3.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-mohw-PMo {
                font-weight: 600;
                white-space: nowrap;
                border: solid 0.02rem #000000;
                font-family: Assistant, 'Source Sans Pro';
                flex-shrink: 0;
                width: 28.4rem;
                font-size: 1.6rem;
                line-height: 1.3075;
                color: #003580;
                justify-content: center;
                box-sizing: border-box;
                height: 100%;
                text-align: center;
                display: flex;
                align-items: center;
              }
              .auto-group-skdb-5VX {
                line-height: 1.3075;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                width: 17.3rem;
                text-align: center;
                justify-content: center;
                box-sizing: border-box;
                font-size: 1.6rem;
                flex-shrink: 0;
                height: 100%;
                font-weight: 600;
                color: #003580;
                align-items: center;
                border: solid 0.02rem #000000;
              }
              .auto-group-vwmt-NzR {
                height: 100%;
                color: #003580;
                font-family: Assistant, 'Source Sans Pro';
                width: 17.3rem;
                line-height: 1.3075;
                border: solid 0.02rem #000000;
                box-sizing: border-box;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.6rem;
                font-weight: 600;
                white-space: nowrap;
                align-items: center;
                display: flex;
                justify-content: center;
              }
              .auto-group-yg5j-U1s {
                line-height: 1.3075;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                border: solid 0.02rem #000000;
                height: 100%;
                text-align: center;
                font-weight: 600;
                box-sizing: border-box;
                flex-shrink: 0;
                width: 17.3rem;
                font-size: 1.6rem;
                color: #003580;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .auto-group-lpn9-kzy {
                color: #003580;
                border: solid 0.02rem #000000;
                text-align: center;
                display: flex;
                box-sizing: border-box;
                width: 27.3rem;
                font-weight: 600;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                height: 100%;
                font-size: 1.6rem;
                line-height: 1.3075;
              }
            }
            .auto-group-xgjw-3jB {
              height: 3.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.4rem;

              .auto-group-24qu-P2M {
                height: 100%;
                font-size: 1.4rem;
                color: #000000;
                display: flex;
                align-items: center;
                width: 28.4rem;
                line-height: 1.3075;
                flex-shrink: 0;
                font-weight: 600;
                white-space: nowrap;
                justify-content: center;
                border: solid 0.02rem #000000;
                box-sizing: border-box;
                text-align: center;
                font-family: Assistant, 'Source Sans Pro';
              }
              .auto-group-uzzt-UZb {
                box-sizing: border-box;
                display: flex;
                flex-shrink: 0;
                width: 17.3rem;
                height: 100%;
                text-align: center;
                font-weight: 600;
                color: #000000;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                justify-content: center;
                border: solid 0.02rem #000000;
                font-size: 1.4rem;
                line-height: 1.3075;
                align-items: center;
              }
              .auto-group-dwjb-a6q {
                flex-shrink: 0;
                width: 17.3rem;
                text-align: center;
                line-height: 1.3075;
                border: solid 0.02rem #000000;
                box-sizing: border-box;
                align-items: center;
                font-size: 1.4rem;
                font-weight: 600;
                font-family: Assistant, 'Source Sans Pro';
                display: flex;
                height: 100%;
                color: #000000;
                white-space: nowrap;
                justify-content: center;
              }
              .auto-group-murx-fPB {
                height: 100%;
                display: flex;
                box-sizing: border-box;
                flex-shrink: 0;
                font-weight: 600;
                line-height: 1.3075;
                color: #000000;
                font-family: Assistant, 'Source Sans Pro';
                align-items: center;
                justify-content: center;
                font-size: 1.4rem;
                white-space: nowrap;
                border: solid 0.02rem #000000;
                width: 17.3rem;
                text-align: center;
              }
              .auto-group-gg1b-ZUZ {
                vertical-align: top;
                flex-shrink: 0;
                width: 27.3rem;
                height: 3.5rem;
                position: relative;
                object-fit: contain;
              }
            }
            .auto-group-p6ku-JBF {
              height: 3.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.4rem;
              width: calc(100% - 0.4rem);

              .auto-group-2qtb-dzD {
                white-space: nowrap;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                height: 100%;
                font-size: 1.4rem;
                line-height: 1.3075;
                color: #000000;
                text-align: center;
                font-weight: 600;
                border: solid 0.02rem #000000;
                box-sizing: border-box;
                width: 28.4rem;
                font-family: Assistant, 'Source Sans Pro';
                justify-content: center;
              }
              .auto-group-hbxz-jXT {
                text-align: center;
                color: #000000;
                align-items: center;
                border: solid 0.02rem #000000;
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                width: 79.2rem;
                line-height: 1.3075;
                height: 100%;
                font-size: 1.4rem;
                font-weight: 600;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                box-sizing: border-box;
              }
            }
          }
          .auto-group-ranh-BuF {
            margin: 0rem 0rem 13.5rem 2rem;
            width: 13rem;
            height: 3.4rem;
            position: relative;

            .ph-book-open-duotone-KVf {
              object-fit: contain;
              vertical-align: top;
              width: 1.75rem;
              height: 1.725rem;
              position: absolute;
              left: 2.725rem;
              top: 0.9313rem;
            }
            .group-674-3Am {
              border-radius: 0.2rem;
              box-sizing: border-box;
              height: 3.4rem;
              left: 0;
              top: 0;
              display: flex;
              background-color: #d14747;
              padding: 0.6rem 2.3rem 0.5rem 0.8rem;
              width: 13rem;
              cursor: pointer;
              position: absolute;
              align-items: center;

              .vector-wX3 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.8rem;
                width: 2.1rem;
                height: 2.1rem;
              }
              .kembali-HL1 {
                font-weight: 600;
                line-height: 1.3075;
                color: #ffffff;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.7rem;
              }
            }
          }
          .group-707-brV {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            width: 115.5rem;
            height: 3.7rem;
          }
        }
        .line-21-kDb {
          left: 0;
          top: 4.5rem;
          background-color: #7c838a;
          width: 115.5rem;
          height: 0.05rem;
          position: absolute;
        }
        .nilai-siswa-klik-untuk-lihat-tutup-HjK {
          font-family: Assistant, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          left: 2rem;
          top: 1.5rem;
          font-size: 1.4rem;
          white-space: nowrap;
          width: 21.1rem;
          height: 1.9rem;
          position: absolute;
        }
      }
    }
  }
}
