
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.tugas-tentor-kg5 {
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
  width: 100%;
  overflow: hidden;
  position: relative;

  .auto-group-kk5b-u3B {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-9chs-Soo {
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      height: 100%;
      display: flex;

      .edupro-kpV {
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2525;
      }
      .ic-round-list-gTF {
        margin-top: 0.0001rem;
        width: 3.225rem;
        height: 1.7917rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-2575-ziq {
      background-color: #2b7cc6;
      flex-shrink: 0;
      width: 121.3rem;
      height: 8rem;
    }
  }
  .auto-group-6d2v-95w {
    margin-right: 12.3934rem;
    width: calc(100% - 12.3934rem);
    height: 90.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-xqay-fpy {
      box-sizing: border-box;
      align-items: center;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;
      padding: 5.8rem 2.7rem 25.9rem 2.7rem;
      width: 29.9rem;
      height: 100%;
      flex-direction: column;

      .ellipse-4-ZvM {
        border-radius: 4.5rem;
        flex-shrink: 0;
        margin: 0rem 7.7rem 1.2rem 7.8rem;
        width: calc(100% - 15.5rem);
        height: 9rem;
        background-color: #d9d9d9;
      }
      .username-V3K {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
      }
      .tentor-edupro-1XT {
        margin: 0rem 0.5rem 7.2rem 0rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-enw7-86H {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 11.8rem 2.9rem 1.179rem;
        width: calc(100% - 12.9792rem);

        .icon-park-twotone-dashboard-car-eqK {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.2rem 1.579rem 0rem 0rem;
          width: 1.7417rem;
          height: 1.65rem;
          object-fit: contain;
        }
        .dashboard-xb7 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .tentor-menu-JQ5 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 12.8rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
      }
      .auto-group-sfed-DX3 {
        margin: 0rem 15.2rem 1.65rem 1.025rem;
        width: calc(100% - 16.225rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ph-book-open-duotone-kWy {
          flex-shrink: 0;
          margin: 0.188rem 1.825rem 0rem 0rem;
          width: 1.75rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
        }
        .materi-GVK {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .auto-group-finh-1ho {
        padding: 0.75rem 15.5rem 0.75rem 0.975rem;
        background-color: #003580;
        border-radius: 0.5rem;
        margin-bottom: 1.65rem;
        box-sizing: border-box;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        display: flex;

        .ph-book-duotone-Xw3 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.975rem;
          width: 1.65rem;
          height: 1.7875rem;
        }
        .tugas-U5b {
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
        }
      }
      .auto-group-kc2y-PTT {
        flex-shrink: 0;
        margin: 0rem 14.4rem 2.4rem 0.713rem;
        width: calc(100% - 15.1125rem);
        display: flex;
        align-items: center;

        .healthicons-i-exam-multiple-choice-7uF {
          margin: 0rem 2.013rem 0.2rem 0rem;
          width: 1.875rem;
          height: 1.65rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .try-out-dsb {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
        }
      }
      .user-menu-ygZ {
        flex-shrink: 0;
        margin: 0rem 15.3rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-7vds-6mB {
        margin: 0rem 15rem 2.4rem 1.133rem;
        width: calc(100% - 16.1333rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .iconamoon-profile-Dau {
          margin: 0rem 2.133rem 0.3rem 0rem;
          width: 1.3333rem;
          height: 1.2667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .profile-YNH {
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .auto-group-1rnr-tBF {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.6rem 0rem 1.113rem;
        width: calc(100% - 15.7125rem);
        display: flex;

        .material-symbols-logout-rounded-csw {
          height: 1.35rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.241rem 0.4rem 0rem;
          width: 1.2467rem;
        }
        .logout-vtd {
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
    }
    .auto-group-yy69-Tdf {
      box-sizing: border-box;
      padding: 4.1rem 0rem 4.1rem 4.8rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-lgaz-nvq {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 8.9rem 5.4rem 0rem;
        width: 26.1rem;
        align-items: center;
        display: flex;

        .auto-group-mc29-ipV {
          width: 100%;
          height: 6.3rem;
          line-height: 1.3075;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.6rem;
          font-weight: 700;
          color: #555555;
          flex-shrink: 0;
        }
        .auto-group-rwwb-dgZ {
          flex-direction: column;
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 4.3rem;
          box-sizing: border-box;
          padding: 3.4rem 1.3rem 5.1rem 1.3rem;
          border-radius: 0.8rem;
          width: 100%;
          display: flex;
          border: solid 0.04rem #000000;

          .image-17-m25 {
            height: 14.5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 3.4rem;
            width: 23.5rem;
          }
          .bahasa-indonesia-5YZ {
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 1.4rem;
            max-width: 12.3rem;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.3075;
          }
        }
        .auto-group-fg8v-xcM {
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          flex-direction: column;
          border: solid 0.04rem #000000;
          padding: 3.3rem 1.1rem 9.3rem 1.3rem;
          display: flex;
          border-radius: 0.8rem;

          .image-20-tW1 {
            height: 14rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            width: 23.7rem;
          }
          .matematika-26R {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
          }
        }
      }
      .auto-group-2g21-ijw {
        margin: 6.3rem 9rem 5.4rem 0rem;
        width: 26.1rem;
        height: calc(100% - 11.7rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-iaxm-qpZ {
          width: 100%;
          flex-direction: column;
          border: solid 0.04rem #000000;
          background-color: #ffffff;
          border-radius: 0.8rem;
          margin-bottom: 4.3rem;
          box-sizing: border-box;
          padding: 3.2rem 1.4rem 8.8rem 1.4rem;
          display: flex;
          flex-shrink: 0;

          .image-18-mTK {
            margin-bottom: 2.8rem;
            width: 23.3rem;
            height: 14.9rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
          }
          .fisika-hbs {
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 700;
          }
        }
        .auto-group-e7t1-ouo {
          flex-shrink: 0;
          padding: 4.1rem 1.4rem 5.6rem 1.4rem;
          border: solid 0.04rem #000000;
          background-color: #ffffff;
          border-radius: 0.8rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-direction: column;

          .image-19-Y6h {
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            width: 23.3rem;
            height: 13.6rem;
            object-fit: cover;
          }
          .bahasa-inggris-UW9 {
            max-width: 9.3rem;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .auto-group-hc45-yho {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 6.3rem 5.211rem 5.4rem 0rem;
        width: 26.1rem;
        height: calc(100% - 11.7rem);
        align-items: center;

        .auto-group-ukuh-JVB {
          border: solid 0.04rem #000000;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          border-radius: 0.8rem;
          margin-bottom: 4.3rem;
          padding: 3.6rem 1.3rem 8.4rem 1.5rem;

          .image-21-UY5 {
            flex-shrink: 0;
            margin-bottom: 2.2rem;
            width: 23.3rem;
            height: 15.5rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
          }
          .biologi-Cys {
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.5rem;
            font-weight: 700;
          }
        }
        .auto-group-ng8d-Jn1 {
          display: flex;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.5rem 1.1rem 9.3rem 1.3rem;
          width: 100%;
          flex-direction: column;
          border: solid 0.04rem #000000;
          border-radius: 0.8rem;

          .image-22-Dty {
            height: 13.8rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 3.1rem;
            width: 23.7rem;
          }
          .kimia-MEV {
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.2rem;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
          }
        }
      }
      .ant-design-right-outlined-eUV {
        margin-bottom: 2.9rem;
        width: 2.6961rem;
        height: 5.9961rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
