
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.ujian-tentor-ddF {
  width: 100%;
  height: 98.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ebf8f6;

  .rectangle-2572-YVK {
    top: 6.2rem;
    border: solid 0.02rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 29.9rem;
    height: 94.3rem;
    position: absolute;
    left: 0;
  }
  .tugas-s1o {
    top: 50.4rem;
    font-weight: 400;
    line-height: 1.3075;
    width: 4.4rem;
    height: 2.4rem;
    font-size: 1.8rem;
    color: #7c838a;
    font-family: Assistant, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 7.3rem;
  }
  .rectangle-2637-kLV {
    top: 54.3rem;
    background-color: #003580;
    border-radius: 0.5rem;
    width: 24.5rem;
    height: 3.9rem;
    position: absolute;
    left: 2.2rem;
  }
  .profile-UGV {
    font-family: Assistant, 'Source Sans Pro';
    height: 2.4rem;
    position: absolute;
    left: 7.3rem;
    top: 65.1rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #7c838a;
    width: 4.9rem;
    line-height: 1.3075;
    white-space: nowrap;
  }
  .logout-PPT {
    width: 5.3rem;
    height: 2.4rem;
    top: 69.9rem;
    font-size: 1.8rem;
    white-space: nowrap;
    position: absolute;
    left: 7.3rem;
    font-weight: 400;
    line-height: 1.3075;
    color: #7c838a;
    font-family: Assistant, 'Source Sans Pro';
  }
  .rectangle-2574-WDB {
    top: 0;
    background-color: #003580;
    width: 29.9rem;
    height: 8rem;
    position: absolute;
    left: 0;
  }
  .rectangle-2575-TPK {
    position: absolute;
    left: 29.9rem;
    top: 0;
    background-color: #2b7cc6;
    width: 121.3rem;
    height: 8rem;
  }
  .ellipse-4-C61 {
    border-radius: 4.5rem;
    width: 9rem;
    height: 9rem;
    position: absolute;
    left: 10.5rem;
    top: 13.8rem;
    background-color: #d9d9d9;
  }
  .edupro-8VT {
    font-weight: 400;
    line-height: 1.2525;
    font-family: Orbitron, 'Source Sans Pro';
    width: 13.2rem;
    height: 4.1rem;
    position: absolute;
    color: #ff9800;
    white-space: nowrap;
    left: 1.9rem;
    top: 2rem;
    font-size: 3.2rem;
  }
  .ic-round-list-SW9 {
    height: 1.7917rem;
    position: absolute;
    left: 24.8375rem;
    top: 3.1542rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.225rem;
  }
  .username-yFB {
    font-family: Assistant, 'Source Sans Pro';
    width: 6.8rem;
    height: 2.1rem;
    left: 11.5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #1c1d1f;
    position: absolute;
    top: 24rem;
    line-height: 1.3075;
    white-space: nowrap;
  }
  .dashboard-g9b {
    font-size: 1.8rem;
    font-weight: 400;
    white-space: nowrap;
    width: 8.2rem;
    position: absolute;
    left: 7.2rem;
    color: #7c838a;
    font-family: Assistant, 'Source Sans Pro';
    height: 2.4rem;
    top: 35.2rem;
    line-height: 1.3075;
  }
  .tentor-menu-yuP {
    font-size: 1.6rem;
    color: #7c838a;
    white-space: nowrap;
    width: 9.9rem;
    position: absolute;
    top: 40.5rem;
    font-weight: 400;
    line-height: 1.3075;
    font-family: Assistant, 'Source Sans Pro';
    height: 2.1rem;
    left: 3.6rem;
  }
  .user-menu-u2M {
    left: 3.6rem;
    color: #7c838a;
    font-family: Assistant, 'Source Sans Pro';
    position: absolute;
    height: 2.1rem;
    top: 60rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3075;
    white-space: nowrap;
    width: 7.4rem;
  }
  .icon-park-twotone-dashboard-car-otR {
    vertical-align: top;
    width: 1.7417rem;
    height: 1.65rem;
    position: absolute;
    left: 3.8792rem;
    top: 35.675rem;
    object-fit: contain;
  }
  .iconamoon-profile-jXB {
    left: 3.8333rem;
    top: 65.5167rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.3333rem;
    height: 1.2667rem;
    position: absolute;
  }
  .material-symbols-logout-rounded-SwP {
    object-fit: contain;
    vertical-align: top;
    width: 1.2467rem;
    height: 1.35rem;
    position: absolute;
    left: 3.8125rem;
    top: 70.225rem;
  }
  .ph-book-open-duotone-957 {
    width: 1.75rem;
    height: 1.725rem;
    position: absolute;
    left: 3.725rem;
    top: 46.0313rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ph-book-duotone-qTj {
    height: 1.7875rem;
    position: absolute;
    left: 3.675rem;
    top: 50.7063rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.65rem;
  }
  .healthicons-i-exam-multiple-choice-msB {
    top: 55.475rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.875rem;
    height: 1.65rem;
    position: absolute;
    left: 3.4125rem;
  }
  .rectangle-2592-gUM {
    top: 10.7rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 50.9rem;
    position: absolute;
    border: solid 0.02rem #000000;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 115.5rem;
    left: 32.2rem;
  }
  .materi-ZY9 {
    left: 7.3rem;
    font-weight: 400;
    color: #7c838a;
    width: 4.7rem;
    height: 2.4rem;
    font-size: 1.8rem;
    line-height: 1.3075;
    font-family: Assistant, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    top: 45.6rem;
  }
  .group-698-5WV {
    top: 12.9rem;
    width: 84.4rem;
    height: 36.2rem;
    position: absolute;
    left: 35.2rem;

    .auto-group-44sw-19F {
      height: 3.6rem;
      position: absolute;
      left: 2.3rem;
      top: 11.1rem;
      display: flex;
      align-items: center;
      width: 10.7rem;

      .hasil--7xy {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.5rem 0.1rem 0rem;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #555555;
      }
      .auto-group-9alv-RCy {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 0.4rem;
        flex-shrink: 0;
        width: 5rem;
        height: 100%;
        position: relative;

        .all-ART {
          font-family: Assistant, 'Source Sans Pro';
          height: 2.1rem;
          position: absolute;
          top: 0.7rem;
          color: #555555;
          line-height: 1.3075;
          white-space: nowrap;
          width: 2.4rem;
          left: 0.7rem;
          font-size: 1.6rem;
          font-weight: 600;
        }
        .mingcute-right-line-sKs {
          object-fit: contain;
          vertical-align: top;
          width: 1.5072rem;
          height: 1.6rem;
          position: absolute;
          left: 3rem;
          top: 1.2rem;
        }
      }
    }
    .try-out-AJy {
      width: 8.5rem;
      height: 3.4rem;
      top: 0;
      font-weight: 700;
      white-space: nowrap;
      position: absolute;
      left: 1rem;
      font-size: 2.6rem;
      line-height: 1.3075;
      color: #555555;
      font-family: Assistant, 'Source Sans Pro';
    }
    .auto-group-xjxp-5gq {
      height: 3.2rem;
      position: absolute;
      left: 2.3rem;
      top: 19rem;
      display: flex;
      align-items: flex-end;
      width: 74.5rem;

      .nama-materi-D2M {
        margin: 0rem 15rem 0.3rem 0rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #003580;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .mapel-89K {
        flex-shrink: 0;
        margin-right: 14.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #003580;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kelas-4Hs {
        color: #003580;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.8rem 0.1rem 0rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3075;
      }
      .opsi-Pb3 {
        color: #003580;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3075;
      }
    }
    .auto-group-rkcm-jQ1 {
      position: absolute;
      left: 1rem;
      top: 4.7rem;
      line-height: 1.3075;
      border-radius: 0.4rem;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
      display: flex;
      width: 9.5rem;
      height: 4rem;
      font-size: 1.8rem;
      color: #ffffff;
      white-space: nowrap;
      align-items: center;
      justify-content: center;
      background-color: #007dff;
    }
    .line-12-pAZ {
      width: 83.4rem;
      height: 0.06rem;
      position: absolute;
      left: 1rem;
      top: 22.8rem;
      background-color: #000000;
    }
    .line-15-ka1 {
      top: 18.4rem;
      background-color: #000000;
      width: 83.4rem;
      height: 0.06rem;
      position: absolute;
      left: 1rem;
    }
    .line-13-VGh {
      width: 83.6rem;
      height: 0.02rem;
      position: absolute;
      left: 0;
      top: 30.4rem;
      background-color: #000000;
    }
    .group-694-ddo {
      left: 37.5rem;
      top: 32.7rem;
      display: flex;
      column-gap: 0.6118rem;
      align-items: center;
      width: 10.4rem;
      height: 3.5rem;
      position: absolute;

      .auto-group-h9gr-xRB {
        width: 3.0588rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-d7df-WBo {
        background-position: center;
        width: 3.0588rem;
        display: flex;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:8:603');
        line-height: 1.3075;
        color: #ffffff;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 600;
        justify-content: center;
        height: 100%;
      }
      .auto-group-sgm3-CaR {
        vertical-align: top;
        flex-shrink: 0;
        width: 3.0588rem;
        height: 3.5rem;
        object-fit: contain;
      }
    }
    .auto-group-hqar-9Vf {
      top: 25rem;
      display: flex;
      align-items: flex-start;
      width: 76.9rem;
      height: 3.6rem;
      position: absolute;
      left: 2.8rem;

      .senyawa-kimia-GqB {
        margin: 0.1rem 14.7rem 0rem 0rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #4c4e52;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .kimia-Bx9 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #4c4e52;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 15.2rem;
      }
      .xii-ipa-1-jTs {
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #4c4e52;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 14.1rem 0rem 0rem;
      }
      .group-691-4W9 {
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 7.9rem;
        height: 3.5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .tentor-edupro-Q4D {
    top: 26.3rem;
    white-space: nowrap;
    width: 8.4rem;
    height: 1.9rem;
    left: 10.5rem;
    line-height: 1.3075;
    color: #7c838a;
    font-family: Assistant, 'Source Sans Pro';
    position: absolute;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .try-out-W7F {
    height: 2.4rem;
    position: absolute;
    line-height: 1.3075;
    font-family: Assistant, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.5rem;
    left: 7.3rem;
    top: 55.2rem;
    font-size: 1.8rem;
    font-weight: 400;
    color: #ffffff;
  }
  .rectangle-2633-25b {
    height: 106rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(30, 60, 98, 0.5);
    width: 162.9rem;
  }
  .rectangle-2633-xV3 {
    width: 40.6rem;
    height: 18.8rem;
    position: absolute;
    left: 56.1rem;
    top: 2.8rem;
    background-color: #ffffff;
  }
  .ph-x-bold-Gkd {
    object-fit: contain;
    vertical-align: top;
    width: 1.8381rem;
    height: 1.9039rem;
    position: absolute;
    left: 93.0809rem;
    top: 4.1979rem;
  }
  .tambah-try-out-CuB {
    font-weight: 700;
    color: #555555;
    width: 17.2rem;
    height: 3.2rem;
    position: absolute;
    font-size: 2.4rem;
    white-space: nowrap;
    left: 57.2rem;
    top: 3.5rem;
    line-height: 1.3075;
    font-family: Assistant, 'Source Sans Pro';
  }
  .rectangle-2633-KD7 {
    left: 59.4rem;
    top: 9.9rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #2b7cc6;
    border-radius: 0.3rem;
    width: 15.2rem;
    height: 4.6rem;
    position: absolute;
  }
  .rectangle-2638-DpH {
    width: 9.3rem;
    height: 4.6rem;
    position: absolute;
    left: 77.4rem;
    top: 9.9rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #2b7cc6;
    border-radius: 0.3rem;
  }
  .pilihan-ganda-wVP {
    width: 10.7rem;
    position: absolute;
    font-size: 1.8rem;
    color: #ffffff;
    font-family: Assistant, 'Source Sans Pro';
    height: 2.4rem;
    cursor: pointer;
    left: 61.6rem;
    top: 10.7rem;
    font-weight: 600;
    line-height: 1.3075;
    white-space: nowrap;
  }
  .essay-EjP {
    font-family: Assistant, 'Source Sans Pro';
    height: 2.4rem;
    cursor: pointer;
    top: 10.7rem;
    font-weight: 600;
    line-height: 1.3075;
    color: #ffffff;
    white-space: nowrap;
    width: 4.3rem;
    position: absolute;
    left: 79.9rem;
    font-size: 1.8rem;
  }
  .rectangle-2633-kSq {
    width: 11rem;
    height: 3.6rem;
    position: absolute;
    left: 83rem;
    top: 17.1rem;
    background-color: #d9d9d9;
    border-radius: 0.3rem;
  }
  .cancel-Hhf {
    height: 2.7rem;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    top: 17.6rem;
    align-items: baseline;
    width: 6.1rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.3075;
    font-family: Assistant, 'Source Sans Pro';
    position: absolute;
    left: 85.6rem;
    color: #7c838a;

    .cancel-Hhf-sub-0 {
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.3075;
    }
    .cancel-Hhf-sub-1 {
    }
  }
}
