
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.detail-tugas-tentor-1-Yn9 {
  flex-direction: column;
  background-color: #ebf8f6;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .auto-group-mbqf-Hjj {
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    height: 8rem;
    display: flex;

    .auto-group-wujy-qWM {
      box-sizing: border-box;
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;

      .edupro-NWH {
        font-weight: 400;
        line-height: 1.2525;
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
      }
      .ic-round-list-W6h {
        width: 3.225rem;
        height: 1.7917rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0001rem;
      }
    }
    .rectangle-2575-RUZ {
      flex-shrink: 0;
      width: 121.3rem;
      height: 8rem;
      background-color: #2b7cc6;
    }
  }
  .auto-group-p7cq-Zam {
    flex-shrink: 0;
    width: 100%;
    height: 90.2rem;
    display: flex;
    align-items: flex-end;

    .auto-group-r1bj-Wku {
      padding: 5.8rem 2.7rem 25.9rem 2.7rem;
      width: 29.9rem;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;

      .ellipse-4-Ctd {
        margin: 0rem 7.7rem 1.2rem 7.8rem;
        width: calc(100% - 15.5rem);
        height: 9rem;
        background-color: #d9d9d9;
        border-radius: 4.5rem;
        flex-shrink: 0;
      }
      .username-vJq {
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tentor-edupro-T3s {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.5rem 7.2rem 0rem;
      }
      .auto-group-xyzy-yY1 {
        margin: 0rem 11.8rem 2.9rem 0.479rem;
        width: calc(100% - 12.2792rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-park-twotone-dashboard-car-ugZ {
          height: 1.4667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.279rem 0.2rem 0rem;
          width: 1.7417rem;
        }
        .dashboard-CvZ {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .siswa-menu-YDj {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
      }
      .auto-group-igrb-TrV {
        width: calc(100% - 16.2438rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 15.2rem 1.3rem 1.044rem;

        .ph-book-open-duotone-oQZ {
          margin: 0rem 1.544rem 0.144rem 0rem;
          width: 2.0125rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .materi-X5f {
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-yawf-Tk1 {
        margin-bottom: 2rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        background-color: #003580;
        flex-shrink: 0;
        padding: 0.997rem 15.5rem 0.4rem 1.259rem;
        align-items: center;
        border-radius: 0.5rem;

        .ph-book-duotone-apd {
          margin: 0rem 1.759rem 0.797rem 0rem;
          width: 1.5813rem;
          height: 1.7063rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tugas-K1X {
          margin-top: 0.1031rem;
          font-family: Assistant, 'Source Sans Pro';
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-9jsf-DMo {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.4rem 2.4rem 1.175rem;
        width: calc(100% - 15.575rem);

        .healthicons-i-exam-multiple-choice-MD7 {
          margin: 0.1rem 1.775rem 0rem 0rem;
          width: 1.65rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .try-out-fUh {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .user-menu-CjX {
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 15.4rem 3rem 0rem;
        font-size: 1.6rem;
      }
      .auto-group-qemk-8dB {
        margin: 0rem 15rem 2.4rem 0.9rem;
        width: calc(100% - 15.9rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .iconamoon-profile-4Wq {
          margin-right: 1.4rem;
          width: 2.3rem;
          height: 2.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .profile-oDX {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .auto-group-cn6q-jss {
        margin: 0rem 14.6rem 0rem 1.138rem;
        width: calc(100% - 15.7375rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .material-symbols-logout-rounded-5B3 {
          margin: 0rem 2.069rem 0.4rem 0rem;
          width: 1.3934rem;
          height: 1.35rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .logout-bQH {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
        }
      }
    }
    .auto-group-q7tj-Kr5 {
      flex-shrink: 0;
      width: 121.3rem;

      .group-670-ssb {
        margin: 0rem 0rem 4.3rem 6.3rem;
        cursor: pointer;
        border: solid 0.001rem #000000;
        background-color: rgba(176, 186, 195, 0.400000006);
        width: 54.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        border-radius: 0.8rem;

        .auto-group-yyvw-oFT {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.6rem 2.2rem 0rem 2.2rem;
          font-weight: 700;
          line-height: 1.3075;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #acb6c0;
          width: 100%;
          font-size: 2rem;
          color: #1c1d1f;
          border-radius: 0.8rem;
        }
        .auto-group-kozm-tXo {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 1.84rem 0.9rem 1.84rem;
          width: 100%;
          display: flex;

          .auto-group-2jed-cih {
            margin: 0rem 22.16rem 0.6rem 0rem;
            width: calc(100% - 22.16rem);
            height: 5rem;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .pepicons-print-file-k4D {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.19rem 2.08rem 0rem 0rem;
              width: 2.88rem;
              height: 3.6101rem;
              object-fit: contain;
            }
            .auto-group-dt77-evH {
              flex-shrink: 0;
              width: 23.4rem;
              height: 100%;
              position: relative;

              .kimia-unsur-dan-senyawa-QeZ {
                left: 0;
                top: 0;
                line-height: 1.3075;
                white-space: nowrap;
                font-family: Assistant, 'Source Sans Pro';
                width: 23.4rem;
                height: 2.7rem;
                position: absolute;
                font-size: 2rem;
                font-weight: 600;
                color: #1c1d1f;
              }
              .kelas-xii-c-urD {
                position: absolute;
                font-size: 1.8rem;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                width: 7.6rem;
                height: 2.4rem;
                left: 0;
                top: 2.6rem;
                font-weight: 400;
                line-height: 1.3075;
                color: #7c838a;
              }
            }
          }
          .lihat-hasil-DM7 {
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 4.96rem;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }
      }
      .group-671-uDw {
        width: 54.2rem;
        display: flex;
        border-radius: 0.8rem;
        background-color: rgba(176, 186, 195, 0.400000006);
        margin: 0rem 0rem 4.3rem 6.5rem;
        align-items: center;
        flex-direction: column;
        border: solid 0.001rem #000000;
        box-sizing: border-box;

        .auto-group-1csr-EGD {
          border-radius: 0.8rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.6rem 2.2rem 0rem 2.2rem;
          width: 100%;
          font-weight: 700;
          background-color: #acb6c0;
          font-size: 2rem;
          line-height: 1.3075;
          color: #1c1d1f;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-7rlm-757 {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 1.84rem 0.9rem 1.84rem;

          .auto-group-pmad-SdB {
            flex-shrink: 0;
            margin: 0rem 22.16rem 0.6rem 0rem;
            width: calc(100% - 22.16rem);
            height: 5rem;
            display: flex;
            align-items: flex-start;

            .pepicons-print-file-mQZ {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.19rem 2.08rem 0rem 0rem;
              width: 2.88rem;
              height: 3.6101rem;
            }
            .auto-group-dvcd-J9b {
              position: relative;
              flex-shrink: 0;
              width: 23.4rem;
              height: 100%;

              .kimia-unsur-dan-senyawa-rB7 {
                width: 23.4rem;
                position: absolute;
                line-height: 1.3075;
                color: #1c1d1f;
                white-space: nowrap;
                height: 2.7rem;
                left: 0;
                top: 0;
                font-size: 2rem;
                font-weight: 600;
                font-family: Assistant, 'Source Sans Pro';
              }
              .kelas-xii-c-xjw {
                height: 2.4rem;
                line-height: 1.3075;
                width: 7.6rem;
                left: 0;
                top: 2.6rem;
                font-size: 1.8rem;
                font-weight: 400;
                color: #7c838a;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                position: absolute;
              }
            }
          }
          .lihat-hasil-sru {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 4.96rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #7c838a;
          }
        }
      }
      .group-672-B6u {
        border-radius: 0.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: rgba(176, 186, 195, 0.400000006);
        margin: 0rem 0rem 20.7rem 6.5rem;
        width: 54.2rem;
        border: solid 0.001rem #000000;

        .auto-group-dfp1-WQ5 {
          box-sizing: border-box;
          line-height: 1.3075;
          background-color: #acb6c0;
          white-space: nowrap;
          border-radius: 0.8rem;
          padding: 0.6rem 2.2rem 0rem 2.2rem;
          width: 100%;
          font-size: 2rem;
          font-weight: 700;
          color: #1c1d1f;
          font-family: Assistant, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .auto-group-mvv3-bRX {
          padding: 2rem 1.84rem 0.9rem 1.84rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-trob-L8D {
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 22.16rem 0.6rem 0rem;
            width: calc(100% - 22.16rem);
            height: 5rem;

            .pepicons-print-file-Fky {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0.19rem 2.08rem 0rem 0rem;
              width: 2.88rem;
              height: 3.6101rem;
              object-fit: contain;
            }
            .auto-group-havy-NKo {
              width: 23.4rem;
              height: 100%;
              position: relative;
              flex-shrink: 0;

              .kimia-unsur-dan-senyawa-iuT {
                color: #1c1d1f;
                width: 23.4rem;
                height: 2.7rem;
                font-size: 2rem;
                font-weight: 600;
                line-height: 1.3075;
                position: absolute;
                left: 0;
                top: 0;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
              }
              .kelas-xii-c-F8h {
                height: 2.4rem;
                font-size: 1.8rem;
                font-weight: 400;
                line-height: 1.3075;
                white-space: nowrap;
                font-family: Assistant, 'Source Sans Pro';
                width: 7.6rem;
                position: absolute;
                left: 0;
                top: 2.6rem;
                color: #7c838a;
              }
            }
          }
          .lihat-hasil-MxR {
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 4.96rem;
            font-size: 1.8rem;
            font-weight: 600;
          }
        }
      }
      .group-675-fTK {
        box-sizing: border-box;
        padding: 0.6rem 2.3rem 0.5rem 0.8rem;
        display: flex;
        margin: 0rem 105.4rem 4.6rem 2.9rem;
        width: calc(100% - 108.3rem);
        cursor: pointer;
        align-items: center;
        background-color: #d14747;
        border-radius: 0.2rem;

        .vector-N6q {
          width: 2.1rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.8rem;
        }
        .kembali-WD3 {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #ffffff;
        }
      }
      .group-705-Rau {
        width: 121.3rem;
        height: 3.7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
