
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.materi-tentor-QBP {
  background-color: #ebf8f6;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;

  .auto-group-fhpr-Lqj {
    position: relative;
    flex-shrink: 0;
    width: 29.9rem;
    height: 100.5rem;

    .rectangle-2572-4mj {
      top: 6.2rem;
      border: solid 0.02rem #000000;
      box-sizing: border-box;
      background-color: #ffffff;
      width: 29.9rem;
      height: 94.3rem;
      position: absolute;
      left: 0;
    }
    .rectangle-2637-PZ7 {
      top: 44.9rem;
      background-color: #003580;
      border-radius: 0.5rem;
      width: 24.5rem;
      height: 3.9rem;
      position: absolute;
      left: 2.7rem;
    }
    .rectangle-2574-7k1 {
      background-color: #003580;
      width: 29.9rem;
      height: 8rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .ellipse-4-rxV {
      position: absolute;
      left: 10.5rem;
      top: 13.8rem;
      background-color: #d9d9d9;
      border-radius: 4.5rem;
      width: 9rem;
      height: 9rem;
    }
    .edupro-PxR {
      left: 1.9rem;
      font-size: 3.2rem;
      line-height: 1.2525;
      color: #ff9800;
      white-space: nowrap;
      width: 13.2rem;
      height: 4.1rem;
      position: absolute;
      top: 2rem;
      font-weight: 400;
      font-family: Orbitron, 'Source Sans Pro';
    }
    .ic-round-list-VkZ {
      top: 3.1542rem;
      object-fit: contain;
      vertical-align: top;
      width: 3.225rem;
      height: 1.7917rem;
      position: absolute;
      left: 24.8375rem;
    }
    .username-pXw {
      width: 6.8rem;
      font-weight: 400;
      white-space: nowrap;
      font-family: Assistant, 'Source Sans Pro';
      height: 2.1rem;
      position: absolute;
      left: 11.5rem;
      top: 24rem;
      font-size: 1.6rem;
      line-height: 1.3075;
      color: #1c1d1f;
    }
    .dashboard-vay {
      height: 2.4rem;
      cursor: pointer;
      position: absolute;
      left: 7.2rem;
      top: 35.2rem;
      font-size: 1.8rem;
      line-height: 1.3075;
      width: 8.2rem;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 400;
    }
    .tentor-menu-2tu {
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      width: 9.9rem;
      left: 3.6rem;
      top: 40.5rem;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.1rem;
      position: absolute;
      font-size: 1.6rem;
    }
    .user-menu-YcM {
      height: 2.1rem;
      left: 3.6rem;
      top: 60rem;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.4rem;
      position: absolute;
      font-size: 1.6rem;
      font-weight: 600;
      color: #7c838a;
    }
    .icon-park-twotone-dashboard-car-rd3 {
      width: 1.7417rem;
      height: 1.65rem;
      position: absolute;
      left: 3.8792rem;
      top: 35.675rem;
      object-fit: contain;
      vertical-align: top;
    }
    .iconamoon-profile-aZ3 {
      position: absolute;
      left: 3.8333rem;
      top: 65.5167rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.3333rem;
      height: 1.2667rem;
    }
    .material-symbols-logout-rounded-KFj {
      left: 3.8125rem;
      top: 70.225rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.2467rem;
      height: 1.35rem;
      position: absolute;
    }
    .ph-book-open-duotone-Sr9 {
      top: 46.0313rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.75rem;
      height: 1.725rem;
      position: absolute;
      left: 3.725rem;
    }
    .ph-book-duotone-nQD {
      object-fit: contain;
      vertical-align: top;
      width: 1.65rem;
      height: 1.7875rem;
      position: absolute;
      left: 3.675rem;
      top: 50.7063rem;
    }
    .healthicons-i-exam-multiple-choice-X6u {
      position: absolute;
      left: 3.4125rem;
      top: 55.475rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.875rem;
      height: 1.65rem;
    }
    .tentor-edupro-SUm {
      height: 1.9rem;
      left: 10.5rem;
      top: 26.3rem;
      font-size: 1.4rem;
      font-family: Assistant, 'Source Sans Pro';
      width: 8.4rem;
      position: absolute;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
    }
    .materi-Ynh {
      height: 2.4rem;
      position: absolute;
      left: 7.3rem;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.7rem;
      top: 45.6rem;
      font-size: 1.8rem;
      line-height: 1.3075;
      color: #ffffff;
    }
    .tugas-fcR {
      height: 2.4rem;
      font-size: 1.8rem;
      top: 50.4rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      width: 4.4rem;
      cursor: pointer;
      position: absolute;
      left: 7.3rem;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
    }
    .try-out-aUV {
      font-weight: 400;
      color: #7c838a;
      left: 7.3rem;
      top: 55.2rem;
      font-size: 1.8rem;
      position: absolute;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.5rem;
      height: 2.4rem;
      cursor: pointer;
    }
    .profile-h3K {
      cursor: pointer;
      position: absolute;
      line-height: 1.3075;
      white-space: nowrap;
      font-weight: 400;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      width: 4.9rem;
      height: 2.4rem;
      left: 7.3rem;
      top: 65.1rem;
      font-size: 1.8rem;
    }
    .logout-os3 {
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      line-height: 1.3075;
      font-size: 1.8rem;
      font-weight: 400;
      color: #7c838a;
      width: 5.3rem;
      left: 7.3rem;
      top: 69.9rem;
    }
  }
  .auto-group-6dlh-jEu {
    height: 98.2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 121.3rem;

    .rectangle-2575-Twb {
      margin-bottom: 2.7rem;
      width: 100%;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
    .auto-group-fkrk-Qbw {
      border-radius: 0.5rem;
      height: 50.9rem;
      border: solid 0.02rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: calc(100% - 5.8rem);
      background-color: #ffffff;
      flex-shrink: 0;
      margin: 0rem 3.5rem 32.9rem 2.3rem;
      box-sizing: border-box;
      padding: 2.2rem 3rem;

      .group-698-W9B {
        width: 84.4rem;
        height: 36.2rem;
        position: relative;

        .auto-group-r3yq-Eqs {
          position: absolute;
          left: 2.3rem;
          top: 11.1rem;
          display: flex;
          align-items: center;
          width: 10.7rem;
          height: 3.6rem;

          .hasil--AUd {
            color: #555555;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 1.5rem 0.1rem 0rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3075;
          }
          .auto-group-nanz-UVK {
            width: 5rem;
            height: 100%;
            position: relative;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            border-radius: 0.4rem;
            flex-shrink: 0;

            .all-RfT {
              width: 2.4rem;
              height: 2.1rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3075;
              color: #555555;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              left: 0.7rem;
              top: 0.7rem;
            }
            .mingcute-right-line-8pm {
              width: 1.5072rem;
              height: 1.6rem;
              position: absolute;
              left: 3rem;
              top: 1.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .materi-R3B {
          position: absolute;
          font-weight: 700;
          font-family: Assistant, 'Source Sans Pro';
          width: 7.3rem;
          height: 3.4rem;
          left: 1rem;
          top: 0;
          font-size: 2.6rem;
          line-height: 1.3075;
          color: #555555;
          white-space: nowrap;
        }
        .auto-group-g6x7-KuF {
          height: 3.2rem;
          position: absolute;
          left: 2.3rem;
          top: 19rem;
          display: flex;
          align-items: flex-end;
          width: 74.5rem;

          .nama-materi-TEm {
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 15rem 0.3rem 0rem;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3075;
          }
          .mapel-NsX {
            line-height: 1.3075;
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 14.8rem;
            font-size: 2.2rem;
            font-weight: 600;
          }
          .kelas-iRb {
            flex-shrink: 0;
            margin: 0rem 14.8rem 0.1rem 0rem;
            font-size: 2.2rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
          }
          .opsi-3Ts {
            font-weight: 600;
            line-height: 1.3075;
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
          }
        }
        .auto-group-ky6h-ngM {
          border-radius: 0.4rem;
          height: 4rem;
          position: absolute;
          top: 4.7rem;
          align-items: center;
          display: flex;
          background-color: #007dff;
          box-sizing: border-box;
          padding: 0.8rem 2.8rem 0.8rem 1.525rem;
          width: 18.4rem;
          left: 1rem;

          .ph-book-open-duotone-H7K {
            margin: 0.388rem 1.225rem 0rem 0rem;
            width: 1.75rem;
            height: 1.725rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .tambah-materi-bdo {
            color: #ffffff;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            cursor: pointer;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
          }
        }
        .line-12-vg5 {
          top: 22.8rem;
          background-color: #000000;
          width: 83.4rem;
          height: 0.06rem;
          position: absolute;
          left: 1rem;
        }
        .line-15-FCZ {
          width: 83.4rem;
          height: 0.06rem;
          position: absolute;
          left: 1rem;
          top: 18.4rem;
          background-color: #000000;
        }
        .line-13-zR3 {
          top: 30.4rem;
          background-color: #000000;
          width: 83.6rem;
          height: 0.02rem;
          position: absolute;
          left: 0;
        }
        .group-694-LUu {
          position: absolute;
          left: 37.5rem;
          top: 32.7rem;
          display: flex;
          column-gap: 0.6118rem;
          align-items: center;
          width: 10.4rem;
          height: 3.5rem;

          .auto-group-g1g1-G7f {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 3.0588rem;
            height: 3.5rem;
          }
          .auto-group-knff-1b3 {
            width: 3.0588rem;
            height: 100%;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            background-repeat: no-repeat;
            background-position: center;
            font-weight: 600;
            color: #ffffff;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            background-image: url('REPLACE_IMAGE:8:191');
            flex-shrink: 0;
            line-height: 1.3075;
            background-size: cover;
          }
          .auto-group-ejm7-hyf {
            width: 3.0588rem;
            height: 3.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-egkd-TC9 {
          position: absolute;
          left: 2.8rem;
          top: 25rem;
          display: flex;
          align-items: flex-start;
          width: 76.9rem;
          height: 3.6rem;

          .senyawa-kimia-BP3 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #4c4e52;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 14.7rem 0rem 0rem;
          }
          .kimia-6W1 {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 15.2rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #4c4e52;
          }
          .xii-ipa-1-R2V {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 14.1rem 0rem 0rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #4c4e52;
          }
          .group-691-Y77 {
            margin-top: 0.1rem;
            width: 7.9rem;
            height: 3.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-6ckv-p4d {
      flex-shrink: 0;
      width: 121.3rem;
      height: 3.7rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
