
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.tambah-soal-essay-SYD {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ebf8f6;
  width: 100%;

  .auto-group-iah3-BEu {
    width: 29.9rem;
    height: 100.5rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-2572-tQD {
      background-color: #ffffff;
      width: 29.9rem;
      height: 94.3rem;
      position: absolute;
      left: 0;
      top: 6.2rem;
      border: solid 0.02rem #000000;
      box-sizing: border-box;
    }
    .rectangle-2637-Q7f {
      width: 24.5rem;
      height: 3.9rem;
      position: absolute;
      left: 2rem;
      top: 54.4rem;
      background-color: #003580;
      border-radius: 0.5rem;
    }
    .rectangle-2574-ie9 {
      left: 0;
      top: 0;
      background-color: #003580;
      width: 29.9rem;
      height: 8rem;
      position: absolute;
    }
    .ellipse-4-GQm {
      left: 10.5rem;
      top: 13.8rem;
      background-color: #d9d9d9;
      border-radius: 4.5rem;
      width: 9rem;
      height: 9rem;
      position: absolute;
    }
    .edupro-QG5 {
      top: 2rem;
      font-size: 3.2rem;
      color: #ff9800;
      white-space: nowrap;
      height: 4.1rem;
      position: absolute;
      left: 1.9rem;
      font-family: Orbitron, 'Source Sans Pro';
      width: 13.2rem;
      font-weight: 400;
      line-height: 1.2525;
    }
    .ic-round-list-uyX {
      vertical-align: top;
      width: 3.225rem;
      height: 1.7916rem;
      position: absolute;
      left: 24.8375rem;
      top: 3.1541rem;
      object-fit: contain;
    }
    .username-3K3 {
      height: 2.1rem;
      position: absolute;
      top: 24rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #1c1d1f;
      width: 6.8rem;
      left: 11.5rem;
      font-size: 1.6rem;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tentor-menu-wQR {
      font-size: 1.6rem;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      width: 9.9rem;
      height: 2.1rem;
      left: 3.6rem;
      top: 40.5rem;
      position: absolute;
      font-weight: 400;
      font-family: Assistant, 'Source Sans Pro';
    }
    .user-menu-epd {
      width: 7.4rem;
      line-height: 1.3075;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 600;
      white-space: nowrap;
      height: 2.1rem;
      position: absolute;
      left: 3.6rem;
      top: 60rem;
    }
    .icon-park-twotone-dashboard-car-aCV {
      left: 3.8792rem;
      top: 35.675rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7417rem;
      height: 1.65rem;
      position: absolute;
    }
    .iconamoon-profile-W69 {
      left: 3.8333rem;
      top: 65.5166rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.3333rem;
      height: 1.2666rem;
      position: absolute;
    }
    .material-symbols-logout-rounded-EH3 {
      width: 1.2467rem;
      height: 1.35rem;
      position: absolute;
      left: 3.8125rem;
      top: 70.225rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ph-book-open-duotone-AAh {
      vertical-align: top;
      width: 1.75rem;
      height: 1.725rem;
      position: absolute;
      left: 3.725rem;
      top: 46.0313rem;
      object-fit: contain;
    }
    .ph-book-duotone-hAd {
      width: 1.65rem;
      height: 1.7875rem;
      position: absolute;
      left: 3.675rem;
      top: 50.7063rem;
      object-fit: contain;
      vertical-align: top;
    }
    .healthicons-i-exam-multiple-choice-2ih {
      object-fit: contain;
      vertical-align: top;
      width: 1.875rem;
      height: 1.65rem;
      position: absolute;
      left: 3.4125rem;
      top: 55.475rem;
    }
    .tentor-edupro-ZCq {
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
      width: 8.4rem;
      height: 1.9rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      position: absolute;
      left: 10.5rem;
      top: 26.3rem;
    }
    .dashboard-4fP {
      font-family: Assistant, 'Source Sans Pro';
      position: absolute;
      left: 7.3rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      white-space: nowrap;
      width: 8.2rem;
      height: 2.4rem;
      cursor: pointer;
      top: 35.2rem;
      font-size: 1.8rem;
    }
    .materi-NRB {
      font-size: 1.8rem;
      font-weight: 400;
      color: #7c838a;
      width: 4.7rem;
      height: 2.4rem;
      cursor: pointer;
      left: 7.4rem;
      top: 45.6rem;
      position: absolute;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tugas-HY9 {
      height: 2.4rem;
      cursor: pointer;
      left: 7.3rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3075;
      width: 4.4rem;
      position: absolute;
      top: 50.4rem;
      color: #7c838a;
      font-family: Assistant, 'Source Sans Pro';
      white-space: nowrap;
    }
    .try-out-oWV {
      left: 7.3rem;
      top: 55.2rem;
      font-size: 1.8rem;
      line-height: 1.3075;
      white-space: nowrap;
      width: 5.5rem;
      height: 2.4rem;
      cursor: pointer;
      font-family: Assistant, 'Source Sans Pro';
      position: absolute;
      font-weight: 400;
      color: #ffffff;
    }
    .profile-itM {
      left: 7.3rem;
      top: 65.1rem;
      font-weight: 400;
      line-height: 1.3075;
      font-family: Assistant, 'Source Sans Pro';
      width: 4.9rem;
      height: 2.4rem;
      cursor: pointer;
      white-space: nowrap;
      position: absolute;
      font-size: 1.8rem;
      color: #7c838a;
    }
    .logout-qTB {
      font-family: Assistant, 'Source Sans Pro';
      width: 5.3rem;
      left: 7.3rem;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3075;
      color: #7c838a;
      height: 2.4rem;
      position: absolute;
      top: 69.9rem;
      white-space: nowrap;
    }
  }
  .auto-group-aya1-xXo {
    flex-direction: column;
    flex-shrink: 0;
    width: 121.3rem;
    height: 98.2rem;
    align-items: center;
    display: flex;

    .rectangle-2575-JLm {
      width: 100%;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
    .auto-group-bd4h-3JM {
      box-sizing: border-box;
      padding-top: 2.1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-cc3p-nFw {
        width: calc(100% - 110.7rem);
        display: flex;
        flex-shrink: 0;
        margin: 0rem 107.8rem 1.6rem 2.9rem;
        box-sizing: border-box;
        padding: 0.6rem 1.3rem 0.6rem 1.1rem;
        align-items: center;
        box-shadow: 0 0.2rem 0.4rem #8ab336;
        background-color: #8ab336;

        .vector-UPf {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.15rem 0.05rem 0rem;
          width: 1.15rem;
          height: 1.35rem;
        }
        .import-soal-bDP {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
        }
      }
      .auto-group-e4vy-HM7 {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #fafafa;
        border-radius: 0.5rem;
        margin: 0rem 2.9rem 18rem 2.9rem;
        height: 62rem;
        position: relative;
        border: solid 0.02rem #000000;
        width: calc(100% - 5.8rem);
        box-sizing: border-box;
        flex-shrink: 0;

        .try-out-essay-Ciy {
          font-size: 2.6rem;
          font-weight: 700;
          line-height: 1.3075;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          height: 3.4rem;
          left: 1.6rem;
          top: 1.1rem;
          color: #555555;
          width: 15.4rem;
        }
        .auto-group-viu3-JX7 {
          left: 1.9rem;
          top: 8.6rem;
          display: flex;
          column-gap: 2.8rem;
          align-items: center;
          width: 111.8rem;
          height: 4.9rem;
          position: absolute;

          .rectangle-2644-1wK {
            width: 35.4rem;
            height: 4.9rem;
            border: solid 0.04rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 0.4rem;
            flex-shrink: 0;
          }
          .auto-group-sqms-91w {
            box-sizing: border-box;
            height: 100%;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;
            padding: 1.3rem 0.884rem 1.184rem 1.1rem;
            display: flex;
            border: solid 0.04rem #000000;
            border-radius: 0.4rem;

            .pilih-ToK {
              line-height: 1.3075;
              color: #7c838a;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 28rem 0.316rem 0rem;
              font-size: 1.6rem;
              font-weight: 400;
            }
            .mingcute-right-line-z2Z {
              width: 2.4158rem;
              height: 2.4158rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-ymbk-tdj {
            height: 100%;
            display: flex;
            border: solid 0.04rem #000000;
            background-color: #ffffff;
            border-radius: 0.4rem;
            box-sizing: border-box;
            padding: 1.3rem 0.984rem 1.184rem 1rem;
            align-items: center;
            flex-shrink: 0;

            .pilih-2V3 {
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.3075;
              color: #7c838a;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 28rem 0.316rem 0rem;
            }
            .mingcute-right-line-9pZ {
              width: 2.4158rem;
              height: 2.4158rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .auto-group-4aez-4gd {
          width: 111.8rem;
          height: 4.9rem;
          position: absolute;
          left: 1.9rem;
          top: 18.9rem;
          display: flex;
          align-items: center;

          .rectangle-2647-Pyo {
            border: solid 0.04rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 0.4rem;
            flex-shrink: 0;
            margin-right: 3.8rem;
            width: 54rem;
            height: 4.9rem;
          }
          .rectangle-2648-7uo {
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 0.4rem;
            flex-shrink: 0;
            width: 54rem;
            height: 4.9rem;
            border: solid 0.04rem #000000;
          }
        }
        .auto-group-p43o-Sx5 {
          position: absolute;
          left: 1.9rem;
          top: 5.5rem;
          display: flex;
          align-items: center;
          width: 80rem;
          height: 2.1rem;

          .nama-ujian-aoP {
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 30.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
          }
          .mapel-84D {
            margin-right: 34.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .kelas-4Cm {
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
          }
        }
        .auto-group-yh8h-nuT {
          width: 111.8rem;
          height: 5rem;
          position: absolute;
          left: 1.9rem;
          top: 25.8rem;
          display: flex;
          align-items: flex-start;

          .auto-group-ke8d-vkm {
            margin: 0.3rem 87.9rem 0rem 0rem;
            width: 8.4rem;
            height: 4.7rem;
            position: relative;
            flex-shrink: 0;

            .soal-ujian-egm {
              position: absolute;
              left: 0;
              top: 0;
              font-weight: 400;
              line-height: 1.3075;
              color: #1c1d1f;
              font-family: Assistant, 'Source Sans Pro';
              width: 8.4rem;
              font-size: 2rem;
              white-space: nowrap;
              height: 2.7rem;
            }
            .soal-no-1-Ncm {
              line-height: 1.3075;
              color: #1c1d1f;
              white-space: nowrap;
              height: 2.1rem;
              position: absolute;
              left: 0;
              top: 2.6rem;
              font-size: 1.6rem;
              font-weight: 400;
              font-family: Assistant, 'Source Sans Pro';
              width: 6.6rem;
            }
          }
          .auto-group-mznh-VSV {
            color: #ffffff;
            width: 15.5rem;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #007dff;
            flex-shrink: 0;
            height: 4rem;
            line-height: 1.3075;
            font-family: Assistant, 'Source Sans Pro';
            font-size: 1.8rem;
            font-weight: 400;
            border-radius: 0.4rem;
          }
        }
        .auto-group-aew1-AYd {
          left: 1.9rem;
          top: 15.9rem;
          display: flex;
          align-items: center;
          width: 66.1rem;
          height: 2.1rem;
          position: absolute;

          .waktu-jam-W6h {
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 50.4rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
          }
          .waktu-menit-eCu {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #1c1d1f;
          }
        }
        .rectangle-2641-BTj {
          left: 1.9rem;
          box-sizing: border-box;
          background-color: #fcfafa;
          width: 111.8rem;
          height: 21.5rem;
          position: absolute;
          top: 31.7rem;
          border: solid 0.02rem #000000;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .auto-group-kxdx-Gzy {
          width: 15.5rem;
          display: flex;
          border-radius: 0.4rem;
          font-size: 1.8rem;
          font-family: Assistant, 'Source Sans Pro';
          background-color: #007dff;
          white-space: nowrap;
          align-items: center;
          height: 4rem;
          left: 1.9rem;
          top: 55.5rem;
          color: #ffffff;
          justify-content: center;
          position: absolute;
          font-weight: 400;
          line-height: 1.3075;
        }
      }
      .group-706-i6H {
        width: 121.3rem;
        height: 3.7rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
}
