
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.tentor-user-hAM {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
  width: 100%;

  .auto-group-ewkh-BLR {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-qnku-9a5 {
      background-color: #003580;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      height: 100%;
      display: flex;
      align-items: center;

      .edupro-z4u {
        font-weight: 400;
        line-height: 1.2525;
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
      }
      .ic-round-list-qbK {
        flex-shrink: 0;
        margin-top: 0.0001rem;
        width: 3.225rem;
        height: 1.7917rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .rectangle-2575-VA5 {
      width: 121.3rem;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
  }
  .auto-group-y74r-yqw {
    margin-right: 3.6rem;
    width: calc(100% - 3.6rem);
    height: 90.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-rdv5-fim {
      border: solid 0.05rem #000000;
      background-color: #ffffff;
      padding: 5.8rem 2.7rem 25.888rem 2.7rem;
      width: 29.9rem;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;

      .ellipse-4-spq {
        margin: 0rem 7.7rem 1.2rem 7.8rem;
        width: calc(100% - 15.5rem);
        height: 9rem;
        background-color: #d9d9d9;
        border-radius: 4.5rem;
        flex-shrink: 0;
      }
      .username-LTX {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #1c1d1f;
      }
      .tentor-edupro-RE5 {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 7.2rem 0.5rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
      }
      .auto-group-ijmw-J2y {
        margin: 0rem 11.7rem 2.596rem 0.583rem;
        width: calc(100% - 12.2834rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .icon-park-twotone-dashboard-car-nTw {
          width: 1.8334rem;
          height: 2.1083rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.1832rem;
        }
        .dashboard-rTo {
          margin-bottom: 0.3041rem;
          font-size: 1.8rem;
          line-height: 1.3075;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 400;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
        }
      }
      .siswa-menu-JKo {
        flex-shrink: 0;
        margin: 0rem 14.6rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-netu-NKf {
        margin: 0rem 15.1rem 2.4rem 0.638rem;
        width: calc(100% - 15.7375rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ph-book-open-duotone-FuF {
          margin: 0.025rem 2.138rem 0rem 0rem;
          width: 1.925rem;
          height: 1.35rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .materi-i29 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .auto-group-pnpu-pL5 {
        margin: 0rem 15.5rem 2.4rem 0.759rem;
        width: calc(100% - 16.2594rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .ph-book-duotone-Y1B {
          margin-right: 2.2594rem;
          width: 1.5813rem;
          height: 1.4625rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tugas-UfX {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
        }
      }
      .auto-group-sjtf-pUV {
        margin: 0rem 14.4rem 2.4rem 0.7rem;
        width: calc(100% - 15.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .healthicons-i-exam-multiple-choice-YQV {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 2.1rem 0rem 0rem;
          width: 1.8rem;
          height: 1.725rem;
          object-fit: contain;
        }
        .try-out-eyK {
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .user-menu-o5X {
        flex-shrink: 0;
        margin: 0rem 15.4rem 1.9rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-yes7-XGR {
        box-sizing: border-box;
        padding: 0.7rem 15rem 0.8rem 1.167rem;
        display: flex;
        align-items: center;
        background-color: #003580;
        flex-shrink: 0;
        margin-bottom: 2rem;
        border-radius: 0.5rem;
        width: 100%;

        .iconamoon-profile-pmK {
          margin: 0.2rem 2.367rem 0rem 0rem;
          width: 1.0666rem;
          height: 1.0667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .profile-wb3 {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
        }
      }
      .auto-group-fakm-4Qm {
        flex-shrink: 0;
        margin: 0rem 14.6rem 0rem 0.888rem;
        width: calc(100% - 15.4875rem);
        display: flex;
        align-items: flex-end;

        .material-symbols-logout-rounded-zZK {
          width: 1.6867rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.0258rem;
        }
        .logout-vhs {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0125rem;
        }
      }
    }
    .auto-group-pbqp-pHT {
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 3.4rem 0rem 6rem 2.8rem;
      height: 100%;
      display: flex;

      .auto-group-n8b7-MHP {
        box-sizing: border-box;
        padding: 1.4rem 1.7rem 3.7rem 1.7rem;
        width: 37.7rem;
        border: solid 0.03rem #d9d9d9;
        background-color: #ffffff;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-right: 5.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

        .my-profile-4xV {
          line-height: 1.3075;
          color: #003580;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.8rem;
          font-size: 1.6rem;
          font-weight: 700;
        }
        .auto-group-obzv-Coo {
          margin-left: 0.1rem;
          width: 34.2rem;
          align-items: center;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 1.2rem 7.6rem 3.1rem 10rem;
          flex-direction: column;
          border: solid 0.03rem #000000;
          background-color: #ffffff;

          .ellipse-5-iGM {
            margin: 0rem 4.4rem 2.6rem 3.2rem;
            width: calc(100% - 7.6rem);
            height: 9rem;
            background-color: #d9d9d9;
            border-radius: 4.5rem;
            flex-shrink: 0;
          }
          .jessica-wong-mdw {
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 1.1rem 0.7rem 0rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3075;
          }
          .jessicawonggmailcom-h1o {
            color: #888888;
            white-space: nowrap;
            align-items: baseline;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-weight: 600;
            line-height: 1.3075;
            display: flex;
            font-size: 1.6rem;
            text-decoration-line: underline;
            font-family: Assistant, 'Source Sans Pro';

            .jessicawonggmailcom-h1o-sub-0 {
              font-weight: 600;
              line-height: 1.3075;
              text-decoration-line: underline;
              color: #888888;
              font-family: Assistant, 'Source Sans Pro';
              font-size: 1.6rem;
            }
            .jessicawonggmailcom-h1o-sub-1 {
            }
          }
          .tentor-kimia-YwX {
            margin-right: 1.5rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3075;
            color: #555555;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-2dfb-yG9 {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 72rem;

        .auto-group-3ydf-KL1 {
          width: 100%;
          border: solid 0.03rem #000000;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 1.4rem 2.4rem 2.3rem 1.7rem;
          flex-direction: column;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 3.4rem;
          display: flex;

          .update-profile-dLh {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #1c1d1f;
            font-family: Assistant, 'Source Sans Pro';
          }
          .nama-xtm {
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
          }
          .rectangle-2578-JSq {
            height: 4.3rem;
            border: solid 0.02rem #f1f2f4;
            box-sizing: border-box;
            background-color: #f1f2f4;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            width: 100%;
          }
          .email-Dph {
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
            font-weight: 400;
          }
          .rectangle-2579-AV3 {
            height: 4.3rem;
            border: solid 0.1rem #f1f2f4;
            box-sizing: border-box;
            background-color: #f1f2f4;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 1.4rem;
            width: 100%;
          }
          .foto-hE5 {
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
          }
          .auto-group-qqvm-SSZ {
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 2rem;
            height: 4.3rem;
            display: flex;
            align-items: center;
            border: solid 0.1rem #f1f2f4;
            box-sizing: border-box;
            padding-left: 2rem;
            width: 100%;
            background-color: #f1f2f4;

            .choose-file-AtM {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 49.3rem 0.2rem 0rem;
              font-size: 1.6rem;
              font-weight: 600;
              line-height: 1.3075;
              color: #7c838a;
              font-family: Assistant, 'Source Sans Pro';
            }
            .auto-group-pz2y-t3f {
              height: 100%;
              font-size: 1.4rem;
              white-space: nowrap;
              justify-content: center;
              border: solid 0.1rem #eaeaea;
              font-weight: 400;
              font-family: Assistant, 'Source Sans Pro';
              display: flex;
              align-items: center;
              box-sizing: border-box;
              flex-shrink: 0;
              width: 7.8rem;
              line-height: 1.3075;
              color: #656464;
              background-color: #e7eded;
              border-radius: 0.5rem;
            }
          }
          .auto-group-8vhk-Jt5 {
            width: 9rem;
            justify-content: center;
            box-shadow: 0 0.6rem 0.4rem rgba(63, 189, 241, 0.2599999905);
            flex-shrink: 0;
            line-height: 1.3075;
            color: #ffffff;
            background-color: #2b7cc6;
            border-radius: 0.5rem;
            white-space: nowrap;
            display: flex;
            align-items: center;
            height: 3.7rem;
            font-size: 1.6rem;
            font-weight: 400;
            font-family: Assistant, 'Source Sans Pro';
          }
        }
        .auto-group-apau-iwo {
          flex-direction: column;
          border: solid 0.03rem #000000;
          flex-shrink: 0;
          width: 100%;
          padding: 1.4rem 2.4rem 4.7rem 1.7rem;
          display: flex;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;

          .password-1g1 {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 5.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #1c1d1f;
          }
          .current-password-jru {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
          }
          .rectangle-2581-Tnu {
            margin-bottom: 2.7rem;
            width: 100%;
            height: 4.3rem;
            border: solid 0.02rem #f1f2f4;
            box-sizing: border-box;
            background-color: #f1f2f4;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
          .new-password-zXw {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.5rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
          }
          .rectangle-2582-jkR {
            box-sizing: border-box;
            background-color: #f1f2f4;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-bottom: 4.8rem;
            width: 100%;
            height: 4.3rem;
            border: solid 0.02rem #f1f2f4;
          }
          .auto-group-7wqd-53b {
            height: 3.7rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #ffffff;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            background-color: #2b7cc6;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            box-shadow: 0 0.6rem 0.4rem rgba(63, 189, 241, 0.2599999905);
            width: 9rem;
            justify-content: center;
            border-radius: 0.5rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
