
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.detail-pengerjaan-try-out--e1s {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
  width: 100%;

  .auto-group-m2ap-mcH {
    flex-shrink: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;

    .auto-group-zokz-Wpm {
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;
      box-sizing: border-box;

      .edupro-341 {
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2525;
      }
      .ic-round-list-YmT {
        margin-top: 0.0001rem;
        width: 3.225rem;
        height: 1.7917rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-2575-4jo {
      width: 121.3rem;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
  }
  .auto-group-e9xq-oSV {
    height: 90.2rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin-right: 2.9rem;
    width: calc(100% - 2.9rem);

    .auto-group-her7-Y9B {
      margin-right: 4.2rem;
      padding: 5.8rem 2.7rem 25.9rem 2.7rem;
      width: 29.9rem;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      height: 100%;
      display: flex;
      background-color: #ffffff;
      flex-shrink: 0;

      .ellipse-4-RTs {
        margin: 0rem 7.7rem 1.2rem 7.8rem;
        width: calc(100% - 15.5rem);
        height: 9rem;
        background-color: #d9d9d9;
        border-radius: 4.5rem;
        flex-shrink: 0;
      }
      .username-LKw {
        font-weight: 400;
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
      }
      .siswa-edupro-GUV {
        margin-bottom: 7.2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-tpsr-zvH {
        margin: 0rem 11.7rem 2.9rem 0.479rem;
        width: calc(100% - 12.1792rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-park-twotone-dashboard-car-LDT {
          height: 1.4667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.379rem 0.2rem 0rem;
          width: 1.7417rem;
        }
        .dashboard-qg1 {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
        }
      }
      .siswa-menu-n5T {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
      }
      .auto-group-av6f-5aM {
        flex-shrink: 0;
        margin: 0rem 15.2rem 2.297rem 1.044rem;
        width: calc(100% - 16.2438rem);
        display: flex;
        align-items: flex-end;

        .ph-book-open-duotone-pH3 {
          margin: 0rem 1.544rem 0.144rem 0rem;
          width: 2.0125rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .materi-vqs {
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
        }
      }
      .auto-group-k3h5-rzR {
        margin: 0rem 15.5rem 1.9rem 1.259rem;
        width: calc(100% - 16.7594rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .ph-book-duotone-zqj {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 1.7594rem;
          width: 1.5813rem;
          height: 1.7063rem;
          object-fit: contain;
        }
        .tugas-8ww {
          margin-top: 0.1031rem;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
        }
      }
      .auto-group-lmd5-rN9 {
        padding: 0.5rem 14.4rem 1rem 1.175rem;
        align-items: center;
        margin-bottom: 1.4rem;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        background-color: #003580;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .healthicons-i-exam-multiple-choice-nFo {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.775rem 0rem 0rem;
          width: 1.65rem;
          height: 1.725rem;
        }
        .try-out-tZj {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .user-menu-QY5 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 15.4rem 3rem 0rem;
      }
      .auto-group-b6fm-jKT {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 15rem 2.4rem 0.9rem;
        width: calc(100% - 15.9rem);
        display: flex;

        .iconamoon-profile-EGD {
          margin-right: 1.4rem;
          width: 2.3rem;
          height: 2.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .profile-ZpH {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-vdfh-uNM {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.6rem 0rem 1.138rem;
        width: calc(100% - 15.7375rem);
        display: flex;

        .material-symbols-logout-rounded-d3T {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.069rem 0.4rem 0rem;
          width: 1.3934rem;
          height: 1.35rem;
          object-fit: contain;
        }
        .logout-YRK {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-da2w-5AM {
      margin-top: 4.8rem;
      width: 114.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-svgk-nqT {
        box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        flex-shrink: 0;
        padding: 0.9rem 3.7rem 2.3rem 3.7rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;

        .try-out-1-vRs {
          color: #1c1d1f;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.5rem;
          font-size: 2.2rem;
          font-weight: 600;
          line-height: 1.3075;
        }
        .materi-utbk-kelas-xii-d-mapel-tps-due-date-2023-10-21-23-59-f8Z {
          line-height: 1.3075;
          color: #1c1d1f;
          font-family: Assistant, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 1.5rem;
          max-width: 19.1rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .auto-group-ngtd-hb3 {
        padding: 3.4rem 0.6rem 0rem 0.7rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-a1xf-djb {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin-bottom: 2.6rem;
          width: 100%;

          .auto-group-p4af-PTs {
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 0.485rem;
            flex-shrink: 0;
            margin: 0.7rem 4.886rem 0rem 0rem;
            padding: 1.5rem 2.414rem 3.1rem 1.8rem;
            width: 86.6143rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0.194rem 1.7459rem rgba(0, 0, 0, 0.25);

            .auto-group-bmv3-hDf {
              width: calc(100% - 0.8rem);
              display: flex;
              align-items: flex-end;
              flex-shrink: 0;
              margin: 0rem 0.8rem 2.3rem 0rem;

              .soal-no1-EUV {
                font-weight: 600;
                line-height: 1.3075;
                color: #1c1d1f;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 63.7rem;
                font-size: 2.2rem;
              }
              .item-00-00-45-kxd {
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.7rem;
                font-weight: 600;
                line-height: 1.3075;
                color: #000000;
              }
            }
            .auto-group-nvmm-HSm {
              flex-shrink: 0;
              margin-left: 1.2rem;
              box-sizing: border-box;
              padding: 1.4rem 1.6rem 2.3rem 2.3rem;
              width: 81.2rem;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              background-color: #ffffff;
              border-radius: 0.3rem;

              .kpk-dari-dua-buah-bilangan-prima-x-dan-y-adalah-14-dengan-x-y-nilai-dari-3x-y-adalah-oR7 {
                color: #1c1d1f;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
                margin-bottom: 1.1rem;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.3075;
              }
              .group-683-txM {
                margin: 0rem 0rem 3.5rem 2.3rem;
                width: 6.5rem;
                row-gap: 1.4rem;
                display: flex;
                flex-direction: column;

                .auto-group-m5zt-Cy3 {
                  margin-right: 0.4rem;
                  width: calc(100% - 0.4rem);
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .ellipse-13-Yn1 {
                    margin: 0.1rem 1.8rem 0rem 0rem;
                    width: 1.5rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .a-1-g7X {
                    font-family: Assistant, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.3075;
                    color: #1c1d1f;
                  }
                }
                .auto-group-52eo-cG5 {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .ellipse-14-AoP {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.1rem 1.8rem 0rem 0rem;
                    width: 1.5rem;
                    height: 1.4rem;
                    object-fit: contain;
                  }
                  .b-13-UJH {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.3075;
                    color: #1c1d1f;
                    font-family: Assistant, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .auto-group-eagk-24u {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .ellipse-15-PAM {
                    margin: 0.1rem 1.8rem 0rem 0rem;
                    width: 1.5rem;
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .c-19-JHK {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.3075;
                    color: #1c1d1f;
                    font-family: Assistant, 'Source Sans Pro';
                  }
                }
                .auto-group-iwfy-2j7 {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .ellipse-16-b1X {
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.1rem 1.8rem 0rem 0rem;
                    width: 1.5rem;
                  }
                  .d-21-WeH {
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.3075;
                    color: #1c1d1f;
                    font-family: Assistant, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .auto-group-eth1-3u7 {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .ellipse-17-QzZ {
                    height: 1.4rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.1rem 1.8rem 0rem 0rem;
                    width: 1.5rem;
                  }
                  .e-23-Yqs {
                    color: #1c1d1f;
                    font-family: Assistant, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 1.3075;
                  }
                }
              }
              .auto-group-1eyq-Vm7 {
                width: calc(100% - 57.8rem);
                display: flex;
                align-items: flex-end;
                margin-left: 57.8rem;

                .rectangle-2614-Rem {
                  background-color: rgba(217, 217, 217, 0.2099999934);
                  flex-shrink: 0;
                  margin-right: 1.7rem;
                  width: 2rem;
                  height: 1.9rem;
                  border: solid 0.05rem #000000;
                  box-sizing: border-box;
                }
                .kosongkan-jawaban-YUV {
                  line-height: 1.3075;
                  color: #888888;
                  font-family: Assistant, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.8rem;
                  font-weight: 600;
                }
              }
            }
          }
          .auto-group-2vak-CJ9 {
            flex-shrink: 0;
            width: 21.4rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-x24t-9UH {
              border-radius: 0.5rem;
              margin-bottom: 1.8rem;
              box-sizing: border-box;
              padding: 2.2rem 2.1rem 2.8rem 2rem;
              flex-direction: column;
              box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.25);
              background-color: #ffffff;
              flex-shrink: 0;
              width: 100%;
              align-items: center;
              display: flex;

              .nomor-soal-UWZ {
                flex-shrink: 0;
                margin: 0rem 5.1rem 1.7rem 0rem;
                font-size: 2.2rem;
                font-weight: 600;
                line-height: 1.3075;
                color: #1c1d1f;
                font-family: Assistant, 'Source Sans Pro';
                white-space: nowrap;
              }
              .group-682-CBf {
                width: 100%;
                row-gap: 1.6rem;
                align-items: center;
                display: flex;
                flex-direction: column;
                border-radius: 0.5rem;
                flex-shrink: 0;

                .group-679-9Mo {
                  width: 100%;
                  height: 3.5rem;
                  display: flex;
                  column-gap: 1.1rem;
                  align-items: center;
                  border-radius: 0.5rem;
                  flex-shrink: 0;

                  .auto-group-15hd-t4V {
                    background-color: #d9d9d9;
                    height: 100%;
                    color: #7c838a;
                    flex-shrink: 0;
                    font-weight: 600;
                    border-radius: 0.5rem;
                    align-items: center;
                    width: 3.5rem;
                    white-space: nowrap;
                    font-family: Assistant, 'Source Sans Pro';
                    display: flex;
                    justify-content: center;
                    font-size: 2.2rem;
                    line-height: 1.3075;
                  }
                  .auto-group-x2cs-BJV {
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.5rem;
                    font-size: 2.2rem;
                    display: flex;
                    background-color: #d9d9d9;
                    font-weight: 600;
                    height: 100%;
                    line-height: 1.3075;
                    color: #7c838a;
                    font-family: Assistant, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    width: 3.5rem;
                  }
                  .auto-group-rpjk-gW9 {
                    justify-content: center;
                    font-size: 2.2rem;
                    font-family: Assistant, 'Source Sans Pro';
                    background-color: #d9d9d9;
                    border-radius: 0.5rem;
                    line-height: 1.3075;
                    height: 100%;
                    font-weight: 600;
                    white-space: nowrap;
                    display: flex;
                    flex-shrink: 0;
                    width: 3.5rem;
                    align-items: center;
                    color: #7c838a;
                  }
                  .auto-group-kkpm-Bho {
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    background-color: #d9d9d9;
                    border-radius: 0.5rem;
                    flex-shrink: 0;
                    width: 3.5rem;
                    line-height: 1.3075;
                    color: #7c838a;
                    font-family: Assistant, 'Source Sans Pro';
                    justify-content: center;
                    height: 100%;
                    font-size: 2.2rem;
                    white-space: nowrap;
                  }
                }
                .group-680-gPf {
                  display: flex;
                  column-gap: 1.1rem;
                  align-items: center;
                  border-radius: 0.5rem;
                  flex-shrink: 0;
                  width: 100%;
                  height: 3.5rem;

                  .auto-group-3sfu-1wj {
                    font-size: 2.2rem;
                    border-radius: 0.5rem;
                    flex-shrink: 0;
                    font-weight: 600;
                    line-height: 1.3075;
                    white-space: nowrap;
                    align-items: center;
                    justify-content: center;
                    width: 3.5rem;
                    height: 100%;
                    color: #7c838a;
                    font-family: Assistant, 'Source Sans Pro';
                    display: flex;
                    background-color: #d9d9d9;
                  }
                  .auto-group-mpr3-iLM {
                    width: 3.5rem;
                    font-size: 2.2rem;
                    font-family: Assistant, 'Source Sans Pro';
                    display: flex;
                    background-color: #d9d9d9;
                    line-height: 1.3075;
                    justify-content: center;
                    border-radius: 0.5rem;
                    white-space: nowrap;
                    flex-shrink: 0;
                    height: 100%;
                    font-weight: 600;
                    color: #7c838a;
                    align-items: center;
                  }
                  .auto-group-nzej-cwX {
                    font-weight: 600;
                    width: 3.5rem;
                    align-items: center;
                    flex-shrink: 0;
                    font-size: 2.2rem;
                    font-family: Assistant, 'Source Sans Pro';
                    justify-content: center;
                    background-color: #d9d9d9;
                    display: flex;
                    border-radius: 0.5rem;
                    height: 100%;
                    line-height: 1.3075;
                    color: #7c838a;
                    white-space: nowrap;
                  }
                  .auto-group-a82w-8Q5 {
                    width: 3.5rem;
                    height: 100%;
                    font-weight: 600;
                    color: #7c838a;
                    font-family: Assistant, 'Source Sans Pro';
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    line-height: 1.3075;
                    border-radius: 0.5rem;
                    display: flex;
                    font-size: 2.2rem;
                    white-space: nowrap;
                    background-color: #d9d9d9;
                  }
                }
                .group-681-DgR {
                  width: 100%;
                  align-items: center;
                  display: flex;
                  flex-direction: column;
                  border-radius: 0.5rem;
                  flex-shrink: 0;

                  .auto-group-y9cw-B7T {
                    flex-shrink: 0;
                    margin-bottom: 2rem;
                    width: 100%;
                    height: 3.5rem;
                    display: flex;
                    column-gap: 1.1rem;
                    align-items: center;

                    .auto-group-jffy-h5o {
                      border-radius: 0.5rem;
                      padding: 0rem 1.2rem 0rem 1.1rem;
                      color: #7c838a;
                      white-space: nowrap;
                      background-color: #d9d9d9;
                      line-height: 1.3075;
                      font-family: Assistant, 'Source Sans Pro';
                      flex-shrink: 0;
                      box-sizing: border-box;
                      height: 100%;
                      font-size: 2.2rem;
                      font-weight: 600;
                    }
                    .auto-group-ech1-y3K {
                      font-weight: 600;
                      white-space: nowrap;
                      background-color: #d9d9d9;
                      border-radius: 0.5rem;
                      padding: 0rem 0.6rem 0rem 0.7rem;
                      height: 100%;
                      line-height: 1.3075;
                      color: #7c838a;
                      font-family: Assistant, 'Source Sans Pro';
                      flex-shrink: 0;
                      box-sizing: border-box;
                      font-size: 2.2rem;
                    }
                    .auto-group-omek-GYD {
                      color: #7c838a;
                      white-space: nowrap;
                      padding: 0.1rem 0.7rem;
                      height: 100%;
                      font-weight: 600;
                      line-height: 1.3075;
                      font-family: Assistant, 'Source Sans Pro';
                      background-color: #d9d9d9;
                      border-radius: 0.5rem;
                      flex-shrink: 0;
                      box-sizing: border-box;
                      font-size: 2.2rem;
                    }
                    .auto-group-i8km-A7o {
                      box-sizing: border-box;
                      padding: 0.1rem 0.6rem 0.1rem 0.7rem;
                      line-height: 1.3075;
                      color: #7c838a;
                      white-space: nowrap;
                      background-color: #d9d9d9;
                      height: 100%;
                      font-size: 2.2rem;
                      font-weight: 600;
                      font-family: Assistant, 'Source Sans Pro';
                      border-radius: 0.5rem;
                      flex-shrink: 0;
                    }
                  }
                  .group-680-qjj {
                    align-items: center;
                    border-radius: 0.5rem;
                    flex-shrink: 0;
                    width: 100%;
                    height: 3.5rem;
                    display: flex;
                    column-gap: 1.1rem;

                    .auto-group-d6r1-z6q {
                      color: #7c838a;
                      font-family: Assistant, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                      height: 100%;
                      line-height: 1.3075;
                      font-size: 2.2rem;
                      font-weight: 600;
                      background-color: #d9d9d9;
                      border-radius: 0.5rem;
                      box-sizing: border-box;
                      padding: 0rem 0.7rem 0rem 0.6rem;
                    }
                    .auto-group-sfyo-gEZ {
                      font-size: 2.2rem;
                      font-weight: 600;
                      background-color: #d9d9d9;
                      border-radius: 0.5rem;
                      box-sizing: border-box;
                      padding: 0rem 0.8rem 0rem 0.5rem;
                      height: 100%;
                      line-height: 1.3075;
                      color: #7c838a;
                      font-family: Assistant, 'Source Sans Pro';
                      white-space: nowrap;
                      flex-shrink: 0;
                    }
                    .auto-group-ndvd-n2h {
                      font-family: Assistant, 'Source Sans Pro';
                      background-color: #d9d9d9;
                      border-radius: 0.5rem;
                      flex-shrink: 0;
                      box-sizing: border-box;
                      color: #7c838a;
                      font-size: 2.2rem;
                      font-weight: 600;
                      line-height: 1.3075;
                      white-space: nowrap;
                      padding: 0rem 0.7rem 0rem 0.6rem;
                      height: 100%;
                    }
                    .auto-group-znhq-g85 {
                      flex-shrink: 0;
                      padding: 0rem 0.6rem 0rem 0.7rem;
                      height: 100%;
                      font-size: 2.2rem;
                      font-weight: 600;
                      line-height: 1.3075;
                      color: #7c838a;
                      background-color: #d9d9d9;
                      box-sizing: border-box;
                      font-family: Assistant, 'Source Sans Pro';
                      white-space: nowrap;
                      border-radius: 0.5rem;
                    }
                  }
                }
              }
            }
            .auto-group-thvv-hYy {
              font-size: 1.7rem;
              font-weight: 600;
              justify-content: center;
              background-color: #2b7cc6;
              height: 4.4rem;
              box-sizing: border-box;
              box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              font-family: Assistant, 'Source Sans Pro';
              line-height: 1.3075;
              white-space: nowrap;
              border: solid 0.04rem #797171;
              border-radius: 1rem;
              flex-shrink: 0;
              margin: 0rem 2.1rem 0rem 2.3rem;
              color: #ffffff;
              display: flex;
              align-items: center;
              width: calc(100% - 4.4rem);
            }
          }
        }
        .auto-group-ezfh-8PP {
          align-items: center;
          flex-shrink: 0;
          height: 4.4rem;
          display: flex;

          .auto-group-bfyd-4nq {
            border-radius: 1rem;
            flex-shrink: 0;
            font-weight: 600;
            line-height: 1.3075;
            white-space: nowrap;
            border: solid 0.04rem #797171;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            font-size: 1.7rem;
            color: #ffffff;
            font-family: Assistant, 'Source Sans Pro';
            display: flex;
            margin-right: 2.4rem;
            justify-content: center;
            box-sizing: border-box;
            background-color: #2b7cc6;
            width: 6.7rem;
            height: 100%;
            align-items: center;
          }
          .auto-group-kdf9-8Gu {
            flex-shrink: 0;
            margin-right: 7.6rem;
            line-height: 1.3075;
            color: #ffffff;
            font-family: Assistant, 'Source Sans Pro';
            display: flex;
            height: 100%;
            font-weight: 600;
            white-space: nowrap;
            box-sizing: border-box;
            border-radius: 1rem;
            font-size: 1.7rem;
            justify-content: center;
            border: solid 0.04rem #797171;
            width: 6.7rem;
            align-items: center;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #2b7cc6;
          }
          .auto-group-ucct-Pid {
            border-radius: 1rem;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.1rem 1.7rem 1rem 1.5rem;
            display: flex;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            height: 100%;
            align-items: center;
            border: solid 0.04rem #797171;
            background-color: #eba03a;

            .rectangle-2623-KcH {
              flex-shrink: 0;
              margin: 0rem 1.1rem 0.2rem 0rem;
              width: 2rem;
              height: 1.9rem;
              border: solid 0 #000000;
              box-sizing: border-box;
              background-color: #ffffff;
            }
            .ragu-ragu-EjF {
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 600;
              line-height: 1.3075;
              color: #ffffff;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
