
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.detail-upload-tugas--B3K {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
  width: 100%;

  .auto-group-1esm-tyK {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-eiy3-3LR {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2rem 1.838rem 1.9rem 1.9rem;

      .edupro-AR3 {
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2525;
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ic-round-list-geH {
        width: 3.225rem;
        height: 1.7917rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0001rem;
      }
    }
    .rectangle-2575-CsX {
      width: 121.3rem;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
  }
  .auto-group-hmfr-kPF {
    height: 90.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 4.8rem;
    width: calc(100% - 4.8rem);

    .auto-group-d3mm-HPB {
      box-sizing: border-box;
      width: 29.9rem;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;
      flex-shrink: 0;
      margin-right: 6.3rem;
      padding: 5.8rem 2.7rem 25.9rem 2.7rem;
      height: 100%;
      display: flex;

      .ellipse-4-mJM {
        flex-shrink: 0;
        margin: 0rem 7.7rem 1.2rem 7.8rem;
        width: calc(100% - 15.5rem);
        height: 9rem;
        background-color: #d9d9d9;
        border-radius: 4.5rem;
      }
      .username-tNy {
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .siswa-edupro-Dg9 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 7.7rem;
      }
      .auto-group-ls8b-x7w {
        margin: 0rem 11.7rem 2.4rem 0.988rem;
        width: calc(100% - 12.6875rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .icon-park-twotone-dashboard-car-tGV {
          width: 1.925rem;
          height: 1.65rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.175rem 1.688rem 0rem 0rem;
        }
        .dashboard-NBf {
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .siswa-menu-W2y {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
      }
      .auto-group-xkqb-2GD {
        flex-shrink: 0;
        margin: 0rem 15.2rem 1.3rem 1.025rem;
        width: calc(100% - 16.225rem);
        display: flex;
        align-items: flex-end;

        .ph-book-open-duotone-9rd {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.825rem 0.144rem 0rem;
          width: 1.75rem;
          height: 1.725rem;
          object-fit: contain;
        }
        .materi-5EV {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
        }
      }
      .auto-group-ugnx-QnZ {
        flex-shrink: 0;
        padding: 0.825rem 16.5rem 0.9rem 1.275rem;
        width: 100%;
        align-items: center;
        background-color: #003580;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
        box-sizing: border-box;
        display: flex;

        .ph-book-duotone-8iZ {
          margin: 0rem 1.675rem 0.225rem 0rem;
          width: 1.65rem;
          height: 1.95rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tugas-Tkq {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.275rem;
        }
      }
      .auto-group-xc1h-P8h {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 14.4rem 2.4rem 1.2rem;
        width: calc(100% - 15.6rem);

        .healthicons-i-exam-multiple-choice-KY9 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.6rem 0rem 0rem;
          width: 1.8rem;
          height: 1.725rem;
        }
        .try-out-2xM {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .user-menu-NFX {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 15.4rem 3rem 0rem;
      }
      .auto-group-avhy-HtH {
        flex-shrink: 0;
        margin: 0rem 15rem 2.4rem 0.9rem;
        width: calc(100% - 15.9rem);
        display: flex;
        align-items: flex-start;

        .iconamoon-profile-cQm {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 1.6rem 0rem 0rem;
          width: 2.1rem;
          height: 1.9rem;
          object-fit: contain;
        }
        .profile-wT3 {
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .auto-group-bffz-HWu {
        margin: 0rem 14.6rem 0rem 1.138rem;
        width: calc(100% - 15.7375rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .material-symbols-logout-rounded-d4y {
          margin: 0.1rem 2.069rem 0rem 0rem;
          width: 1.3934rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .logout-wbT {
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
    }
    .auto-group-tcz7-GNq {
      height: calc(100% - 9rem);
      border-radius: 0.5rem;
      margin: 4.6rem 0rem 4.4rem 0rem;
      box-sizing: border-box;
      padding: 3.3rem 0rem 1.4rem 0rem;
      width: 110.2rem;
      box-shadow: 0 0.2rem 1.8rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      flex-shrink: 0;

      .kimia-unsur-dan-senyawa-mKb {
        margin: 0rem 0rem 0.5rem 4.5rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
      }
      .tentor-aryasaty-kelas-xii-d-mapel-kimia-due-date-2023-10-21-23-59-5r5 {
        margin: 0rem 0rem 1.7rem 6rem;
        max-width: 19.1rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
      }
      .line-5-Acd {
        margin-bottom: 4.04rem;
        width: 109.7001rem;
        height: 0.06rem;
        background-color: #7c838a;
      }
      .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-aenean-et-purus-non-purus-faucibus-dictum-pellentesque-suscipit-enim-porta-porta-diam-quis-venenatis-quam-donec-elementum-nisl-sit-amet-nulla-pulvinar-aliquam-nam-lectus-lorem-dictum-id-porta-ut-rhoncus-vestibulum-diam-ut-ullamcorper-augue-nec-dapibus-feugiat-phasellus-vel-sem-egestas-interdum-nisi-ac-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-aenean-et-purus-non-purus-faucibus-dictum-pellentesque-suscipit-enim-porta-porta-diam-quis-venenatis-quam-donec-elementum-nisl-sit-amet-nulla-pulvinar-aliquam-nam-lectus-lorem-dictum-id-porta-ut-rhoncus-vestibulum-diam-ut-ullamcorper-augue-nec-dapibus-feugiat-phasellus-vel-sem-egestas-interdum-nisi-ac-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-aenean-et-purus-non-purus-faucibus-dictum-pellentesque-suscipit-enim-porta-porta-diam-quis-venenatis-quam-donec-elementum-nisl-sit-amet-nulla-pulvinar-aliquam-nam-lectus-lorem-dictum-id-porta-ut-rhoncus-vestibulum-diam-ut-ullamcorper-augue-nec-dapibus-feugiat-phasellus-vel-sem-egestas-interdum-nisi-ac-kumpulkan-dalam-bentuk-pdf-JTw {
        color: #000000;
        font-family: Assistant, 'Source Sans Pro';
        margin: 0rem 0rem 5.5rem 3.6rem;
        max-width: 101rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.3075;
      }
      .auto-group-rucx-wHw {
        margin-left: 3.2rem;
        width: 35.8rem;
        height: 29.6rem;
        position: relative;

        .rectangle-2606-Gb7 {
          width: 35.8rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: #ffffff;
          border-radius: 0.4rem;
          height: 20.4rem;
          border: solid 0.02rem #000000;
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        }
        .tugas-belum-dikerjakan-segera-dikerjakan-sebelum-2023-10-21-23-59-9uo {
          height: 3.7rem;
          top: 5.6rem;
          font-size: 1.4rem;
          font-weight: 400;
          color: #000000;
          width: 30.2rem;
          position: absolute;
          left: 2.2rem;
          line-height: 1.3075;
          font-family: Assistant, 'Source Sans Pro';
        }
        .rectangle-2607-1x1 {
          left: 2.4rem;
          top: 11.9rem;
          background-color: #2b7cc6;
          border-radius: 0.5rem;
          width: 11.7rem;
          height: 3.6rem;
          cursor: pointer;
          position: absolute;
        }
        .tugas-saya-jd7 {
          color: #1c1d1f;
          font-weight: 600;
          line-height: 1.3075;
          width: 10.8rem;
          height: 2.9rem;
          position: absolute;
          left: 2.2rem;
          top: 2rem;
          font-size: 2.2rem;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-673-SnR {
          top: 12.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 13rem;
          height: 17rem;
          position: absolute;
          left: 0;

          .kerjakan-Nvy {
            font-weight: 600;
            line-height: 1.3075;
            color: #ffffff;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 11.3rem 2.9rem;
            font-size: 1.7rem;
          }
          .auto-group-fbvj-hiM {
            padding: 0.6rem 2.3rem 0.5rem 0.8rem;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: #d14747;
            border-radius: 0.2rem;
            flex-shrink: 0;
            box-sizing: border-box;

            .vector-ECV {
              flex-shrink: 0;
              margin-right: 1.8rem;
              width: 2.1rem;
              height: 2.1rem;
              object-fit: contain;
              vertical-align: top;
            }
            .kembali-aGM {
              flex-shrink: 0;
              font-size: 1.7rem;
              font-weight: 600;
              line-height: 1.3075;
              color: #ffffff;
              font-family: Assistant, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
