
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.history-nilai--a5K {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;

  .auto-group-5bg7-KHo {
    flex-shrink: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;

    .auto-group-7p1v-eay {
      box-sizing: border-box;
      padding: 2rem 1.838rem 1.9rem 1.9rem;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #003580;
      flex-shrink: 0;

      .edupro-aDj {
        color: #ff9800;
        font-family: Orbitron, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7375rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2525;
      }
      .ic-round-list-JfX {
        width: 3.225rem;
        height: 1.7917rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.0001rem;
      }
    }
    .rectangle-2575-mZ7 {
      width: 121.3rem;
      height: 8rem;
      background-color: #2b7cc6;
      flex-shrink: 0;
    }
  }
  .auto-group-nkzm-iDT {
    height: 90.2rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-right: 6.3rem;
    width: calc(100% - 6.3rem);

    .auto-group-je5y-rKf {
      flex-direction: column;
      width: 29.9rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      margin-right: 2.1rem;
      box-sizing: border-box;
      padding: 5.8rem 2.7rem 25.9rem 2.7rem;
      background-color: #ffffff;

      .ellipse-4-KU9 {
        background-color: #d9d9d9;
        border-radius: 4.5rem;
        flex-shrink: 0;
        margin: 0rem 7.7rem 1.2rem 7.8rem;
        width: calc(100% - 15.5rem);
        height: 9rem;
      }
      .username-dzd {
        line-height: 1.3075;
        color: #1c1d1f;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-size: 1.6rem;
        font-weight: 400;
      }
      .siswa-edupro-mb3 {
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 7.2rem;
        font-size: 1.4rem;
      }
      .auto-group-5n5h-uhF {
        width: calc(100% - 12.1791rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 11.7rem 2.9rem 0.479rem;

        .icon-park-twotone-dashboard-car-2Wy {
          height: 1.4667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.379rem 0.2rem 0rem;
          width: 1.7416rem;
        }
        .dashboard-LnZ {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .siswa-menu-4Tf {
        font-family: Assistant, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
      }
      .auto-group-g5vu-BoB {
        margin: 0rem 15.2rem 2.297rem 1.044rem;
        width: calc(100% - 16.2438rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .ph-book-open-duotone-vVs {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.544rem 0.144rem 0rem;
          width: 2.0125rem;
          height: 1.725rem;
          object-fit: contain;
        }
        .materi-aqK {
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .auto-group-4ogo-vuB {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 15.5rem 1.9rem 1.259rem;
        width: calc(100% - 16.7594rem);

        .ph-book-duotone-4Eh {
          margin-right: 1.7594rem;
          width: 1.5813rem;
          height: 1.7063rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .tugas-c1K {
          line-height: 1.3075;
          font-family: Assistant, 'Source Sans Pro';
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          flex-shrink: 0;
          margin-top: 0.1031rem;
          color: #7c838a;
          white-space: nowrap;
        }
      }
      .auto-group-yjkz-8kM {
        background-color: #003580;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-bottom: 1.4rem;
        box-sizing: border-box;
        padding: 0.5rem 14.4rem 1rem 1.175rem;
        width: 100%;
        display: flex;
        align-items: center;

        .healthicons-i-exam-multiple-choice-GLm {
          margin: 0.1rem 1.775rem 0rem 0rem;
          width: 1.65rem;
          height: 1.725rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .try-out-Ah3 {
          line-height: 1.3075;
          color: #ffffff;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
      .user-menu-Gk5 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 15.4rem 3rem 0rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.3075;
        color: #7c838a;
        font-family: Assistant, 'Source Sans Pro';
      }
      .auto-group-b3b9-No7 {
        flex-shrink: 0;
        margin: 0rem 15rem 2.4rem 0.9rem;
        width: calc(100% - 15.9rem);
        display: flex;
        align-items: flex-end;

        .iconamoon-profile-uY9 {
          flex-shrink: 0;
          margin-right: 1.4rem;
          width: 2.3rem;
          height: 2.3rem;
          object-fit: contain;
          vertical-align: top;
        }
        .profile-qwb {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-dntk-Aiy {
        margin: 0rem 14.6rem 0rem 1.138rem;
        width: calc(100% - 15.7375rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .material-symbols-logout-rounded-WH3 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 2.069rem 0.4rem 0rem;
          width: 1.3934rem;
          height: 1.35rem;
        }
        .logout-Dx9 {
          line-height: 1.3075;
          color: #7c838a;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 400;
        }
      }
    }
    .auto-group-8dxf-uKB {
      box-sizing: border-box;
      width: 112.9rem;
      height: calc(100% - 8.2rem);
      border: solid 0.01rem #000000;
      margin: 5.7rem 0rem 2.5rem 0rem;
      background-color: #ffffff;
      border-radius: 0.8rem;
      flex-shrink: 0;
      padding: 3.9rem 3.9rem 1.3rem 3.9rem;

      .auto-group-aauq-QFw {
        display: flex;
        align-items: flex-end;
        margin: 0rem 6.9rem 1.9rem 0rem;
        width: calc(100% - 6.9rem);

        .histori-nilai-siswa-LfP {
          font-weight: 700;
          line-height: 1.3075;
          color: #003580;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 69.6rem 0.7rem 0rem;
          font-size: 3rem;
        }
        .filter-3ph {
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.3075;
          color: #555555;
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-4p6b-CSh {
        width: 100%;
        height: 64.1rem;
        position: relative;
        box-shadow: 0 0.194rem 1.7459rem rgba(0, 0, 0, 0.25);
        background-color: #f7f4f4;
        border-radius: 0.485rem;
        margin-bottom: 2.7rem;

        .auto-group-rfy7-XE5 {
          display: flex;
          align-items: center;
          width: 93.7rem;
          height: 2.7rem;
          position: absolute;
          left: 3.5rem;
          top: 3.3rem;

          .no-2Rj {
            flex-shrink: 0;
            margin-right: 24.7rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3075;
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
          }
          .keterangan-9FT {
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3075;
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 30.1rem;
          }
          .tanggal-rvZ {
            margin-right: 14.4rem;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3075;
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .nilai-arZ {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.3075;
            color: #003580;
            font-family: Assistant, 'Source Sans Pro';
          }
        }
        .auto-group-kv8t-u89 {
          top: 9.6rem;
          display: flex;
          align-items: center;
          width: 93.4rem;
          height: 2.8rem;
          position: absolute;
          left: 3.8rem;

          .item-1-RsB {
            margin: 0rem 27.6rem 0.2rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tru-out-1-Mkq {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 32.3rem 0.4rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
          }
          .item-13-06-2023-3Nm {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.4rem 13.1rem 0rem 0rem;
          }
          .item-6578-m3s {
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            font-size: 1.8rem;
          }
        }
        .load-more--hCR {
          width: 11.1rem;
          position: absolute;
          color: #555555;
          font-family: Assistant, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.3075;
          white-space: nowrap;
          height: 2.7rem;
          left: 90.9rem;
          top: 58.8rem;
          font-size: 2rem;
        }
        .auto-group-ebeb-Cus {
          height: 2.4rem;
          position: absolute;
          left: 3.8rem;
          top: 17.1rem;
          display: flex;
          align-items: center;
          width: 93.4rem;

          .item-2-JCD {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 27.5rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
          }
          .tru-out-2-SJR {
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 32.2rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .item-28-06-2023-Nxm {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 13rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
          }
          .item-7278-KND {
            flex-shrink: 0;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-guzh-qbT {
          top: 23.7rem;
          display: flex;
          align-items: center;
          width: 93.4rem;
          height: 2.4rem;
          position: absolute;
          left: 3.8rem;

          .item-3-N5b {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 27.4rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
          }
          .tru-out-3-htZ {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 32.3rem;
          }
          .item-19-07-2023-qUy {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 13.1rem;
          }
          .item-6878-NE1 {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-rah1-i2y {
          top: 30.7rem;
          display: flex;
          align-items: center;
          width: 93.4rem;
          height: 3.1rem;
          position: absolute;
          left: 3.8rem;

          .item-4-Sjf {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 27.5rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
          }
          .tru-out-4-NtD {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 32.2rem 0.7rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
          }
          .item-31-07-2023-JG5 {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 13.1rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
          }
          .item-7978-d3T {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.7rem;
          }
        }
        .auto-group-mrzq-Yw7 {
          display: flex;
          align-items: flex-start;
          width: 93.4rem;
          height: 2.6rem;
          position: absolute;
          left: 3.8rem;
          top: 37.8rem;

          .item-5-GcD {
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 27.5rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
          }
          .tru-out-5-CEy {
            margin: 0.2rem 32.2rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-14-08-2023-vgm {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 13.1rem;
          }
          .item-8178-GVj {
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
          }
        }
        .auto-group-iyxt-1iD {
          left: 3.8rem;
          top: 44.7rem;
          display: flex;
          align-items: center;
          width: 93.4rem;
          height: 2.5rem;
          position: absolute;

          .item-6-MGH {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 27.5rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
          }
          .tru-out-6-skR {
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 32.2rem 0.1rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
          }
          .item-30-08-2023-1Lq {
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0.1rem 13rem 0rem 0rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
          }
          .item-6978-iFF {
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-top: 0.1rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
          }
        }
        .auto-group-vrif-3oK {
          align-items: center;
          width: 93.3rem;
          height: 2.4rem;
          position: absolute;
          left: 3.8rem;
          top: 51.5rem;
          display: flex;

          .item-7-P6V {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 27.5rem;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
          }
          .tru-out-7-L1j {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 32.2rem;
          }
          .item-12-09-2023-fph {
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 13rem;
            font-size: 1.8rem;
            font-weight: 400;
          }
          .item-7678-QXP {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3075;
            color: #7c838a;
            font-family: Assistant, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .line-11-kLM {
          position: absolute;
          left: 1.9rem;
          top: 7.7rem;
          background-color: #888888;
          width: 100.2004rem;
          height: 0.1rem;
        }
        .line-12-VHw {
          left: 1.9rem;
          top: 14.7rem;
          background-color: #888888;
          width: 100.2004rem;
          height: 0.1rem;
          position: absolute;
        }
        .line-13-df3 {
          position: absolute;
          left: 1.9rem;
          top: 21.5rem;
          background-color: #888888;
          width: 100.2004rem;
          height: 0.1rem;
        }
        .line-14-n29 {
          width: 100.2004rem;
          height: 0;
          position: absolute;
          left: 1.9rem;
          top: 28.9rem;
          object-fit: contain;
          vertical-align: top;
        }
        .line-15-Wiq {
          top: 35.8rem;
          background-color: #888888;
          width: 100.2004rem;
          height: 0.1rem;
          position: absolute;
          left: 1.9rem;
        }
        .line-16-3Ts {
          width: 100.2004rem;
          height: 0.1rem;
          position: absolute;
          left: 1.9rem;
          top: 56rem;
          background-color: #888888;
        }
        .line-18-aCu {
          width: 100.2004rem;
          height: 0.1rem;
          position: absolute;
          left: 1.9rem;
          top: 49.4rem;
          background-color: #888888;
        }
        .line-17-v1s {
          width: 100.2004rem;
          height: 0.1rem;
          position: absolute;
          left: 1.9rem;
          top: 42.6rem;
          background-color: #888888;
        }
      }
      .group-674-DFs {
        border-radius: 0.2rem;
        margin-right: 92.1rem;
        padding: 0.6rem 2.3rem 0.5rem 0.8rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: calc(100% - 92.1rem);
        background-color: #d14747;

        .vector-wBs {
          margin-right: 1.8rem;
          width: 2.1rem;
          height: 2.1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .kembali-Uhb {
          font-family: Assistant, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.7rem;
          font-weight: 600;
          line-height: 1.3075;
          color: #ffffff;
        }
      }
    }
  }
}
