
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.password-reset-detail-86y {
  width: 100%;
  height: 98.2rem;
  position: relative;
  overflow: hidden;
  background-color: #003580;

  .content-GDB {
    width: 90.8rem;
    position: absolute;
    background-color: #ebf8f6;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5.9rem 7.766rem 24.496rem 6.8rem;
    height: 98.2rem;
    left: 60.4rem;
    top: 0;

    .title-xLu {
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.434rem 16.7rem 0rem;
      font-size: 2.6rem;
      font-weight: 600;
      line-height: 1.5;
    }
    .emailinput-UKF {
      margin: 0rem 0rem 2.025rem 0.4rem;
      width: 75.8343rem;
      flex-shrink: 0;

      .email-zoP {
        white-space: nowrap;
        margin-bottom: 0.2699rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c838a;
        font-family: Poppins, 'Source Sans Pro';
      }
      .emailinp-8ub {
        width: 100%;
        height: 7.0053rem;
        position: relative;

        .enter-your-email-here-J3P {
          top: 1.8321rem;
          font-weight: 400;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          height: 3rem;
          left: 5.0557rem;
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.5);
          width: 21.2rem;
        }
        .input-yfK {
          height: 7.0053rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(176, 186, 195, 0.400000006);
          width: 75.8343rem;
        }
      }
    }
    .emailinput-iN1 {
      margin: 0rem 0.4rem 2.025rem 0rem;
      width: 75.8343rem;
      flex-shrink: 0;

      .password-T4h {
        white-space: nowrap;
        margin-bottom: 0.2699rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c838a;
        font-family: Poppins, 'Source Sans Pro';
      }
      .emailinp-yBT {
        padding: 1.93rem 5.4rem 2.075rem 5.4rem;
        font-weight: 400;
        line-height: 1.5;
        white-space: nowrap;
        background-color: rgba(176, 186, 195, 0.400000006);
        box-sizing: border-box;
        width: 100%;
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.5);
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .emailinput-2fX {
      width: 75.8343rem;
      flex-shrink: 0;
      margin: 0rem 0.4rem 5.863rem 0rem;

      .confirm-password-Ytm {
        white-space: nowrap;
        margin-bottom: 0.2699rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c838a;
        font-family: Poppins, 'Source Sans Pro';
      }
      .emailinp-UXX {
        white-space: nowrap;
        padding: 1.93rem 5.4rem 2.075rem 5.4rem;
        width: 100%;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.5);
        font-family: Poppins, 'Source Sans Pro';
        box-sizing: border-box;
        font-size: 2rem;
        font-weight: 400;
        background-color: rgba(176, 186, 195, 0.400000006);
      }
    }
    .buttoncreateacc-NN1 {
      width: calc(100% - 1.2343rem);
      height: 6.4664rem;
      line-height: 1.5;
      justify-content: center;
      margin: 0rem 0.434rem 0rem 0.8rem;
      font-size: 2.6rem;
      flex-shrink: 0;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      align-items: center;
      font-weight: 500;
      background-color: #e5eff8;
    }
  }
  .finance-e-commerce-startup-workflow-account-information-user-profile-data-e4d {
    width: 54.6rem;
    height: 54.3rem;
    position: absolute;
    left: 2.6rem;
    top: 17.5rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-2643-YA1 {
    height: 98.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3000000119);
    width: 151.2rem;
  }
  .modal-05-GLu {
    top: 32.6rem;
    width: 46.5rem;
    height: 31.9rem;
    cursor: pointer;
    position: absolute;
    left: 60.3rem;

    .frame-1038-PgR {
      box-sizing: border-box;
      background-color: #ffffff;
      border: solid 0.1rem #dee2e6;
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.0799999982), 0 0 0.2rem rgba(0, 0, 0, 0.1199999973);
      padding: 1rem 1rem 4.5rem 4rem;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      border-radius: 0.8rem;

      .frame-1041-7sK {
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.9rem;
        flex-shrink: 0;
        margin: 0rem 0rem 0.8rem 39.1rem;
        width: 2.4rem;
      }
      .icon-park-solid-correct-dqf {
        margin: 0rem 3.1rem 1.8rem 0rem;
        width: 4.8rem;
        height: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-1039-9p1 {
        flex-shrink: 0;
        margin: 0rem 5.35rem 6.2rem 2.35rem;
        width: calc(100% - 7.7rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .unable-to-generate-dfd-gow {
          flex-shrink: 0;
          margin-bottom: 0.8rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #0b2a3e;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .paragraph-cSh {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.5714285714;
          color: rgba(11, 42, 62, 0.6000000238);
        }
      }
      .frame-167-9Bj {
        background-color: #cfdee1;
        border-radius: 1.5rem;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 38.5rem;
        height: 4.4rem;

        .button-gxM {
          width: 100%;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          background-color: #cfdee1;
          height: 100%;
          font-size: 1.4rem;
          color: #0b2a3e;
          border-radius: 1.5rem;
        }
      }
    }
  }
}
