
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.register-tentor-dan-admin-iZK {
  box-sizing: border-box;
  padding-left: 7.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #003580;

  .login-page-img-SVK {
    width: 51.2rem;
    height: 48.2rem;
    position: relative;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    margin: 0rem 3.9rem 8.8rem 0rem;
  }
  .content-YoF {
    position: relative;
    background-color: #ebf8f6;
    flex-shrink: 0;
    width: 90.8rem;
    height: 108rem;

    .already-have-an-account-login-6Jy {
      cursor: pointer;
      font-weight: 400;
      line-height: 1.5;
      display: flex;
      width: 29.9rem;
      white-space: nowrap;
      left: 27.3rem;
      position: absolute;
      top: 88.7rem;
      color: #6eb6ff;
      align-items: baseline;
      height: 2.7rem;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.8rem;

      .already-have-an-account-login-6Jy-sub-0 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.5;
        color: #7c838a;
        font-family: Poppins, 'Source Sans Pro';
      }
      .already-have-an-account-login-6Jy-sub-1 {
      }
    }
    .or--Nvh {
      line-height: 1.5;
      color: #7c838a;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 83.8rem;
      left: 38.1rem;
      font-size: 2rem;
      font-weight: 400;
      width: 6.1rem;
      height: 3rem;
    }
    .emailinput-6Lu {
      width: 75.8343rem;
      height: 10.0195rem;
      position: absolute;
      left: 5.7rem;
      top: 17.4rem;

      .name-dLq {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.164rem 0.253rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c838a;
      }
      .emailinp-xP7 {
        height: 6.8555rem;
        position: relative;
        width: 100%;

        .enter-your-name-here-up9 {
          white-space: nowrap;
          width: 21.7rem;
          height: 3rem;
          left: 5.0557rem;
          top: 1.793rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5);
          position: absolute;
          font-size: 2rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .input-cTf {
          height: 6.8555rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(176, 186, 195, 0.400000006);
          width: 75.8343rem;
        }
      }
    }
    .emailinput-kZs {
      top: 30.6rem;
      width: 75.8343rem;
      height: 10.0195rem;
      position: absolute;
      left: 5.7rem;

      .email-VXT {
        margin: 0rem 0rem 0.164rem 0.253rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c838a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .emailinp-ppd {
        height: 6.8555rem;
        position: relative;
        width: 100%;

        .enter-your-email-here-yxR {
          font-size: 2rem;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.5);
          width: 21rem;
          height: 3rem;
          left: 5.0557rem;
          top: 1.793rem;
          position: absolute;
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .input-tpV {
          background-color: rgba(176, 186, 195, 0.400000006);
          width: 75.8343rem;
          height: 6.8555rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
    .passwordinput-eYm {
      top: 43.8rem;
      width: 75.8343rem;
      height: 10.0195rem;
      position: absolute;
      left: 5.7rem;

      .password-PWM {
        margin: 0rem 0rem 0.164rem 0.253rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c838a;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .passwordinp-jKK {
        width: 100%;
        height: 6.8555rem;
        position: relative;

        .enter-your-password-here-J7X {
          left: 5.0557rem;
          font-size: 2rem;
          line-height: 1.5;
          white-space: nowrap;
          width: 25.2rem;
          height: 3rem;
          font-weight: 400;
          color: rgba(0, 0, 0, 0.5);
          font-family: Poppins, 'Source Sans Pro';
          position: absolute;
          top: 1.793rem;
        }
        .input-1nd {
          left: 0;
          top: 0;
          background-color: rgba(176, 186, 195, 0.400000006);
          width: 75.8343rem;
          height: 6.8555rem;
          position: absolute;
        }
      }
    }
    .passwordinput-AQd {
      position: absolute;
      left: 5.7rem;
      top: 56.4rem;
      width: 75.8343rem;
      height: 10.0195rem;

      .confirm-password-hvM {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 0.164rem 0.3rem;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c838a;
      }
      .passwordinp-pk5 {
        position: relative;
        width: 100%;
        height: 6.8555rem;

        .enter-your-confirm-password-here-ycy {
          width: 33.5rem;
          height: 3rem;
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.5);
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          position: absolute;
          left: 5.1rem;
          top: 1.8359rem;
          font-weight: 400;
          line-height: 1.5;
        }
        .input-gnH {
          width: 75.8343rem;
          height: 6.8555rem;
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgba(176, 186, 195, 0.400000006);
        }
      }
    }
    .title-q9P {
      font-weight: 600;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      font-size: 2.6rem;
      left: 31.7rem;
      top: 7.8rem;
      color: #000000;
      white-space: nowrap;
      width: 27.4rem;
      height: 3.9rem;
    }
    .buttoncreateacc-LM3 {
      position: absolute;
      line-height: 1.5;
      color: #000000;
      display: flex;
      height: 6.3281rem;
      left: 6.5rem;
      font-size: 2.6rem;
      font-weight: 500;
      white-space: nowrap;
      justify-content: center;
      background-color: #e5eff8;
      width: 75rem;
      top: 73.2rem;
      font-family: Poppins, 'Source Sans Pro';
      align-items: center;
    }
  }
}
