
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.password-reset-t8D {
  box-sizing: border-box;
  padding-left: 2.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #003580;
}
.password-reset-t8D .finance-e-commerce-startup-workflow-account-information-user-profile-data-R89 {
  margin: 0rem 3.2rem 8.9rem 0rem;
  width: 54.6rem;
  height: 54.3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR {
  box-sizing: border-box;
  padding: 5.9rem 8.166rem 14.7rem 6.8rem;
  width: 90.8rem;
  height: 98.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .title-o8h {
  margin: 0rem 0.034rem 16.7rem 0rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-hUy {
  margin-bottom: 2.0947rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-hUy .email-3Yq {
  margin: 0rem 0rem 0.2rem 0.4rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c838a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-hUy .emailinp-NLD {
  box-sizing: border-box;
  padding: 1.832rem 5.056rem 2.173rem 5.056rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(176, 186, 195, 0.400000006);
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-e2q {
  margin-bottom: 2.0248rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-e2q .password-C4M {
  margin-bottom: 0.2699rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c838a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-e2q .emailinp-8ih {
  box-sizing: border-box;
  padding: 1.93rem 5.4rem 2.075rem 5.4rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(176, 186, 195, 0.400000006);
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-E13 {
  margin-bottom: 5.8627rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-E13 .confirm-password-aqb {
  margin-bottom: 0.2699rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c838a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .emailinput-E13 .emailinp-veZ {
  box-sizing: border-box;
  padding: 1.93rem 5.4rem 2.075rem 5.4rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(176, 186, 195, 0.400000006);
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .buttoncreateacc-oyF {
  margin: 0rem 0rem 7.096rem 0.766rem;
  width: 75rem;
  height: 6.4664rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5eff8;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .wont-reset-the-password-back-to-login-h33 {
  margin-right: 3.1343rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6eb6ff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.password-reset-t8D .content-tnR .wont-reset-the-password-back-to-login-h33 .wont-reset-the-password-back-to-login-h33-sub-0 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7c838a;
  font-family: Poppins, 'Source Sans Pro';
}
.password-reset-t8D .content-tnR .wont-reset-the-password-back-to-login-h33 .wont-reset-the-password-back-to-login-h33-sub-1 {
}
