
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.password-reset-detail-86y {
  width: 100%;
  height: 98.2rem;
  position: relative;
  overflow: hidden;
  background-color: #003580;
}
.password-reset-detail-86y .content-GDB {
  box-sizing: border-box;
  padding: 5.9rem 7.766rem 24.496rem 6.8rem;
  width: 90.8rem;
  height: 98.2rem;
  position: absolute;
  left: 60.4rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
}
.password-reset-detail-86y .content-GDB .title-xLu {
  margin: 0rem 0.434rem 16.7rem 0rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-reset-detail-86y .content-GDB .emailinput-UKF {
  margin: 0rem 0rem 2.025rem 0.4rem;
  width: 75.8343rem;
  flex-shrink: 0;
}
.password-reset-detail-86y .content-GDB .emailinput-UKF .email-zoP {
  margin-bottom: 0.2699rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c838a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.password-reset-detail-86y .content-GDB .emailinput-UKF .emailinp-8ub {
  width: 100%;
  height: 7.0053rem;
  position: relative;
}
.password-reset-detail-86y .content-GDB .emailinput-UKF .emailinp-8ub .enter-your-email-here-J3P {
  width: 21.2rem;
  height: 3rem;
  position: absolute;
  left: 5.0557rem;
  top: 1.8321rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.password-reset-detail-86y .content-GDB .emailinput-UKF .emailinp-8ub .input-yfK {
  width: 75.8343rem;
  height: 7.0053rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(176, 186, 195, 0.400000006);
}
.password-reset-detail-86y .content-GDB .emailinput-iN1 {
  margin: 0rem 0.4rem 2.025rem 0rem;
  width: 75.8343rem;
  flex-shrink: 0;
}
.password-reset-detail-86y .content-GDB .emailinput-iN1 .password-T4h {
  margin-bottom: 0.2699rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c838a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.password-reset-detail-86y .content-GDB .emailinput-iN1 .emailinp-yBT {
  box-sizing: border-box;
  padding: 1.93rem 5.4rem 2.075rem 5.4rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(176, 186, 195, 0.400000006);
}
.password-reset-detail-86y .content-GDB .emailinput-2fX {
  margin: 0rem 0.4rem 5.863rem 0rem;
  width: 75.8343rem;
  flex-shrink: 0;
}
.password-reset-detail-86y .content-GDB .emailinput-2fX .confirm-password-Ytm {
  margin-bottom: 0.2699rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #7c838a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.password-reset-detail-86y .content-GDB .emailinput-2fX .emailinp-UXX {
  box-sizing: border-box;
  padding: 1.93rem 5.4rem 2.075rem 5.4rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  background-color: rgba(176, 186, 195, 0.400000006);
}
.password-reset-detail-86y .content-GDB .buttoncreateacc-NN1 {
  margin: 0rem 0.434rem 0rem 0.8rem;
  width: calc(100% - 1.2343rem);
  height: 6.4664rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5eff8;
  flex-shrink: 0;
}
.password-reset-detail-86y .finance-e-commerce-startup-workflow-account-information-user-profile-data-e4d {
  width: 54.6rem;
  height: 54.3rem;
  position: absolute;
  left: 2.6rem;
  top: 17.5rem;
  object-fit: contain;
  vertical-align: top;
}
.password-reset-detail-86y .rectangle-2643-YA1 {
  width: 151.2rem;
  height: 98.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.password-reset-detail-86y .modal-05-GLu {
  width: 46.5rem;
  height: 31.9rem;
  cursor: pointer;
  position: absolute;
  left: 60.3rem;
  top: 32.6rem;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR {
  box-sizing: border-box;
  padding: 1rem 1rem 4.5rem 4rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #dee2e6;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.0799999982), 0 0 0.2rem rgba(0, 0, 0, 0.1199999973);
  background-color: #ffffff;
  border-radius: 0.8rem;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR .frame-1041-7sK {
  margin: 0rem 0rem 0.8rem 39.1rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 2.9rem;
  flex-shrink: 0;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR .icon-park-solid-correct-dqf {
  margin: 0rem 3.1rem 1.8rem 0rem;
  width: 4.8rem;
  height: 4.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR .frame-1039-9p1 {
  margin: 0rem 5.35rem 6.2rem 2.35rem;
  width: calc(100% - 7.7rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR .frame-1039-9p1 .unable-to-generate-dfd-gow {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #0b2a3e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR .frame-1039-9p1 .paragraph-cSh {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5714285714;
  color: rgba(11, 42, 62, 0.6000000238);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR .frame-167-9Bj {
  margin-right: 3rem;
  width: 38.5rem;
  height: 4.4rem;
  background-color: #cfdee1;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.password-reset-detail-86y .modal-05-GLu .frame-1038-PgR .frame-167-9Bj .button-gxM {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #0b2a3e;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #cfdee1;
  border-radius: 1.5rem;
}
