
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.kelas-1GH {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ebf8f6;
}
.kelas-1GH .auto-group-sbav-Yn1 {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-sbav-Yn1 .auto-group-afq9-tqs {
  box-sizing: border-box;
  padding: 2rem 1.838rem 1.9rem 1.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #003580;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-sbav-Yn1 .auto-group-afq9-tqs .edupro-d2m {
  margin-right: 9.7375rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2525;
  color: #ff9800;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-sbav-Yn1 .auto-group-afq9-tqs .ic-round-list-917 {
  margin-bottom: 0.0002rem;
  width: 3.225rem;
  height: 1.7916rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-sbav-Yn1 .rectangle-2575-24u {
  width: 121.3rem;
  height: 8rem;
  background-color: #2b7cc6;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD {
  margin-right: 2.9rem;
  width: calc(100% - 2.9rem);
  height: 90.2rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 5.8rem 3.6rem 25.9rem 1.8rem;
  width: 29.9rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.02rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .ellipse-4-Bc1 {
  margin: 0rem 6.8rem 1.2rem 8.7rem;
  width: calc(100% - 15.5rem);
  height: 9rem;
  background-color: #d9d9d9;
  border-radius: 4.5rem;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .username-W8V {
  margin-left: 1.7rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .admin-edupro-2cd {
  margin: 0rem 0rem 7.2rem 2.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-n3sj-kYd {
  margin: 0rem 10.9rem 2.9rem 2.079rem;
  width: calc(100% - 12.9791rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-n3sj-kYd .icon-park-twotone-dashboard-car-etu {
  margin: 0.2rem 1.579rem 0rem 0rem;
  width: 1.7416rem;
  height: 1.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-n3sj-kYd .dashboard-xeh {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .master-data-VuX {
  margin: 0rem 11.7rem 3rem 0rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-2nv1-dF3 {
  margin: 0rem 15.6rem 1.9rem 1.6rem;
  width: calc(100% - 17.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-2nv1-dF3 .mdi-users-ZPb {
  margin: 0rem 1.9rem 0.1rem 0rem;
  width: 2rem;
  height: 1.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-2nv1-dF3 .user-eA9 {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-ghxh-aZb {
  margin-bottom: 1.4rem;
  box-sizing: border-box;
  padding: 0.5rem 14.9rem 1rem 1.626rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #003580;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-ghxh-aZb .vector-hPK {
  margin: 0rem 1.926rem 0.201rem 0rem;
  width: 1.9477rem;
  height: 1.8396rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-ghxh-aZb .kelas-pyj {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-rq2u-MCy {
  margin: 0rem 14.4rem 2.4rem 1.725rem;
  width: calc(100% - 16.125rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-rq2u-MCy .ph-book-open-duotone-58y {
  margin: 0rem 2.025rem 0.144rem 0rem;
  width: 1.75rem;
  height: 1.725rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-rq2u-MCy .mapel-mGh {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .user-menu-udo {
  margin: 0rem 13.5rem 3rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-6aay-3ED {
  margin: 0rem 14.1rem 2.4rem 2.033rem;
  width: calc(100% - 16.1334rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-6aay-3ED .iconamoon-profile-mAD {
  margin: 0rem 2.133rem 0.3rem 0rem;
  width: 1.3334rem;
  height: 1.2666rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-6aay-3ED .profile-HPT {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-wuyz-yn5 {
  margin: 0rem 13.7rem 0rem 2.013rem;
  width: calc(100% - 15.7125rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-wuyz-yn5 .material-symbols-logout-rounded-Wn1 {
  margin: 0rem 2.241rem 0.4rem 0rem;
  width: 1.2467rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .auto-group-seko-64m .auto-group-wuyz-yn5 .logout-S9s {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq {
  margin-top: 3.3rem;
  width: 115.5rem;
  height: 58.3rem;
  position: relative;
  border: solid 0.02rem #000000;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj {
  width: 65rem;
  height: 3.6rem;
  position: absolute;
  left: 4.7rem;
  top: 11.9rem;
  display: flex;
  align-items: center;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj .hasil--CoF {
  margin: 0rem 1.5rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj .auto-group-6jpf-uBs {
  margin-right: 43.4rem;
  width: 5rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj .auto-group-6jpf-uBs .all-SxV {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 0.7rem;
  top: 0.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj .auto-group-6jpf-uBs .mingcute-right-line-A7o {
  width: 1.5072rem;
  height: 1.6rem;
  position: absolute;
  left: 3rem;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj .auto-group-pfzo-e2y {
  box-sizing: border-box;
  padding: 0.7rem 1rem 0.8rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj .auto-group-pfzo-e2y .cari-data-B2u {
  margin-right: 0.8rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-q517-5Tj .auto-group-pfzo-e2y .iconamoon-search-VZP {
  margin-top: 0.1rem;
  width: 1.2rem;
  height: 1.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .kelas-iww {
  width: 5.7rem;
  height: 3.2rem;
  position: absolute;
  left: 3.4rem;
  top: 0.8rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-e99p-EQV {
  width: 54.1rem;
  height: 3.2rem;
  position: absolute;
  left: 7.3rem;
  top: 19.8rem;
  display: flex;
  align-items: flex-start;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-e99p-EQV .id-kelas-kdj {
  margin-right: 17.9rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-e99p-EQV .kelas-h3B {
  margin-right: 17.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-e99p-EQV .opsi-qQH {
  margin-top: 0.3rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-spe5-kGM {
  box-sizing: border-box;
  padding: 0.8rem 2.5rem 0.8rem 0.7rem;
  width: 13.1rem;
  height: 4rem;
  position: absolute;
  left: 3.4rem;
  top: 5.5rem;
  display: flex;
  align-items: center;
  background-color: #007dff;
  border-radius: 0.4rem;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-spe5-kGM .mingcute-user-add-fill-TRf {
  margin-right: 1.4rem;
  width: 2.4rem;
  height: 2.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-spe5-kGM .tambah-niq {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .group-694-7WD {
  width: 10.4rem;
  height: 3.5rem;
  position: absolute;
  left: 46.4rem;
  top: 44.5rem;
  display: flex;
  align-items: center;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .group-694-7WD .auto-group-9agd-3em {
  margin-right: 0.6117rem;
  width: 3.0588rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .group-694-7WD .auto-group-dvrh-Zt1 {
  margin-right: 0.6119rem;
  width: 3.0588rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-10-ysB.png');
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .group-694-7WD .auto-group-t5z5-qKj {
  width: 3.0588rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-ke69-xQM {
  width: 53.2rem;
  height: 3.5rem;
  position: absolute;
  left: 10rem;
  top: 25.8rem;
  display: flex;
  align-items: flex-start;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-ke69-xQM .item-1-4iH {
  margin-right: 22.5rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-ke69-xQM .x-ipa-1-zrq {
  margin: 0.1rem 15.9rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-ke69-xQM .group-691-tSR {
  width: 7.9rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-6lzz-2oX {
  width: 53.6rem;
  height: 3.5rem;
  position: absolute;
  left: 9.6rem;
  top: 32.8rem;
  display: flex;
  align-items: center;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-6lzz-2oX .item-2-mWD {
  margin: 0rem 22.8rem 0.4rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-6lzz-2oX .auto-group-pri1-HzM {
  margin: 0.4rem 15.9rem 0.4rem 0rem;
  width: 5.9rem;
  height: calc(100% - 0.8rem);
  position: relative;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-6lzz-2oX .auto-group-pri1-HzM .x-ipa-1-2S9 {
  width: 5.9rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-6lzz-2oX .auto-group-pri1-HzM .x-ipa-1-xKo {
  width: 5.9rem;
  height: 2.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .auto-group-6lzz-2oX .group-690-fV7 {
  width: 7.9rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .saly-22-cQM {
  width: 34.7rem;
  height: 39.5rem;
  position: absolute;
  left: 73.6rem;
  top: 6.1rem;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .saly-22-cQM .saly-22-vA9 {
  width: 34.7rem;
  height: 39.5rem;
  object-fit: cover;
  vertical-align: top;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .line-11-GE1 {
  width: 66.3rem;
  height: 0.06rem;
  position: absolute;
  left: 3.4rem;
  top: 18.9rem;
  background-color: #000000;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .line-12-bXB {
  width: 66.3rem;
  height: 0.06rem;
  position: absolute;
  left: 3.4rem;
  top: 23.6rem;
  background-color: #000000;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .line-13-92u {
  width: 66.7rem;
  height: 0.02rem;
  position: absolute;
  left: 2.4rem;
  top: 31.2rem;
  background-color: #000000;
}
.kelas-1GH .auto-group-wwqs-9vD .group-698-MGq .line-14-Snh {
  width: 66.7rem;
  height: 0.02rem;
  position: absolute;
  left: 2.4rem;
  top: 38.9rem;
  background-color: #000000;
}
