
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.ujian-tentor-JK7 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ebf8f6;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM {
  width: 29.9rem;
  height: 100.5rem;
  position: relative;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .rectangle-2572-xuT {
  width: 29.9rem;
  height: 94.3rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  border: solid 0.02rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .rectangle-2637-HB3 {
  width: 24.5rem;
  height: 3.9rem;
  position: absolute;
  left: 2rem;
  top: 54.4rem;
  background-color: #003580;
  border-radius: 0.5rem;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .rectangle-2574-ofB {
  width: 29.9rem;
  height: 8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #003580;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .ellipse-4-9yw {
  width: 9rem;
  height: 9rem;
  position: absolute;
  left: 10.5rem;
  top: 13.8rem;
  background-color: #d9d9d9;
  border-radius: 4.5rem;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .edupro-giy {
  width: 13.2rem;
  height: 4.1rem;
  position: absolute;
  left: 1.9rem;
  top: 2rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2525;
  color: #ff9800;
  font-family: Orbitron, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .ic-round-list-yxy {
  width: 3.225rem;
  height: 1.7917rem;
  position: absolute;
  left: 24.8375rem;
  top: 3.1542rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .username-i9s {
  width: 6.8rem;
  height: 2.1rem;
  position: absolute;
  left: 11.5rem;
  top: 24rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #1c1d1f;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .tentor-menu-cm3 {
  width: 9.9rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 40.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .user-menu-j4y {
  width: 7.4rem;
  height: 2.1rem;
  position: absolute;
  left: 3.6rem;
  top: 60rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .icon-park-twotone-dashboard-car-2Zs {
  width: 1.7417rem;
  height: 1.65rem;
  position: absolute;
  left: 3.8792rem;
  top: 35.675rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .iconamoon-profile-9eV {
  width: 1.3333rem;
  height: 1.2667rem;
  position: absolute;
  left: 3.8333rem;
  top: 65.5167rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .material-symbols-logout-rounded-4mT {
  width: 1.2467rem;
  height: 1.35rem;
  position: absolute;
  left: 3.8125rem;
  top: 70.225rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .ph-book-open-duotone-P33 {
  width: 1.75rem;
  height: 1.725rem;
  position: absolute;
  left: 3.725rem;
  top: 46.0313rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .ph-book-duotone-Jfo {
  width: 1.65rem;
  height: 1.7875rem;
  position: absolute;
  left: 3.675rem;
  top: 50.7063rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .healthicons-i-exam-multiple-choice-RkR {
  width: 1.875rem;
  height: 1.65rem;
  position: absolute;
  left: 3.4125rem;
  top: 55.475rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .tentor-edupro-Yq3 {
  width: 8.4rem;
  height: 1.9rem;
  position: absolute;
  left: 10.5rem;
  top: 26.3rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .dashboard-raq {
  width: 8.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.3rem;
  top: 35.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .materi-N3P {
  width: 4.7rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.4rem;
  top: 45.6rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .tugas-UcD {
  width: 4.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.3rem;
  top: 50.4rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .try-out-bB3 {
  width: 5.5rem;
  height: 2.4rem;
  position: absolute;
  left: 7.3rem;
  top: 55.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .profile-iFf {
  width: 4.9rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 7.3rem;
  top: 65.1rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-mh73-FEM .logout-2n9 {
  width: 5.3rem;
  height: 2.4rem;
  position: absolute;
  left: 7.3rem;
  top: 69.9rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #7c838a;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu {
  width: 121.3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .rectangle-2575-5kR {
  margin-bottom: 2.7rem;
  width: 100%;
  height: 8rem;
  background-color: #2b7cc6;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq {
  margin: 0rem 3.5rem 0rem 2.3rem;
  box-sizing: border-box;
  padding: 2.2rem 3rem;
  width: calc(100% - 5.8rem);
  height: 50.9rem;
  border: solid 0.02rem #000000;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb {
  width: 84.4rem;
  height: 36.2rem;
  position: relative;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-zvvw-r8u {
  width: 10.7rem;
  height: 3.6rem;
  position: absolute;
  left: 2.3rem;
  top: 11.1rem;
  display: flex;
  align-items: center;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-zvvw-r8u .hasil--mmf {
  margin: 0rem 1.5rem 0.1rem 0rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-zvvw-r8u .auto-group-jc4m-tbP {
  width: 5rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-zvvw-r8u .auto-group-jc4m-tbP .all-E9T {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 0.7rem;
  top: 0.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-zvvw-r8u .auto-group-jc4m-tbP .mingcute-right-line-LTP {
  width: 1.5072rem;
  height: 1.6rem;
  position: absolute;
  left: 3rem;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .try-out-E2y {
  width: 8.5rem;
  height: 3.4rem;
  position: absolute;
  left: 1rem;
  top: 0;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.3075;
  color: #555555;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-7lff-wxy {
  width: 74.5rem;
  height: 3.2rem;
  position: absolute;
  left: 2.3rem;
  top: 19rem;
  display: flex;
  align-items: flex-end;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-7lff-wxy .nama-materi-H1F {
  margin: 0rem 15rem 0.3rem 0rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-7lff-wxy .mapel-CP7 {
  margin-right: 14.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-7lff-wxy .kelas-wbb {
  margin: 0rem 14.8rem 0.1rem 0rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-7lff-wxy .opsi-gJH {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #003580;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-qygh-RWm {
  width: 9.5rem;
  height: 4rem;
  position: absolute;
  left: 1rem;
  top: 4.7rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007dff;
  border-radius: 0.4rem;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .line-12-JqT {
  width: 83.4rem;
  height: 0.06rem;
  position: absolute;
  left: 1rem;
  top: 22.8rem;
  background-color: #000000;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .line-15-Ej7 {
  width: 83.4rem;
  height: 0.06rem;
  position: absolute;
  left: 1rem;
  top: 18.4rem;
  background-color: #000000;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .line-13-yRo {
  width: 83.6rem;
  height: 0.02rem;
  position: absolute;
  left: 0;
  top: 30.4rem;
  background-color: #000000;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .group-694-7nu {
  width: 10.4rem;
  height: 3.5rem;
  position: absolute;
  left: 37.5rem;
  top: 32.7rem;
  display: flex;
  column-gap: 0.6118rem;
  align-items: center;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .group-694-7nu .auto-group-nznd-SKP {
  width: 3.0588rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .group-694-7nu .auto-group-pjbk-Bnm {
  width: 3.0588rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #ffffff;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-10.png');
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .group-694-7nu .auto-group-yhid-5dF {
  width: 3.0588rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-merq-EFF {
  width: 76.9rem;
  height: 3.6rem;
  position: absolute;
  left: 2.8rem;
  top: 25rem;
  display: flex;
  align-items: flex-start;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-merq-EFF .senyawa-kimia-kzH {
  margin: 0.1rem 14.7rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-merq-EFF .kimia-HDX {
  margin-right: 15.2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-merq-EFF .xii-ipa-1-RKj {
  margin: 0.1rem 14.1rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3075;
  color: #4c4e52;
  font-family: Assistant, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ujian-tentor-JK7 .auto-group-uqqs-Xiu .auto-group-ykuj-DLq .group-698-iHb .auto-group-merq-EFF .group-691-MUH {
  margin-top: 0.1rem;
  width: 7.9rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
