<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Detail Tugas Tentor 4</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/detail-tugas-tentor-4.css"/>
</head>
<body>
<div class="detail-tugas-tentor-4-Hi5">
  <div class="auto-group-3sc9-Drd">
    <div class="auto-group-skv9-xZK">
      <p class="edupro-swB">EduPro</p>
      <img class="ic-round-list-o49" src="./assets/ic-round-list-iV3.png"/>
    </div>
    <div class="auto-group-sdu9-igu">
      <div class="ellipse-4-RbK">
      </div>
      <p class="username-XuF">Username</p>
      <p class="tentor-edupro-fEm">Tentor EduPro</p>
      <div class="auto-group-xswp-aMj">
        <img class="icon-park-twotone-dashboard-car-VzV" src="./assets/icon-park-twotone-dashboard-car-fQy.png"/>
        <a href="./dashboard-tentor.html"><p class="dashboard-DQh">Dashboard</p></a>
      </div>
      <p class="siswa-menu-kQd">siswa MENU</p>
      <div class="auto-group-cmyf-GNy">
        <img class="ph-book-open-duotone-PiV" src="./assets/ph-book-open-duotone-C7X.png"/>
        <a href="./materi-tentor.html"><p class="materi-Wo7">Materi</p></a>
      </div>
      <div class="auto-group-f6m3-43w">
        <img class="ph-book-duotone-nVj" src="./assets/ph-book-duotone-dru.png"/>
        <a href="./tugas-tentor.html"><p class="tugas-Wgd">Tugas</p></a>
      </div>
      <div class="auto-group-vrok-Db3">
        <img class="healthicons-i-exam-multiple-choice-9Do" src="./assets/healthicons-i-exam-multiple-choice-1aD.png"/>
        <a href="./ujian-tentor.html"><p class="try-out-Fnd">Try Out</p></a>
      </div>
      <p class="user-menu-bbb">user MENU</p>
      <div class="auto-group-9mmp-KnV">
        <img class="iconamoon-profile-rXX" src="./assets/iconamoon-profile-hxh.png"/>
        <a href="./tentor-user.html"><p class="profile-CLV">Profile</p></a>
      </div>
      <div class="auto-group-fhkq-jbK">
        <img class="material-symbols-logout-rounded-sSd" src="./assets/material-symbols-logout-rounded-A4M.png"/>
        <a href="./landing-page-.html"><p class="logout-Pfs">Logout</p></a>
      </div>
    </div>
  </div>
  <div class="auto-group-reld-uPK">
    <div class="rectangle-2575-2D3">
    </div>
    <div class="group-675-xcV">
      <img class="vector-fG1" src="./assets/vector-xWZ.png"/>
      <p class="kembali-1Ks">Kembali</p>
    </div>
    <div class="rectangle-2592-vxd">
    </div>
    <p class="nama-tugas-Dgq">Nama Tugas</p>
    <p class="upload-file-XSd">Upload File</p>
    <p class="text-Erq">Text</p>
    <p class="mata-pelajaran-m65">Mata Pelajaran</p>
    <p class="kelas-5Mf">Kelas </p>
    <img class="ph-book-open-duotone-nms" src="./assets/ph-book-open-duotone-D2V.png"/>
    <p class="tambah-materi-urV">Tambah Materi</p>
    <div class="group-674-RZw">
      <img class="vector-vWh" src="./assets/vector-HL1.png"/>
      <a href="./tambah-tugas-tentor.html"><p class="kembali-fjB">Kembali</p></a>
    </div>
    <div class="rectangle-2643-QAy">
    </div>
    <p class="due-date-JGM">Due Date</p>
    <div class="rectangle-2644-DeD">
    </div>
    <div class="rectangle-2645-Jff">
    </div>
    <div class="rectangle-2639-QTo">
    </div>
    <div class="rectangle-2640-u9f">
    </div>
    <p class="pilih-nz9">Pilih</p>
    <p class="pilih-Vdf">Pilih</p>
    <img class="mingcute-right-line-ouF" src="./assets/mingcute-right-line-e29.png"/>
    <img class="mingcute-right-line-j2D" src="./assets/mingcute-right-line-9bB.png"/>
    <div class="rectangle-2641-44V">
    </div>
    <img class="image-23-kT7" src="./assets/image-23-iih.png"/>
    <div class="rectangle-2580-Utu">
    </div>
    <p class="choose-file-BoK">Choose file...</p>
    <div class="rectangle-2583-J7F">
    </div>
    <p class="browse-p5b">Browse</p>
    <p class="hh-bb-tttt-veR">hh/bb/tttt</p>
    <p class="item--Rr5">-- --</p>
    <img class="group-710-8kV" src="./assets/group-710.png"/>
  </div>
</div>
</body>