<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C500%2C600"/>
  <link rel="stylesheet" href="./styles/login.css"/>
</head>
<body>
<div class="login-jzM">
  <img class="login-page-img-Uww" src="./assets/login-page-img-yj3.png"/>
  <div class="content-zvH">
    <p class="title-Wdj">Login your Account</p>
    <div class="emailinput-2c5">
      <p class="email-atV">Email</p>
      <div class="emailinp-uQy">
        <p class="enter-your-email-here-Fzd">Enter your Email here</p>
        <div class="input-M25">
        </div>
      </div>
    </div>
    <div class="passwordinput-UsP">
      <p class="password-2tu">Password</p>
      <div class="passwordinp-MwB">
        <p class="enter-your-password-here-vUV">Enter your Password here</p>
        <div class="input-pZs">
        </div>
      </div>
    </div>
    <a href="./dashboard-admin-.html"><div class="buttoncreateacc-ZnM">Login Here</div></a>
    <p class="forgot-your-password-reset-here-EtV">
      <span class="forgot-your-password-reset-here-EtV-sub-0">Forgot Your Password?</span>
      <a href="./password-reset.html">
        <span class="forgot-your-password-reset-here-EtV-sub-1">  Reset Here!</span>
      </a>
    </p>
  </div>
</div>
</body>