<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Tambah Tugas Tentor</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Assistant%3A400%2C600%2C700"/>
  <link rel="stylesheet" href="./styles/tambah-tugas-tentor.css"/>
</head>
<body>
<div class="tambah-tugas-tentor-fZf">
  <div class="auto-group-jqh3-1dX">
    <div class="rectangle-2572-jZX">
    </div>
    <div class="rectangle-2637-4Lu">
    </div>
    <div class="rectangle-2574-PPB">
    </div>
    <div class="ellipse-4-wQh">
    </div>
    <p class="edupro-5G1">EduPro</p>
    <img class="ic-round-list-nAR" src="./assets/ic-round-list-8Xo.png"/>
    <p class="username-ukq">Username</p>
    <p class="tentor-menu-24m">TENTOR MENU</p>
    <p class="user-menu-LbF">user MENU</p>
    <img class="icon-park-twotone-dashboard-car-TQy" src="./assets/icon-park-twotone-dashboard-car-v1j.png"/>
    <img class="iconamoon-profile-yeD" src="./assets/iconamoon-profile-BqP.png"/>
    <img class="material-symbols-logout-rounded-W8M" src="./assets/material-symbols-logout-rounded-Mmw.png"/>
    <img class="ph-book-open-duotone-2cV" src="./assets/ph-book-open-duotone-fPs.png"/>
    <img class="ph-book-duotone-kYV" src="./assets/ph-book-duotone-KrD.png"/>
    <img class="healthicons-i-exam-multiple-choice-teh" src="./assets/healthicons-i-exam-multiple-choice-Ffs.png"/>
    <p class="tentor-edupro-R8q">Tentor EduPro</p>
    <a href="./dashboard-tentor.html"><p class="dashboard-vLV">Dashboard</p></a>
    <a href="./materi-tentor.html"><p class="materi-2eR">Materi</p></a>
    <a href="./tugas-tentor.html"><p class="tugas-YMs">Tugas</p></a>
    <a href="./ujian-tentor.html"><p class="try-out-Fn5">Try Out</p></a>
    <a href="./tentor-user.html"><p class="profile-yCH">Profile</p></a>
    <a href="./landing-page-.html"><p class="logout-gMb">Logout</p></a>
  </div>
  <div class="auto-group-xk2d-Caq">
    <div class="rectangle-2575-jqf">
    </div>
    <div class="auto-group-ovkv-HsB">
      <div class="auto-group-hr2z-dw3">
        <div class="group-698-jz5">
          <div class="auto-group-5tnz-5Y9">
            <p class="hasil--D8Z">Hasil :</p>
            <div class="auto-group-ypad-Xf3">
              <p class="all-UqB">All  </p>
              <img class="mingcute-right-line-o6m" src="./assets/mingcute-right-line-6oX.png"/>
            </div>
          </div>
          <p class="tugas-HGq">Tugas</p>
          <div class="auto-group-tkcy-Cub">
            <p class="nama-materi-8oF">NAMA MATERI</p>
            <p class="mapel-TKj">MAPEL</p>
            <p class="kelas-PjB">KELAS</p>
            <p class="opsi-Ksj">OPSI</p>
          </div>
          <div class="auto-group-5asf-fRo">
            <img class="ph-book-open-duotone-xQu" src="./assets/ph-book-open-duotone-j2M.png"/>
            <a href="./detail-tugas-tentor-4.html"><p class="tambah-tugas-UPF">Tambah Tugas</p></a>
          </div>
          <div class="line-12-noF">
          </div>
          <div class="line-15-igu">
          </div>
          <div class="line-13-TeV">
          </div>
          <div class="group-694-zuK">
            <img class="auto-group-fmyy-KAu" src="./assets/auto-group-fmyy.png"/>
            <div class="auto-group-wipx-TH7">1</div>
            <img class="auto-group-s4yb-wxy" src="./assets/auto-group-s4yb.png"/>
          </div>
          <div class="auto-group-fcsy-5pH">
            <p class="senyawa-kimia-1T3">Senyawa Kimia</p>
            <p class="kimia-uHX">Kimia</p>
            <p class="xii-ipa-1-3Pj">XII-IPA-1</p>
            <img class="group-691-kZ3" src="./assets/group-691-N53.png"/>
          </div>
        </div>
      </div>
      <img class="group-707-2WZ" src="./assets/group-707-rr9.png"/>
    </div>
  </div>
</div>
</body>